{* BEGIN: main *}
{* BEGIN: top_menu *}
<li>
    <a class="" href="{$TOP_MENU->url}" target="{$TOP_MENU->target}" title="{$TOP_MENU->description}">
        <span class="{$TOP_MENU->classes}" style="font-size: 13px"></span>&nbsp;<span class="mkdf-icon-text " style="font-size: 13px">{$TOP_MENU->title_clean}</span>
    </a>
</li>
{* END: top_menu *}
{* END: main *}