.shop-page-heading .woocommerce-ordering .select2-container--default .select2-selection--single{background-color:#fff;padding:0 .75rem;}
.shop-page-heading .woocommerce-ordering .select2-container--default .select2-selection--single{border-radius:0px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.shop-page-heading .select2-container--default .select2-selection--single .select2-selection__rendered{color:#333;}
.shop-page-heading .select2-dropdown.select2-dropdown--below{background-color:#fff;}
.shop-page-heading .select2-container--default{width:80px;max-width:150px;margin:0;}
.woocommerce-page .select2-container--default .select2-results__option[aria-selected=true]{color:#00a000}
.shop-page-heading .select2-container .select2-selection{border:solid 1px #ddd;}
.woocommerce-page .select2-container--default .select2-results__options{padding-left:.75rem !important;padding-right:.75rem !important;border:solid 1px #ddd !important;margin:0 !important;border-top:0 !important;}
.select2-container--default .select2-selection--single{border-color:#ccc !important;}
.woocommerce-page .select2-container--default .select2-dropdown{border:0 !important;}
.select2-dropdown .select2-search--dropdown{border-left:solid 1px #ddd;border-right:solid 1px #ddd;}
.select2-selection__placeholder{color:#a5a5a5 !important;}
.form-row .select2-container{margin-bottom:.5em;}
.select2-container--default .select2-search--dropdown .select2-search__field:focus{border-color:#21b7d1 !important;box-shadow:none;}
.select2-container--default .select2-results__option--highlighted{color:green !important;}
body .select2-container--default .select2-results__option{padding:5px 0;font-size:15px;line-height:15px;}
.widget_price_filter .ui-slider .ui-slider-handle{width:15px;height:13px;top:-4px;border-radius:0%;}
.widget_price_filter .ui-slider .ui-slider-handle{background-color:#fff;border:solid 2px #f04336;}
.widget_price_filter .ui-slider .ui-slider-range{background-color:#449d44;opacity:.7;cursor:pointer;}
.widget_price_filter .price_slider_amount .button{float:right;margin-right:0;background:#fff;color:#17a2b8;border:solid 1px #17a2b8;}
.widget_price_filter .price_slider_amount .button:hover{box-shadow:none;background:#17a2b8;color:#fff;}
.widget.woocommerce.widget_price_filter .price_slider_amount .price_label{float:left;}
.widget_price_filter .price_slider_amount{position:relative;}
.widget_price_filter .price_slider_amount .button{position:absolute;right:-10px;}
.nav-pagination>li>.current, .nav-pagination>li>span:hover, .nav-pagination>li>a:hover{border-color:#17a2b8;background-color:#17a2b8;color:#FFF;}
.nav-pagination>li>span, .nav-pagination>li>a{border:2px solid #17a2b8;color:#17a2b8;}
.nav-pagination .page-number{color:#17a2b8;}
.product-main .tooltip{position:relative;}
.product-main .share-icons a, .product-main .image-tools a{text-align:center;}
.shop-container .shop_attributes{width:auto;}
.product-main .price-wrapper .price del{color:#bebebe;}
.product-main .price-wrapper .price ins{color:red;}
.product-main .social-icons{margin-bottom:.75rem;}
.product-footer .container{}
.product-thumbnails img{max-width:100%;width:unset;max-height:400px;}
.product-gallery-slider img{max-width:100%;width:unset;}
.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image{text-align:center;}
.woocommerce-product-gallery__wrapper .slide img{visibility:hidden;}
.woocommerce-product-gallery__wrapper .slide.is-selected img{visibility:visible;}
.product-thumbnails a:hover, .product-thumbnails .is-nav-selected a{border-color:#449d44;}
.product-footer .woocommerce-tabs{border:0;}
.product-footer .product-section{border-top:0;}
.product-main .product-images .badge, .product-footer .badge{display:table;padding:inherit;font-size:inherit;}
.product-main .single_variation_wrap{margin-bottom:.75rem;}
.mkdf-sidebar .widget.widget_product_categories{background-color:#f7f7f5;padding:37px 15px 33px;border-radius:4px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.mkdf-sidebar .widget .mkdf-widget-title-holder{position:relative;-webkit-transition:opacity .2s ease-out;-o-transition:opacity .2s ease-out;transition:opacity .2s ease-out;display:inline-block;padding:6px 15px 9px 11px;margin-bottom:20px;}
@media (max-width: 549px){
.small-nav-collapse>li {
width: auto;
}
}