.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn{
    border-radius: 0;
}

.btn-pd-lg{
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn:disabled{
    cursor: not-allowed ;
}

.btn-default{
    color: #333;
    background: #fff;
}

.btn-success:hover{
    box-shadow: none ;
}

.btn-success:focus{
    color: #fff ;
    background-color: #449d44 ;
    border-color: #398439 ;
    box-shadow: none ;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-border-info {
    background-color: #fff;
    border: solid 2px #17a2b8;
    color: #17a2b8;
    font-weight: 500;
}

.btn-border-info:hover{
    color: #fff;
    background-color: #17a2b8;
}

.btn-border-warning {
    background-color: #fff;
    border: solid 2px #f57224;
    color: #f57224;
    font-weight: 500;
}

.btn-border-warning:hover{
    color: #fff !important;
    background-color: #f57224;
}

.btn:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus, .btn-info.focus, .btn-info:focus{
    box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-warning {
    color: #fff;
    background-color: #f57224 !important;
    border-color: #f57224 !important;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #fff;
    background-color: #e66a20;
    border-color: #e66a20;
    box-shadow: none;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle{
    box-shadow: none;
    background-color: #e66a20;
    border-color: #e66a20;
    color: #fff;
}


.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus{
    box-shadow: none;
    color: #fff;
}

.message-container.alert-color {
    color: red;
    font-weight: 500;
}

.message-container.success-color {
    color: #60c300;
    font-weight: 500;
}

.color-holder{
    color: #a5a5a5 !important;
}

.color-green{
    color: #5cb85c !important;
}

.color-info{
    color: #21b7d1;
}

.color-primary{
    color: #21b7d1;
}

.color-red{
    color: red;
}

.color-pink{
    color: #FF6990;
}

.bg-pink{
    background: #FF6990 !important;
}



.color-3{
    color: #333;
}

.color-6{
    color: #666;
}

.rounded-img img{
    border-radius: .25rem!important;
}

span.amount{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.font-weight-500{
    font-weight: 600 !important;
}

.pl-2-5{
    padding-left: .75rem!important;
}
.pr-2-5{
    padding-right: .75rem!important;
}
.px-2-5{
    padding-left: .75rem!important;
    padding-right: .75rem!important;
}

.pt-2-5{
    padding-top: .75rem!important;
}
.pb-2-5{
    padding-bottom: .75rem!important;
}
.py-2-5{
    padding-top: .75rem!important;
    padding-bottom: .75rem!important;
}

.text-size-n2{
    font-size: .85rem !important;
}

.text-size-n1{
    font-size: .9rem !important;
}
.text-size-1{
    font-size: 1rem !important;
}
.text-size-2{
    font-size: 1.1rem !important;
}
.text-size-3{
    font-size: 1.3rem !important;
}
.text-size-4{
    font-size: 1.4rem !important;
}

.display-6{
    font-size: 1.3rem;
}
.text-underline{
    text-decoration: underline!important;
}

.block_banner .item{
    margin-bottom: 1.5rem;
    text-align: center;
}

input[type=checkbox]:hover, input[type=radio]:hover{
    cursor: pointer;
}

.link_default:hover{
    color: #1a9cb7;
}

.link_default:hover{
    color: #16849b;
}

.show_onloaded{
    visibility: hidden;
}

.border-dashed{
    border-style: dashed !important;
}