.page-wrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

label{
    color: inherit !important;
}

.shop-container{

}
#elementor-lightbox-slideshow-single-img{
    display: none !important;
}

.shop-container{
    width: 100% !important;
}

.pswp{
    z-index: 9999;
}

.product-info .cart {
    float: unset !important;
}

.product-info .cart>div{
    float: unset !important;
}

.product-info .cart .button{
    margin-bottom: unset!important;
}

#cart_detail .ajax_add_to_cart:before{
    display: none ;
}

.table .product-remove a.remove:before, table .product-remove a.remove:before{
    display: none !important;
}

.product-info .price{
    padding: inherit !important;
}

.product-info .woocommerce-Price-amount{
    color: red;
}
.woocommerce-cart-form table.shop_table{
    min-width: unset !important;
}

#order_review th, #order_review td{
    border: none;
}

#payment .place-order{
    margin: 0;
}

.topbar-right .email{
    margin-right: 10px;
}

#menu-vertical-menu button.toggle , #menu-main-menu button.toggle{
    display: none !important;
}

.categories-vertical-menu .bwp-vertical-navigation>div ul.menu li.level-0.menu-item-has-children>a:after{
    font: normal normal normal 14px/1 FontAwesome!important;
    content: "\f105"!important;
    top: calc(50% - 7px)!important;
}

.bwp-navigation ul>li.level-0.menu-item-has-children>a:after{
    font-family: FontAwesome!important;
    content: "\f107"!important;
}

.categories-vertical-menu .bwp-vertical-navigation>div ul.menu li.level-0.mega-menu div.sub-menu {
    max-width: 800px;
}
.header-phone{
    margin-right: 100px !important;
}

.bwp-header.header-v4 .header-page-link .mini-cart .cart-icon .cart-count{
    background: red !important;
}

#bwp-topbar .topbar-right>* {
    display: inline-block;
    line-height: 20px;
}

.bwp-widget-banner .bwp-image{
    margin-bottom: 30px;
    text-align: center;
}
@media (min-width: 992px){
    .bwp-header .wpbingoLogo img{
        max-height: 70px !important;
    }
}


.product-button .product_type_simple{
    color: #000;
}
@font-face {font-family: "icomoon";
    src: url("../fonts/icomoon.eot"); /* IE9*/
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/icomoon.woff") format("woff"), /* chrome firefox */
    url("../fonts/icomoon.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/icomoon.svg#icomoon") format("svg"); /* iOS 4.1- */
}

.input-search:focus{
    background: transparent !important;
}

@media (min-width: 1800px){
    .bwp-header.header-v4 .container {
        max-width: 1600px !important;
    }
}

.elementor-container {
    max-width: 1600px !important;
}

.elementor-element-b316f60 .banner-wrapper-infor .button{
    background: transparent !important;
}

.elementor-element-b316f60 .banner-wrapper-infor .title-banner, .elementor-element-b316f60  .banner-wrapper-infor .button{
    color: red !important;
}

.bwp-widget-banner.layout-7 .button:hover {
    background: #44a649;
    color: #fff;
}

/*.categories-vertical-menu .bwp-vertical-navigation>div ul.menu li.level-0 {
    display: list-item !important;
}*/

.categories-vertical-menu .bwp-vertical-navigation>div ul.menu li.level-0.menu-item-has-children div.sub-menu {
    margin-top: -50px;
    top: unset !important;
}

.categories-vertical-menu .bwp-vertical-navigation>div ul.menu .more-wrap span:before {
    font-family: FontAwesome !important;
    content: "\f107"!important;
}

.categories-vertical-menu .bwp-vertical-navigation>div ul.menu .more-wrap.open span:before {
    font-family: FontAwesome !important;
    content: "\f106"!important;
}

.products-list.grid .product-wapper .products-thumb {
    padding: 5px !important;
}

.bwp-brand.default2 .item-image img{
    max-height: 150px;
}

.elementor-11277 .elementor-element.elementor-element-f12d745>.elementor-widget-container {
    margin: 0;
    padding: 10px 50px 7px;
    background-color: #44a649;
    border-radius: 30px;
}

footer .elementor-element-19670e2 .elementor-image{
    text-align: left !important;
}

footer .elementor-element-19670e2 .elementor-image img{
    max-width: 120px;
}
footer .elementor-element-6d03ff3 .elementor-clearfix p{
    white-space: pre-line;
}

footer .elementor-element-623f98a .elementor-icon, footer .elementor-element-623f98a .elementor-icon-box-title{
    font-size: 16px !important;
}

footer .elementor-element-d0e9f05 .elementor-icon, footer .elementor-element-d0e9f05 .elementor-icon-box-title{
    font-size: 16px !important;
}

.elementor-widget:not(:last-child){
    margin-bottom: unset !important;
}

.elementor-element-ae3abe8  .elementor-widget:not(:last-child), .elementor-element-a0d7f4b .elementor-widget:not(:last-child){
    margin-bottom: 20px !important;
}

.elementor-element-294e4fa .footer-coppyright{
    background: #0f0f0f;
}

.working-time{
    color: #608293;
    margin-bottom: 0 !important;
}

.working-time-text{
    color: #608293;
}

.footer-phonenumber{
    display: block;
}

.footer-phonenumber-text{
    color: red;
    font-size: 20px;
    display: block;
}

.back-top{
    bottom: 100px !important;
}

/*zalo*/
.zalo-container img {
    max-width: 100%;
    height: auto;
}

.zalo-container {
    position: fixed;
    bottom: 8rem;
    z-index: 9;
}

.zalo-container:not(.right) {
    left: 2.5rem;
}

.zalo-container.right {
    right: 2.5rem;
}

.zalo-container a {
    display: block;
}

.zalo-container .zalo-ico {
    display: block;
    position: relative;
    z-index: 12;
    cursor: pointer;
}

.zalo-container .zalo-ico:before {
    top: 2px;
    left: 36px;
    z-index: 4;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    border: 1px solid #fff;
    background-color: #7ed321;
}

.zalo-container .zalo-ico .zalo-ico-main {
    display: block;
    position: relative;
    z-index: 3;
    width: 58px;
    height: 58px;
}

.zalo-container .zalo-ico em {
    position: absolute;
    top: 7px;
    left: 17px;
}

.zalo-container .zalo-ico em:after, .zalo-container .zalo-ico em:before {
    left: -4px;
    top: 2px;
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 100%;
    -webkit-animation: Grow 1.5s linear infinite;
    animation: Grow 1.5s linear infinite;
}

.zalo-container .zalo-ico em:before {
    -webkit-box-shadow: 0 0 8px 4px #7ed321;
    box-shadow: 0 0 8px 4px #7ed321;
}

.zalo-container .zalo-ico em:after {
    -webkit-box-shadow: inset 0 0 6px 2px #7ed321;
    box-shadow: inset 0 0 6px 2px #7ed321;
}

@-webkit-keyframes Grow {
    0% {
        transform:scale(0.1);
        -ms-transform:scale(0.1);
        -webkit-transform:scale(0.1);
        opacity:0;
        filter:alpha(opacity=0);
    }
    50% {
        opacity:1;
        filter:alpha(opacity=100);
    } to {
          transform:scale(1.8);
          -ms-transform:scale(1.8);
          -webkit-transform:scale(1.8);
          opacity:0;
          filter:alpha(opacity=0);
      }
}

@keyframes Grow {
    0% {
        transform:scale(0.1);
        -ms-transform:scale(0.1);
        -webkit-transform:scale(0.1);
        opacity:0;
        filter:alpha(opacity=0);
    }
    50% {
        opacity:1;
        filter:alpha(opacity=100);
    } to {
          transform:scale(1.8);
          -ms-transform:scale(1.8);
          -webkit-transform:scale(1.8);
          opacity:0;
          filter:alpha(opacity=0);
      }
}

.mini-cart .cart-popup{
    width: unset !important;
    padding: unset!important;
    border: unset!important;
}

.mkdf-sc-dropdown-item-title a{
    color: #333 !important;
}

.mkdf-sc-dropdown-item-content .remove_from_cart_button {
    display: none;
}

.widget_price_filter .price_slider_amount .button{
    padding: 0px 5px !important;
    line-height: unset !important;
    text-uppercase: unset !important;
}

.bwp-main{
    min-height: 700px;
}

.bwp-header .header-mobile .navbar-toggle:before{
    font-family: FontAwesome !important;
    content: "\f0c9"!important;
}

.bwp-header .header-mobile #show-verticalmenu:before {
    font-family: FontAwesome !important;
    content: "\f0ca"!important;
}

.bwp-canvas-navigation .remove-megamenu:after, .bwp-canvas-vertical .remove-verticalmenu:after{
    font-family: FontAwesome !important;
    content: "\f00d"!important;
}

.bwp-header .header-page-link .mini-cart .cart-icon i {
    font-size: 25px;
}

#canvas-main-menu .has-child .toggle{
    display: none !important;
}

.categories-vertical-menu .widget-title:after{
    font-family: FontAwesome!important;
    content: "\f107"!important;
}

.out_of_stock, .stock.out-of-stock{
    color: #b39393;
}

ul.menu>li ul{
    display: block !important;
    border: unset !important;
}

.bwp-navigation ul>li.level-0.mega-menu.mega-menu-fullwidth-width>.sub-menu .content-megamenu {
    padding: 40px 0 70px;
}

.elementor-12246 .elementor-element.elementor-element-9c716f3:not(.elementor-motion-effects-element-type-background), .elementor-12246 .elementor-element.elementor-element-9c716f3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu-main-menu .sub-menu{
    width: 100% !important;
    left: 50%!important;
    -webkit-transform: translate(-50%,20px) !important;
    transform: translate(-50%,20px) !important;
    padding: 0!important;
    box-shadow: 3px 3px 45px 0 rgb(0 0 0 / 5%);
    min-width: auto;
}

.bwp-navigation ul>li.level-0{
    position: static !important;
}

.bwp-navigation ul>li.level-0 .sub-menu{
    top: calc(100% - 20px) !important;
}

.bwp-recent-post.blog-menu .entry-title{
    font-size: 14px !important;
}

.elementor-element-9c716f3 .elementor-heading-title{
    font-size: 14px !important;
    padding-bottom: 5px;
}

.elementor-element-38b1f54{
    margin-top: 10px !important;
}

.elementor-element-9c716f3 .elementor-heading-title:before {
    position: absolute;
    bottom: -3px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    width: 50px;
    background: #44a649;
    content: "";
    left: 0;
}

.elementor-12585 .elementor-element.elementor-element-a0d7f4b:not(.elementor-motion-effects-element-type-background){
    background-color: #f8f8f8;
}

.elementor-12585 .elementor-element.elementor-element-eeae105:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap{
    background: #fff;
}

.elementor-12585 .elementor-element.elementor-element-eeae105>.elementor-element-populated {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 30px 20px 20px;
}


.list_product_posts .box-vertical{
    width: 100% !important;
}
.list_product_posts .box{
    margin: unset !important;
}

.list_product_posts .image-cover img{
    height: 100% !important;
}