body.login-action-login{
    background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
    min-height: 100vh;
    /*background: url('../img/bg_login.jpeg');
    background-size: cover;*/
}

body.login-action-login::before {
    content: '';
    position: fixed;
    left: -22%;
    top: 60%;
    right: 0;
    width: 125%;
    height: 100%;
    background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
    transform: rotate(15deg);
}

.wp-core-ui .submit .button{
    background: #0096FF;
    border-color: #0096FF;
    box-shadow: none;
}

.login #nav a{
    color: #0886DE;
}

#login {
    margin: 0 auto;
    width: unset !important;
    padding: 3% 0 4%;
}

.login form .input{
    line-height: 20px;
}
html, body{
    overflow-x: hidden;
}

.container{
    max-width: 1000px !important;
}

.login #backtoblog a{
    color: red;
}

.login form{
    max-width: 350px;
    margin: 0 auto;
}

.login form label{
    display: inline;
}

.login_section{
    width: 50%;
}

.suport-info {
    width: 50%;
    background: #000000;
    padding: 20px;
    color: #fff;
    z-index: 9999;
    margin-top: 20px;
}

.suport-info .title-support {
    text-transform: uppercase;
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.suport-info ul{
    padding-left: 30px;
}

.login h1 a{
    background: unset !important;
    text-indent: unset;
    width: unset;
    height: unset;
    max-width: 200px;
}

.login #login img{
    max-width: 200px;
}

.copyright{
    z-index: 9999;
    margin: 50px auto 0 auto;
    color: #b7b7b7;
    font-size: 13px;
}

.copyright a{
    color: #2ea2cc;
}

.login #login_error{
    max-width: 350px;
    margin-top: 20px;
}

.login .wp-pwd{
    position: relative;
}


@media screen and (max-height:550px) {
    #login {
        padding: 3% 0 0 !important;
    }
}

html{
    font-size: 14px;
}

@media screen and (max-width:767px) {
    .login form {
        margin-left: auto;
        margin-right: auto;
    }
}