html{
    font-size: 15px !important;
}
h1, h2, h3, h4, h5, h6{
    color: #333;
    margin-bottom: .5rem;
}

.product-footer .h2, .product-footer h2 {
    font-size: 1.75rem;
}

.product-footer .h3, .product-footer h3{
    font-size: 1.5rem;
}

.table td, .table th{
    vertical-align: middle !important;
    font-size: 1rem;
}

table th, table td{
    font-size: 1rem;
}

tbody th{
    font-weight: normal;
    text-transform: none;
}

.table thead th{
    font-size: 1.02rem;
}

img{
    max-width: 100%;
    height: auto;
}
textarea{
    min-height: inherit;
}

p{
    margin-bottom: .75rem;
}
form p{
    margin-bottom: 1rem;
}

a, a:hover{
    text-decoration: none;
}
a{
    color: #333;
}

a:focus, button:focus {
    outline: 0 ;
}

input[type='email'], input[type='date'], input[type='search'], input[type='number'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select, .select-resize-ghost, .select2-container .select2-choice, .select2-container .select2-selection{
    box-shadow: none ;
    height: initial;
    padding: .375rem .75rem;
    font-size: 1rem;
}

.select2-container .select2-selection{
    padding-top: 0;
    padding-bottom: 0;
}

input[type='email']:focus, input[type='search']:focus, input[type='number']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='password']:focus, textarea:focus, select:focus{
    box-shadow: none;
}

a:hover{
    text-decoration: none;
}
a:focus, input:focus, textarea:focus, button:focus{
    outline: inherit;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-default {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.main-navigation a:hover{
    text-decoration: none;
}

.wp-block-banner{
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

.wp-block-banner img {
    max-width: 100%;
    height: auto;
}

.d-none, .hidden{
    display: none;
}

.main-navigation.toggled div.menu{
    display: block;
}

.widget>ul>li>a{
    display: initial;
}

ul.menu>li+li, .widget>ul>li:last-child{
    border: none;
}

del span.amount {
    opacity: 1;
    font-weight: normal;
    margin-right: .3em;
}

/*
#fb-root{
display: initial;
}

img{
display: initial;
}

.page-template-template-homepage:not(.has-post-thumbnail) .site-main{
padding-top: 0;
}

@media (min-width: 768px){
.site-header {
    padding-top: 0;
}
}
*/

.col2-set .col-1, .col2-set .col-2{
    display: block;
    flex: unset;
    -webkit-box-flex: unset;
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.form-row{
    display: inherit;
    margin-left: inherit;
    margin-right: inherit;
}

.alert-color {
    color: #ca0000;
}

.success-color {
    color: #79ad46;
}

.hentry .entry-content a:not(.button){
    text-decoration: none;
}

.woocommerce form .form-row .required{
    font-size: 12px;
    font-weight: 700;
    color: red;
}

.woocommerce form .form-row .required .symbol{
    vertical-align: middle;
}

.button, button, input, textarea, select, fieldset {
    margin-bottom: 0;
}

/*.button, button, input[type='submit'], input[type='reset'], input[type='button']{
    min-height: unset;
    text-transform: initial;
}*/

/*flicky*/
/*.product-thumbnails .flickity-viewport{
    height: 100% !important;
}

.product-thumbnails .flickity-slider{
    position: relative !important;
}

.product-thumbnails .flickity-slider .col{
    position: relative !important;
}

.product-thumbnails .flickity-viewport .col img{
    transform: unset !important;
}*/
/*end flicky*/

@media only screen and (max-width: 425px){
    /*.container{
        padding-left: 10px;
        padding-right: 10px;
    }*/
}

@media (max-width: 767px){
    .container {
        max-width: unset;
    }
}

/*
* BOOTSTRAP 4
*/
.form-control{
    min-height: 35px;
}

.btn{
    min-height: 35px;
}

.form-control:focus{
    border-color: #21b7d1;
    box-shadow: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a5 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a5a5a5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #a5a5a5;
}

/*.row{
    max-width: unset;
}*/

.table{
    border-collapse: inherit;
}


.display-1 {
    font-size: 3.906rem;
}
.display-2 {
    font-size: 3.125rem;
}
.display-3 {
    font-size: 2.5rem;
}
.display-4 {
    font-size: 2rem;
}
.display-5 {
    font-size: 1rem;
}

@media (min-width: 48em) {
    .display-1 {
        font-size: 6rem;
    }
    .display-2 {
        font-size: 5.5rem;
    }
    .display-3 {
        font-size: 4.5rem;
    }
    .display-4 {
        font-size: 2rem;
    }
    .display-5 {
        font-size: 1.75rem;
    }
}

@media (max-width: 1200px){
    .container{
        min-width: 90%;
    }
}

/*breadcrumb*/
.breadcrumbs{
    font-weight: normal;
}

.breadcrumbs ul{
    list-style: none;
}

.breadcrumbs ul li{
    list-style: none;
    display: inline-block;
}

.breadcrumbs .breadcrumb_delimiter{
    padding-left: 5px;
    padding-right: 5px;
    color: #a5a5a5;
}

.breadcrumbs a {
    color: #17a2b8;
    font-weight: 500;
}

.breadcrumbs a:hover{
    color: #158db8;
}

.breadcrumbs .breadcrumb_last{
    color: #a5a5a5;
}

.is-divider{
    background: #17a2b8;
}

body .customize-partial-edit-shortcut{
    display: block !important;
}