.woocommerce-wishlist table.wishlist_table thead tr th{
    font-size: inherit;
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
}

.wishlist_table .product-add-to-cart a.yith-wcqv-button{
    font-size: inherit;
}

a.button.yith-wcqv-button:hover {
    color: #fff;
    background-color: #f04336;
}

.wishlist_table .product-price del{
    color: #a5a5a5;
}

.wishlist_table tr th.product-thumbnail{
    min-width: 80px;
}

.wishlist_table tr td.product-thumbnail a{
    max-width: unset;
}

@media only screen and (max-width: 680px){
    .woocommerce-wishlist table.wishlist_table tbody tr td.product-thumbnail{
        display: table-cell;
    }
}

@media (max-width: 549px){

}

@media only screen and (max-width: 424px){
    .wishlist_table .product-add-to-cart{
        padding-left: .25rem !important;
        padding-right: .25rem !important;
    }

    .wishlist_table .product-thumbnail{
        padding-left: .25rem !important;
        padding-right: .5rem !important;
    }

    .wishlist_table .product-add-to-cart .add_to_cart_button{
        zoom: .7 !important;
    }

    .wishlist_table .product-name .amount{
        white-space: normal !important;
    }
}

@media only screen and (max-width: 375px){
    .wishlist_table th.product-remove{
        width: 25px !important;
    }
}

.yith-wcwl-add-button .add_to_wishlist i{
    color: red;
}

.yith-wcwl-add-to-wishlist div a{
    float: right;
    font-size: .85rem;
}

.yith-wcwl-add-to-wishlist.exists .yith-wcwl-wishlistexistsbrowse{
    display: block !important;
}

.yith-wcwl-wishlistexistsbrowse a i{
    color: red;
}

.image-tools.top.right{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    padding-top: 5px;
    z-index: 9999;
}
