.msp-stage-bg{
	text-align: center;
}
.msp-stage-bg>img {
	height: auto !important;
	max-width: 100% !important;
	width: unset !important;
	margin-top: 0px !important;
	margin-left: 0 !important;
}

.msp-imgselect-preview{
	background-size: contain;
}

.msp-dialog button.ui-dialog-titlebar-close:before{
	content: '';
}
.msp-dialog .ui-dialog-title{
	top: 0;
}

.msp-ddlist select{
	background: none
}

#the-list .column-description{
	max-height: 250px;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.taxonomy-image-thumbnail img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.taxonomy-image-thumbnail{
	line-height: 75px;
}

