a.gflag{font-size:24px;padding:1px 0;background-repeat:no-repeat;background-image:url(//richcom.wpdemo.test/wp-content/plugins/gtranslate/24.png);}
a.gflag img{border:0;height:24px;display:inline;}
a.gflag:hover{background-image:url(//richcom.wpdemo.test/wp-content/plugins/gtranslate/24a.png);}
img.gstats{display:none;}
a.alt_flag{background-image:url(//richcom.wpdemo.test/wp-content/plugins/gtranslate/alt_flags.png);}
a.alt_flag:hover{background-image:url(//richcom.wpdemo.test/wp-content/plugins/gtranslate/alt_flagsa.png);}
a.us_flag{background-position:-0px -100px;}
a.br_flag{background-position:-100px -100px;}
a.mx_flag{background-position:-200px -100px;}
a.glink{text-decoration:none;}
a.glink span{margin-right:5px;font-size:15px;vertical-align:middle;}
a.glink img{vertical-align:middle;display:inline;border:0;padding:0;margin:0;opacity:0.8;}
a.glink:hover img {opacity:1;}.wp-block-audio figcaption{margin-top:.5em;margin-bottom:1em;color:#555d66;text-align:center;font-size:13px}
.wp-block-audio audio{width:100%;min-width:300px}
.block-editor-block-list__layout .reusable-block-edit-panel{align-items:center;background:#f8f9f9;color:#555d66;display:flex;flex-wrap:wrap;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;font-size:13px;top:-14px;margin:0 -14px;padding:8px 14px;position:relative;border:1px dashed rgba(145,151,162,.25);border-bottom:none}
.block-editor-block-list__layout .block-editor-block-list__layout .reusable-block-edit-panel{margin:0 -14px;padding:8px 14px}
.block-editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__spinner{margin:0 5px}
.block-editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__info{margin-right:auto}
.block-editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__label{margin-right:8px;white-space:nowrap;font-weight:600}
.block-editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__title{flex:1 1 100%;font-size:14px;height:30px;margin:4px 0 8px}
.block-editor-block-list__layout .reusable-block-edit-panel .components-button.reusable-block-edit-panel__button{flex-shrink:0}
@media (min-width:960px){.block-editor-block-list__layout .reusable-block-edit-panel{flex-wrap:nowrap}
.block-editor-block-list__layout .reusable-block-edit-panel .reusable-block-edit-panel__title{margin:0}
.block-editor-block-list__layout .reusable-block-edit-panel .components-button.reusable-block-edit-panel__button{margin:0 0 0 5px}}.editor-block-list__layout .is-selected .reusable-block-edit-panel{border-color:rgba(66,88,99,.4) rgba(66,88,99,.4) rgba(66,88,99,.4) transparent}
.is-dark-theme .editor-block-list__layout .is-selected .reusable-block-edit-panel{border-color:hsla(0,0%,100%,.45) hsla(0,0%,100%,.45) hsla(0,0%,100%,.45) transparent}
.block-editor-block-list__layout .reusable-block-indicator{background:#fff;border:1px dashed #e2e4e7;color:#555d66;top:-14px;height:30px;padding:4px;position:absolute;z-index:1;width:30px;right:-14px}
.wp-block-button{color:#fff;margin-bottom:1.5em}
.wp-block-button.aligncenter{text-align:center}
.wp-block-button.alignright{text-align:right}
.wp-block-button__link{background-color:#32373c;border:none;border-radius:28px;box-shadow:none;color:inherit;cursor:pointer;display:inline-block;font-size:18px;margin:0;padding:12px 24px;text-align:center;text-decoration:none;overflow-wrap:break-word}
.wp-block-button__link:active,.wp-block-button__link:focus,.wp-block-button__link:hover,.wp-block-button__link:visited{color:inherit}
.is-style-squared .wp-block-button__link{border-radius:0}
.is-style-outline{color:#32373c}
.is-style-outline .wp-block-button__link{background-color:transparent;border:2px solid}
.wp-block-calendar{text-align:center}
.wp-block-calendar tbody td,.wp-block-calendar th{padding:4px;border:1px solid #e2e4e7}
.wp-block-calendar tfoot td{border:none}
.wp-block-calendar table{width:100%;border-collapse:collapse;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif}
.wp-block-calendar table th{font-weight:440;background:#edeff0}
.wp-block-calendar a{text-decoration:underline}
.wp-block-calendar tfoot a{color:#00739c}
.wp-block-calendar table caption,.wp-block-calendar table tbody{color:#40464d}
.wp-block-categories.alignleft{margin-right:2em}
.wp-block-categories.alignright{margin-left:2em}
.wp-block-columns{display:flex;flex-wrap:wrap}
@media (min-width:782px){.wp-block-columns{flex-wrap:nowrap}}.wp-block-column{flex-grow:1;margin-bottom:1em;flex-basis:100%;min-width:0;word-break:break-word;overflow-wrap:break-word}
@media (min-width:600px){.wp-block-column{flex-basis:calc(50% - 16px);flex-grow:0}
.wp-block-column:nth-child(2n){margin-left:32px}}@media (min-width:782px){.wp-block-column:not(:first-child){margin-left:32px}}.wp-block-cover,.wp-block-cover-image{position:relative;background-color:#000;background-size:cover;background-position:50%;min-height:430px;width:100%;margin:0 0 1.5em;display:flex;justify-content:center;align-items:center;overflow:hidden}
.wp-block-cover-image.has-left-content,.wp-block-cover.has-left-content{justify-content:flex-start}
.wp-block-cover-image.has-left-content .wp-block-cover-image-text,.wp-block-cover-image.has-left-content .wp-block-cover-text,.wp-block-cover-image.has-left-content h2,.wp-block-cover.has-left-content .wp-block-cover-image-text,.wp-block-cover.has-left-content .wp-block-cover-text,.wp-block-cover.has-left-content h2{margin-left:0;text-align:left}
.wp-block-cover-image.has-right-content,.wp-block-cover.has-right-content{justify-content:flex-end}
.wp-block-cover-image.has-right-content .wp-block-cover-image-text,.wp-block-cover-image.has-right-content .wp-block-cover-text,.wp-block-cover-image.has-right-content h2,.wp-block-cover.has-right-content .wp-block-cover-image-text,.wp-block-cover.has-right-content .wp-block-cover-text,.wp-block-cover.has-right-content h2{margin-right:0;text-align:right}
.wp-block-cover-image .wp-block-cover-image-text,.wp-block-cover-image .wp-block-cover-text,.wp-block-cover-image h2,.wp-block-cover .wp-block-cover-image-text,.wp-block-cover .wp-block-cover-text,.wp-block-cover h2{color:#fff;font-size:2em;line-height:1.25;z-index:1;margin-bottom:0;max-width:610px;padding:14px;text-align:center}
.wp-block-cover-image .wp-block-cover-image-text a,.wp-block-cover-image .wp-block-cover-image-text a:active,.wp-block-cover-image .wp-block-cover-image-text a:focus,.wp-block-cover-image .wp-block-cover-image-text a:hover,.wp-block-cover-image .wp-block-cover-text a,.wp-block-cover-image .wp-block-cover-text a:active,.wp-block-cover-image .wp-block-cover-text a:focus,.wp-block-cover-image .wp-block-cover-text a:hover,.wp-block-cover-image h2 a,.wp-block-cover-image h2 a:active,.wp-block-cover-image h2 a:focus,.wp-block-cover-image h2 a:hover,.wp-block-cover .wp-block-cover-image-text a,.wp-block-cover .wp-block-cover-image-text a:active,.wp-block-cover .wp-block-cover-image-text a:focus,.wp-block-cover .wp-block-cover-image-text a:hover,.wp-block-cover .wp-block-cover-text a,.wp-block-cover .wp-block-cover-text a:active,.wp-block-cover .wp-block-cover-text a:focus,.wp-block-cover .wp-block-cover-text a:hover,.wp-block-cover h2 a,.wp-block-cover h2 a:active,.wp-block-cover h2 a:focus,.wp-block-cover h2 a:hover{color:#fff}
.wp-block-cover-image.has-parallax,.wp-block-cover.has-parallax{background-attachment:fixed}
@supports (-webkit-overflow-scrolling:touch){.wp-block-cover-image.has-parallax,.wp-block-cover.has-parallax{background-attachment:scroll}}.wp-block-cover-image.has-background-dim:before,.wp-block-cover.has-background-dim:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background-color:inherit;opacity:.5;z-index:1}
.wp-block-cover-image.has-background-dim.has-background-dim-10:before,.wp-block-cover.has-background-dim.has-background-dim-10:before{opacity:.1}
.wp-block-cover-image.has-background-dim.has-background-dim-20:before,.wp-block-cover.has-background-dim.has-background-dim-20:before{opacity:.2}
.wp-block-cover-image.has-background-dim.has-background-dim-30:before,.wp-block-cover.has-background-dim.has-background-dim-30:before{opacity:.3}
.wp-block-cover-image.has-background-dim.has-background-dim-40:before,.wp-block-cover.has-background-dim.has-background-dim-40:before{opacity:.4}
.wp-block-cover-image.has-background-dim.has-background-dim-50:before,.wp-block-cover.has-background-dim.has-background-dim-50:before{opacity:.5}
.wp-block-cover-image.has-background-dim.has-background-dim-60:before,.wp-block-cover.has-background-dim.has-background-dim-60:before{opacity:.6}
.wp-block-cover-image.has-background-dim.has-background-dim-70:before,.wp-block-cover.has-background-dim.has-background-dim-70:before{opacity:.7}
.wp-block-cover-image.has-background-dim.has-background-dim-80:before,.wp-block-cover.has-background-dim.has-background-dim-80:before{opacity:.8}
.wp-block-cover-image.has-background-dim.has-background-dim-90:before,.wp-block-cover.has-background-dim.has-background-dim-90:before{opacity:.9}
.wp-block-cover-image.has-background-dim.has-background-dim-100:before,.wp-block-cover.has-background-dim.has-background-dim-100:before{opacity:1}
.wp-block-cover-image.alignleft,.wp-block-cover-image.alignright,.wp-block-cover.alignleft,.wp-block-cover.alignright{max-width:305px;width:100%}
.wp-block-cover-image:after,.wp-block-cover:after{display:block;content:"";font-size:0;min-height:inherit}
@supports ((position:-webkit-sticky) or (position:sticky)){.wp-block-cover-image:after,.wp-block-cover:after{content:none}}.wp-block-cover-image.aligncenter,.wp-block-cover-image.alignleft,.wp-block-cover-image.alignright,.wp-block-cover.aligncenter,.wp-block-cover.alignleft,.wp-block-cover.alignright{display:flex}
.wp-block-cover-image .wp-block-cover__inner-container,.wp-block-cover .wp-block-cover__inner-container{width:calc(100% - 70px);z-index:1;color:#f8f9f9}
.wp-block-cover-image .wp-block-subhead,.wp-block-cover-image h1,.wp-block-cover-image h2,.wp-block-cover-image h3,.wp-block-cover-image h4,.wp-block-cover-image h5,.wp-block-cover-image h6,.wp-block-cover-image p,.wp-block-cover .wp-block-subhead,.wp-block-cover h1,.wp-block-cover h2,.wp-block-cover h3,.wp-block-cover h4,.wp-block-cover h5,.wp-block-cover h6,.wp-block-cover p{color:inherit}
.wp-block-cover__video-background{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:100%;height:100%;z-index:0;-o-object-fit:cover;object-fit:cover}
.block-editor-block-list__block[data-type="core/embed"][data-align=left] .block-editor-block-list__block-edit,.block-editor-block-list__block[data-type="core/embed"][data-align=right] .block-editor-block-list__block-edit,.wp-block-embed.alignleft,.wp-block-embed.alignright{max-width:360px;width:100%}
.wp-block-embed{margin-bottom:1em}
.wp-block-embed figcaption{margin-top:.5em;margin-bottom:1em;color:#555d66;text-align:center;font-size:13px}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper{position:relative}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before{content:"";display:block;padding-top:50%}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe,.wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper iframe{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before{padding-top:42.85%}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before{padding-top:50%}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before{padding-top:56.25%}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before{padding-top:75%}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before{padding-top:100%}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-6 .wp-block-embed__wrapper:before{padding-top:66.66%}
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before{padding-top:200%}
.wp-block-file{margin-bottom:1.5em}
.wp-block-file.aligncenter{text-align:center}
.wp-block-file.alignright{text-align:right}
.wp-block-file .wp-block-file__button{background:#32373c;border-radius:2em;color:#fff;font-size:13px;padding:.5em 1em}
.wp-block-file a.wp-block-file__button{text-decoration:none}
.wp-block-file a.wp-block-file__button:active,.wp-block-file a.wp-block-file__button:focus,.wp-block-file a.wp-block-file__button:hover,.wp-block-file a.wp-block-file__button:visited{box-shadow:none;color:#fff;opacity:.85;text-decoration:none}
.wp-block-file *+.wp-block-file__button{margin-left:.75em}
.wp-block-gallery{display:flex;flex-wrap:wrap;list-style-type:none;padding:0}
.wp-block-gallery .blocks-gallery-image,.wp-block-gallery .blocks-gallery-item{margin:0 16px 16px 0;display:flex;flex-grow:1;flex-direction:column;justify-content:center;position:relative}
.wp-block-gallery .blocks-gallery-image figure,.wp-block-gallery .blocks-gallery-item figure{margin:0;height:100%}
@supports ((position:-webkit-sticky) or (position:sticky)){.wp-block-gallery .blocks-gallery-image figure,.wp-block-gallery .blocks-gallery-item figure{display:flex;align-items:flex-end;justify-content:flex-start}}.wp-block-gallery .blocks-gallery-image img,.wp-block-gallery .blocks-gallery-item img{display:block;max-width:100%;height:auto;width:100%}
@supports ((position:-webkit-sticky) or (position:sticky)){.wp-block-gallery .blocks-gallery-image img,.wp-block-gallery .blocks-gallery-item img{width:auto}}.wp-block-gallery .blocks-gallery-image figcaption,.wp-block-gallery .blocks-gallery-item figcaption{position:absolute;bottom:0;width:100%;max-height:100%;overflow:auto;padding:40px 10px 9px;color:#fff;text-align:center;font-size:13px;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent)}
.wp-block-gallery .blocks-gallery-image figcaption img,.wp-block-gallery .blocks-gallery-item figcaption img{display:inline}
.wp-block-gallery.is-cropped .blocks-gallery-image a,.wp-block-gallery.is-cropped .blocks-gallery-image img,.wp-block-gallery.is-cropped .blocks-gallery-item a,.wp-block-gallery.is-cropped .blocks-gallery-item img{width:100%}
@supports ((position:-webkit-sticky) or (position:sticky)){.wp-block-gallery.is-cropped .blocks-gallery-image a,.wp-block-gallery.is-cropped .blocks-gallery-image img,.wp-block-gallery.is-cropped .blocks-gallery-item a,.wp-block-gallery.is-cropped .blocks-gallery-item img{height:100%;flex:1;-o-object-fit:cover;object-fit:cover}}.wp-block-gallery .blocks-gallery-image,.wp-block-gallery .blocks-gallery-item{width:calc((100% - 16px)/2)}
.wp-block-gallery .blocks-gallery-image:nth-of-type(2n),.wp-block-gallery .blocks-gallery-item:nth-of-type(2n){margin-right:0}
.wp-block-gallery.columns-1 .blocks-gallery-image,.wp-block-gallery.columns-1 .blocks-gallery-item{width:100%;margin-right:0}
@media (min-width:600px){.wp-block-gallery.columns-3 .blocks-gallery-image,.wp-block-gallery.columns-3 .blocks-gallery-item{width:calc((100% - 32px)/3);margin-right:16px}
@supports (-ms-ime-align:auto){.wp-block-gallery.columns-3 .blocks-gallery-image,.wp-block-gallery.columns-3 .blocks-gallery-item{width:calc((100% - 32px)/3 - 1px)}}.wp-block-gallery.columns-4 .blocks-gallery-image,.wp-block-gallery.columns-4 .blocks-gallery-item{width:calc((100% - 48px)/4);margin-right:16px}
@supports (-ms-ime-align:auto){.wp-block-gallery.columns-4 .blocks-gallery-image,.wp-block-gallery.columns-4 .blocks-gallery-item{width:calc((100% - 48px)/4 - 1px)}}.wp-block-gallery.columns-5 .blocks-gallery-image,.wp-block-gallery.columns-5 .blocks-gallery-item{width:calc((100% - 64px)/5);margin-right:16px}
@supports (-ms-ime-align:auto){.wp-block-gallery.columns-5 .blocks-gallery-image,.wp-block-gallery.columns-5 .blocks-gallery-item{width:calc((100% - 64px)/5 - 1px)}}.wp-block-gallery.columns-6 .blocks-gallery-image,.wp-block-gallery.columns-6 .blocks-gallery-item{width:calc((100% - 80px)/6);margin-right:16px}
@supports (-ms-ime-align:auto){.wp-block-gallery.columns-6 .blocks-gallery-image,.wp-block-gallery.columns-6 .blocks-gallery-item{width:calc((100% - 80px)/6 - 1px)}}.wp-block-gallery.columns-7 .blocks-gallery-image,.wp-block-gallery.columns-7 .blocks-gallery-item{width:calc((100% - 96px)/7);margin-right:16px}
@supports (-ms-ime-align:auto){.wp-block-gallery.columns-7 .blocks-gallery-image,.wp-block-gallery.columns-7 .blocks-gallery-item{width:calc((100% - 96px)/7 - 1px)}}.wp-block-gallery.columns-8 .blocks-gallery-image,.wp-block-gallery.columns-8 .blocks-gallery-item{width:calc((100% - 112px)/8);margin-right:16px}
@supports (-ms-ime-align:auto){.wp-block-gallery.columns-8 .blocks-gallery-image,.wp-block-gallery.columns-8 .blocks-gallery-item{width:calc((100% - 112px)/8 - 1px)}}.wp-block-gallery.columns-1 .blocks-gallery-image:nth-of-type(1n),.wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n),.wp-block-gallery.columns-2 .blocks-gallery-image:nth-of-type(2n),.wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n),.wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(3n),.wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n),.wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n),.wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n),.wp-block-gallery.columns-5 .blocks-gallery-image:nth-of-type(5n),.wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n),.wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(6n),.wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n),.wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(7n),.wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n),.wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(8n),.wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n){margin-right:0}}.wp-block-gallery .blocks-gallery-image:last-child,.wp-block-gallery .blocks-gallery-item:last-child{margin-right:0}
.wp-block-gallery .blocks-gallery-item.has-add-item-button{width:100%}
.wp-block-gallery.alignleft,.wp-block-gallery.alignright{max-width:305px;width:100%}
.wp-block-gallery.aligncenter,.wp-block-gallery.alignleft,.wp-block-gallery.alignright{display:flex}
.wp-block-gallery.aligncenter .blocks-gallery-item figure{justify-content:center}
.wp-block-image{max-width:100%;margin-bottom:1em;margin-left:0;margin-right:0}
.wp-block-image img{max-width:100%}
.wp-block-image.aligncenter{text-align:center}
.wp-block-image.alignfull img,.wp-block-image.alignwide img{width:100%}
.wp-block-image .aligncenter,.wp-block-image .alignleft,.wp-block-image .alignright,.wp-block-image.is-resized{display:table;margin-left:0;margin-right:0}
.wp-block-image .aligncenter>figcaption,.wp-block-image .alignleft>figcaption,.wp-block-image .alignright>figcaption,.wp-block-image.is-resized>figcaption{display:table-caption;caption-side:bottom}
.wp-block-image .alignleft{float:left;margin-right:1em}
.wp-block-image .alignright{float:right;margin-left:1em}
.wp-block-image .aligncenter{margin-left:auto;margin-right:auto}
.wp-block-image figcaption{margin-top:.5em;margin-bottom:1em;color:#555d66;text-align:center;font-size:13px}
.wp-block-latest-comments__comment{font-size:15px;line-height:1.1;list-style:none;margin-bottom:1em}
.has-avatars .wp-block-latest-comments__comment{min-height:36px;list-style:none}
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta{margin-left:52px}
.has-dates .wp-block-latest-comments__comment,.has-excerpts .wp-block-latest-comments__comment{line-height:1.5}
.wp-block-latest-comments__comment-excerpt p{font-size:14px;line-height:1.8;margin:5px 0 20px}
.wp-block-latest-comments__comment-date{color:#8f98a1;display:block;font-size:12px}
.wp-block-latest-comments .avatar,.wp-block-latest-comments__comment-avatar{border-radius:24px;display:block;float:left;height:40px;margin-right:12px;width:40px}
.wp-block-latest-posts.alignleft{margin-right:2em}
.wp-block-latest-posts.alignright{margin-left:2em}
.wp-block-latest-posts.is-grid{display:flex;flex-wrap:wrap;padding:0;list-style:none}
.wp-block-latest-posts.is-grid li{margin:0 16px 16px 0;width:100%}
@media (min-width:600px){.wp-block-latest-posts.columns-2 li{width:calc(50% - 16px)}
.wp-block-latest-posts.columns-3 li{width:calc(33.33333% - 16px)}
.wp-block-latest-posts.columns-4 li{width:calc(25% - 16px)}
.wp-block-latest-posts.columns-5 li{width:calc(20% - 16px)}
.wp-block-latest-posts.columns-6 li{width:calc(16.66667% - 16px)}}.wp-block-latest-posts__post-date{display:block;color:#6c7781;font-size:13px}
.wp-block-media-text{display:grid;grid-template-rows:auto;align-items:center;grid-template-areas:"media-text-media media-text-content";grid-template-columns:50% auto}
.wp-block-media-text.has-media-on-the-right{grid-template-areas:"media-text-content media-text-media";grid-template-columns:auto 50%}
.wp-block-media-text .wp-block-media-text__media{grid-area:media-text-media;margin:0}
.wp-block-media-text .wp-block-media-text__content{word-break:break-word;grid-area:media-text-content;padding:0 8%}
.wp-block-media-text>figure>img,.wp-block-media-text>figure>video{max-width:unset;width:100%;vertical-align:middle}
@media (max-width:600px){.wp-block-media-text.is-stacked-on-mobile{grid-template-columns:100%!important;grid-template-areas:"media-text-media" "media-text-content"}
.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right{grid-template-areas:"media-text-content" "media-text-media"}}.is-small-text{font-size:14px}
.is-regular-text{font-size:16px}
.is-large-text{font-size:36px}
.is-larger-text{font-size:48px}
.has-drop-cap:not(:focus):first-letter{float:left;font-size:8.4em;line-height:.68;font-weight:100;margin:.05em .1em 0 0;text-transform:uppercase;font-style:normal}
.has-drop-cap:not(:focus):after{content:"";display:table;clear:both;padding-top:14px}
p.has-background{padding:20px 30px}
p.has-text-color a{color:inherit}
.wp-block-pullquote{padding:3em 0;margin-left:0;margin-right:0;text-align:center}
.wp-block-pullquote.alignleft,.wp-block-pullquote.alignright{max-width:305px}
.wp-block-pullquote.alignleft p,.wp-block-pullquote.alignright p{font-size:20px}
.wp-block-pullquote p{font-size:28px;line-height:1.6}
.wp-block-pullquote cite,.wp-block-pullquote footer{position:relative}
.wp-block-pullquote .has-text-color a{color:inherit}
.wp-block-pullquote:not(.is-style-solid-color){background:none}
.wp-block-pullquote.is-style-solid-color{border:none}
.wp-block-pullquote.is-style-solid-color blockquote{margin-left:auto;margin-right:auto;text-align:left;max-width:60%}
.wp-block-pullquote.is-style-solid-color blockquote p{margin-top:0;margin-bottom:0;font-size:32px}
.wp-block-pullquote.is-style-solid-color blockquote cite{text-transform:none;font-style:normal}
.wp-block-pullquote cite{color:inherit}
.wp-block-quote.is-large,.wp-block-quote.is-style-large{margin:0 0 16px;padding:0 1em}
.wp-block-quote.is-large p,.wp-block-quote.is-style-large p{font-size:24px;font-style:italic;line-height:1.6}
.wp-block-quote.is-large cite,.wp-block-quote.is-large footer,.wp-block-quote.is-style-large cite,.wp-block-quote.is-style-large footer{font-size:18px;text-align:right}
.wp-block-rss.alignleft{margin-right:2em}
.wp-block-rss.alignright{margin-left:2em}
.wp-block-rss.is-grid{display:flex;flex-wrap:wrap;padding:0;list-style:none}
.wp-block-rss.is-grid li{margin:0 16px 16px 0;width:100%}
@media (min-width:600px){.wp-block-rss.columns-2 li{width:calc(50% - 16px)}
.wp-block-rss.columns-3 li{width:calc(33.33333% - 16px)}
.wp-block-rss.columns-4 li{width:calc(25% - 16px)}
.wp-block-rss.columns-5 li{width:calc(20% - 16px)}
.wp-block-rss.columns-6 li{width:calc(16.66667% - 16px)}}.wp-block-rss__item-author,.wp-block-rss__item-publish-date{color:#6c7781;font-size:13px}
.wp-block-search{display:flex;flex-wrap:wrap}
.wp-block-search .wp-block-search__label{width:100%}
.wp-block-search .wp-block-search__input{flex-grow:1}
.wp-block-search .wp-block-search__button{margin-left:10px}
.wp-block-separator.is-style-wide{border-bottom-width:1px}
.wp-block-separator.is-style-dots{background:none;border:none;text-align:center;max-width:none;line-height:1;height:auto}
.wp-block-separator.is-style-dots:before{content:"\00b7 \00b7 \00b7";color:#191e23;font-size:20px;letter-spacing:2em;padding-left:2em;font-family:serif}
p.wp-block-subhead{font-size:1.1em;font-style:italic;opacity:.75}
.wp-block-table.has-fixed-layout{table-layout:fixed;width:100%}
.wp-block-table.aligncenter,.wp-block-table.alignleft,.wp-block-table.alignright{display:table;width:auto}
.wp-block-table.has-subtle-light-gray-background-color{background-color:#f3f4f5}
.wp-block-table.has-subtle-pale-green-background-color{background-color:#e9fbe5}
.wp-block-table.has-subtle-pale-blue-background-color{background-color:#e7f5fe}
.wp-block-table.has-subtle-pale-pink-background-color{background-color:#fcf0ef}
.wp-block-table.is-style-stripes{border-spacing:0;border-collapse:inherit;background-color:transparent;border-bottom:1px solid #f3f4f5}
.wp-block-table.is-style-stripes.has-subtle-light-gray-background-color tr:nth-child(odd),.wp-block-table.is-style-stripes tr:nth-child(odd){background-color:#f3f4f5}
.wp-block-table.is-style-stripes.has-subtle-pale-green-background-color tr:nth-child(odd){background-color:#e9fbe5}
.wp-block-table.is-style-stripes.has-subtle-pale-blue-background-color tr:nth-child(odd){background-color:#e7f5fe}
.wp-block-table.is-style-stripes.has-subtle-pale-pink-background-color tr:nth-child(odd){background-color:#fcf0ef}
.wp-block-table.is-style-stripes td{border-color:transparent}
.wp-block-text-columns,.wp-block-text-columns.aligncenter{display:flex}
.wp-block-text-columns .wp-block-column{margin:0 16px;padding:0}
.wp-block-text-columns .wp-block-column:first-child{margin-left:0}
.wp-block-text-columns .wp-block-column:last-child{margin-right:0}
.wp-block-text-columns.columns-2 .wp-block-column{width:50%}
.wp-block-text-columns.columns-3 .wp-block-column{width:33.33333%}
.wp-block-text-columns.columns-4 .wp-block-column{width:25%}
pre.wp-block-verse{white-space:nowrap;overflow:auto}
.wp-block-video{margin-left:0;margin-right:0}
.wp-block-video video{max-width:100%}
@supports ((position:-webkit-sticky) or (position:sticky)){.wp-block-video [poster]{-o-object-fit:cover;object-fit:cover}}.wp-block-video.aligncenter{text-align:center}
.wp-block-video figcaption{margin-top:.5em;margin-bottom:1em;color:#555d66;text-align:center;font-size:13px}
.has-pale-pink-background-color.has-pale-pink-background-color{background-color:#f78da7}
.has-vivid-red-background-color.has-vivid-red-background-color{background-color:#cf2e2e}
.has-luminous-vivid-orange-background-color.has-luminous-vivid-orange-background-color{background-color:#ff6900}
.has-luminous-vivid-amber-background-color.has-luminous-vivid-amber-background-color{background-color:#fcb900}
.has-light-green-cyan-background-color.has-light-green-cyan-background-color{background-color:#7bdcb5}
.has-vivid-green-cyan-background-color.has-vivid-green-cyan-background-color{background-color:#00d084}
.has-pale-cyan-blue-background-color.has-pale-cyan-blue-background-color{background-color:#8ed1fc}
.has-vivid-cyan-blue-background-color.has-vivid-cyan-blue-background-color{background-color:#0693e3}
.has-very-light-gray-background-color.has-very-light-gray-background-color{background-color:#eee}
.has-cyan-bluish-gray-background-color.has-cyan-bluish-gray-background-color{background-color:#abb8c3}
.has-very-dark-gray-background-color.has-very-dark-gray-background-color{background-color:#313131}
.has-pale-pink-color.has-pale-pink-color{color:#f78da7}
.has-vivid-red-color.has-vivid-red-color{color:#cf2e2e}
.has-luminous-vivid-orange-color.has-luminous-vivid-orange-color{color:#ff6900}
.has-luminous-vivid-amber-color.has-luminous-vivid-amber-color{color:#fcb900}
.has-light-green-cyan-color.has-light-green-cyan-color{color:#7bdcb5}
.has-vivid-green-cyan-color.has-vivid-green-cyan-color{color:#00d084}
.has-pale-cyan-blue-color.has-pale-cyan-blue-color{color:#8ed1fc}
.has-vivid-cyan-blue-color.has-vivid-cyan-blue-color{color:#0693e3}
.has-very-light-gray-color.has-very-light-gray-color{color:#eee}
.has-cyan-bluish-gray-color.has-cyan-bluish-gray-color{color:#abb8c3}
.has-very-dark-gray-color.has-very-dark-gray-color{color:#313131}
.has-small-font-size{font-size:13px}
.has-normal-font-size,.has-regular-font-size{font-size:16px}
.has-medium-font-size{font-size:20px}
.has-large-font-size{font-size:36px}
.has-huge-font-size,.has-larger-font-size{font-size:42px}.wc-block-featured-category{position:relative;background-color:#24292d;background-size:cover;background-position:50%;width:100%;margin:0 0 1.5em}
.wc-block-featured-category,.wc-block-featured-category .wc-block-featured-category__wrapper{display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;flex-wrap:wrap;align-content:center}
.wc-block-featured-category .wc-block-featured-category__wrapper{overflow:hidden;height:100%}
.wc-block-featured-category.has-left-content{-webkit-box-pack:start;justify-content:flex-start}
.wc-block-featured-category.has-left-content .wc-block-featured-category__description,.wc-block-featured-category.has-left-content .wc-block-featured-category__price,.wc-block-featured-category.has-left-content .wc-block-featured-category__title{margin-left:0;text-align:left}
.wc-block-featured-category.has-right-content{-webkit-box-pack:end;justify-content:flex-end}
.wc-block-featured-category.has-right-content .wc-block-featured-category__description,.wc-block-featured-category.has-right-content .wc-block-featured-category__price,.wc-block-featured-category.has-right-content .wc-block-featured-category__title{margin-right:0;text-align:right}
.wc-block-featured-category .wc-block-featured-category__description,.wc-block-featured-category .wc-block-featured-category__price,.wc-block-featured-category .wc-block-featured-category__title{color:#fff;line-height:1.25;margin-bottom:0;text-align:center}
.wc-block-featured-category .wc-block-featured-category__description a,.wc-block-featured-category .wc-block-featured-category__description a:active,.wc-block-featured-category .wc-block-featured-category__description a:focus,.wc-block-featured-category .wc-block-featured-category__description a:hover,.wc-block-featured-category .wc-block-featured-category__price a,.wc-block-featured-category .wc-block-featured-category__price a:active,.wc-block-featured-category .wc-block-featured-category__price a:focus,.wc-block-featured-category .wc-block-featured-category__price a:hover,.wc-block-featured-category .wc-block-featured-category__title a,.wc-block-featured-category .wc-block-featured-category__title a:active,.wc-block-featured-category .wc-block-featured-category__title a:focus,.wc-block-featured-category .wc-block-featured-category__title a:hover{color:#fff}
.wc-block-featured-category .wc-block-featured-category__description,.wc-block-featured-category .wc-block-featured-category__link,.wc-block-featured-category .wc-block-featured-category__price,.wc-block-featured-category .wc-block-featured-category__title{width:100%;padding:0 48px 16px;z-index:1}
.wc-block-featured-category .wc-block-featured-category__title{margin-top:0}
.wc-block-featured-category .wc-block-featured-category__title:before{display:none}
.wc-block-featured-category .wc-block-featured-category__description p{margin:0}
.wc-block-featured-category.has-background-dim:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background-color:inherit;opacity:.5;z-index:1}
.wc-block-featured-category.has-background-dim.has-background-dim-10:before{opacity:.1}
.wc-block-featured-category.has-background-dim.has-background-dim-20:before{opacity:.2}
.wc-block-featured-category.has-background-dim.has-background-dim-30:before{opacity:.3}
.wc-block-featured-category.has-background-dim.has-background-dim-40:before{opacity:.4}
.wc-block-featured-category.has-background-dim.has-background-dim-50:before{opacity:.5}
.wc-block-featured-category.has-background-dim.has-background-dim-60:before{opacity:.6}
.wc-block-featured-category.has-background-dim.has-background-dim-70:before{opacity:.7}
.wc-block-featured-category.has-background-dim.has-background-dim-80:before{opacity:.8}
.wc-block-featured-category.has-background-dim.has-background-dim-90:before{opacity:.9}
.wc-block-featured-category.has-background-dim.has-background-dim-100:before{opacity:1}
.wc-block-featured-category.alignleft,.wc-block-featured-category.alignright{max-width:305px;width:100%}
.wc-block-featured-category:after{display:block;content:"";font-size:0;min-height:inherit}
@supports ((position:-webkit-sticky) or (position:sticky)){.wc-block-featured-category:after{content:none}}.wc-block-featured-category.aligncenter,.wc-block-featured-category.alignleft,.wc-block-featured-category.alignright{display:-webkit-box;display:flex}
.wc-block-product-categories{margin-bottom:1em}
.wc-block-product-categories.is-dropdown{display:-webkit-box;display:flex}
.wc-block-product-categories select{margin-right:.5em}
.wc-block-product-categories-list-item-count:before{content:" ("}
.wc-block-product-categories-list-item-count:after{content:")"}
.wp-block-woocommerce-product-categories.is-loading .wc-block-product-categories__placeholder{display:inline-block;height:1em;width:50%;min-width:200px;background:currentColor;opacity:.2}
.wc-block-product-categories__button{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;text-decoration:none;font-size:13px;margin:0;border:none;cursor:pointer;background:none;padding:8px;color:#555d66;position:relative;overflow:hidden;border-radius:4px}
.wc-block-product-categories__button svg{fill:currentColor;outline:none}
.rtl .wc-block-product-categories__button svg{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.wc-block-product-categories__button:active{color:currentColor}
.wc-block-product-categories__button:disabled,.wc-block-product-categories__button[aria-disabled=true]{cursor:default;opacity:.3}
.wc-block-product-categories__button:focus:enabled{background-color:#fff;color:#191e23;box-shadow:inset 0 0 0 1px #6c7781,inset 0 0 0 2px #fff;outline:2px solid transparent;outline-offset:-2px}
.wc-block-product-categories__button:not(:disabled):not([aria-disabled=true]):hover{background-color:#fff;color:#191e23;box-shadow:inset 0 0 0 1px #e2e4e7,inset 0 0 0 2px #fff,0 1px 1px rgba(25,30,35,.2)}
.wc-block-product-categories__button:not(:disabled):not([aria-disabled=true]):active{outline:none;background-color:#fff;color:#191e23;box-shadow:inset 0 0 0 1px #ccd0d4,inset 0 0 0 2px #fff}
.wc-block-product-categories__button:disabled:focus,.wc-block-product-categories__button[aria-disabled=true]:focus{box-shadow:none}
.woocommerce-product-attributes__operator .components-base-control__help{clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;width:1px;margin:-1px;overflow:hidden;overflow-wrap:normal!important;word-wrap:normal!important}
.components-panel .woocommerce-product-attributes__operator.components-base-control{margin-top:16px}
.components-panel .woocommerce-product-attributes__operator.components-base-control .components-select-control__input{margin-left:0;min-width:100%}
.woocommerce-search-list__item.woocommerce-product-attributes__item.is-searching .woocommerce-search-list__item-prefix:after,.woocommerce-search-list__item.woocommerce-product-attributes__item.is-skip-level .woocommerce-search-list__item-prefix:after{content:":"}
.woocommerce-search-list__item.woocommerce-product-attributes__item.is-not-active:active,.woocommerce-search-list__item.woocommerce-product-attributes__item.is-not-active:focus,.woocommerce-search-list__item.woocommerce-product-attributes__item.is-not-active:hover{background:#fff}
.woocommerce-search-list__item.woocommerce-product-attributes__item.is-loading{-webkit-box-pack:center;justify-content:center}
.woocommerce-search-list__item.woocommerce-product-attributes__item.is-loading .components-spinner{margin-bottom:12px}
.woocommerce-search-list__item.woocommerce-product-attributes__item.depth-0:after{margin-left:8px;content:"";height:24px;width:24px;background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z" fill="{$core-grey-dark-300}" /></svg>');background-repeat:no-repeat;background-position:100%;background-size:contain}.woocommerce-search-list__item.woocommerce-product-attributes__item.depth-0[aria-expanded=true]:after{background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="{$core-grey-dark-300}" /></svg>')}.woocommerce-search-list__item.woocommerce-product-attributes__item[disabled].depth-0:after{margin-left:0;width:auto;background:none}.wc-block-featured-product{position:relative;background-color:#24292d;background-size:cover;background-position:50%;width:100%;margin:0 0 1.5em}.wc-block-featured-product,.wc-block-featured-product .wc-block-featured-product__wrapper{display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;flex-wrap:wrap;align-content:center}.wc-block-featured-product .wc-block-featured-product__wrapper{overflow:hidden;height:100%}.wc-block-featured-product.has-left-content{-webkit-box-pack:start;justify-content:flex-start}.wc-block-featured-product.has-left-content .wc-block-featured-product__description,.wc-block-featured-product.has-left-content .wc-block-featured-product__price,.wc-block-featured-product.has-left-content .wc-block-featured-product__title,.wc-block-featured-product.has-left-content .wc-block-featured-product__variation{margin-left:0;text-align:left}.wc-block-featured-product.has-right-content{-webkit-box-pack:end;justify-content:flex-end}.wc-block-featured-product.has-right-content .wc-block-featured-product__description,.wc-block-featured-product.has-right-content .wc-block-featured-product__price,.wc-block-featured-product.has-right-content .wc-block-featured-product__title,.wc-block-featured-product.has-right-content .wc-block-featured-product__variation{margin-right:0;text-align:right}.wc-block-featured-product .wc-block-featured-product__description,.wc-block-featured-product .wc-block-featured-product__price,.wc-block-featured-product .wc-block-featured-product__title,.wc-block-featured-product .wc-block-featured-product__variation{color:#fff;line-height:1.25;margin-bottom:0;text-align:center}.wc-block-featured-product .wc-block-featured-product__description a,.wc-block-featured-product .wc-block-featured-product__description a:active,.wc-block-featured-product .wc-block-featured-product__description a:focus,.wc-block-featured-product .wc-block-featured-product__description a:hover,.wc-block-featured-product .wc-block-featured-product__price a,.wc-block-featured-product .wc-block-featured-product__price a:active,.wc-block-featured-product .wc-block-featured-product__price a:focus,.wc-block-featured-product .wc-block-featured-product__price a:hover,.wc-block-featured-product .wc-block-featured-product__title a,.wc-block-featured-product .wc-block-featured-product__title a:active,.wc-block-featured-product .wc-block-featured-product__title a:focus,.wc-block-featured-product .wc-block-featured-product__title a:hover,.wc-block-featured-product .wc-block-featured-product__variation a,.wc-block-featured-product .wc-block-featured-product__variation a:active,.wc-block-featured-product .wc-block-featured-product__variation a:focus,.wc-block-featured-product .wc-block-featured-product__variation a:hover{color:#fff}.wc-block-featured-product .wc-block-featured-product__description,.wc-block-featured-product .wc-block-featured-product__link,.wc-block-featured-product .wc-block-featured-product__price,.wc-block-featured-product .wc-block-featured-product__title,.wc-block-featured-product .wc-block-featured-product__variation{width:100%;padding:16px 48px 0;z-index:1}.wc-block-featured-product .wc-block-featured-product__title,.wc-block-featured-product .wc-block-featured-product__variation{margin-top:0;border:0}.wc-block-featured-product .wc-block-featured-product__title:before,.wc-block-featured-product .wc-block-featured-product__variation:before{display:none}.wc-block-featured-product .wc-block-featured-product__variation{font-style:italic;padding-top:0}.wc-block-featured-product .wc-block-featured-product__description p{margin:0;line-height:1.5em}.wc-block-featured-product.has-background-dim:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background-color:inherit;opacity:.5;z-index:1}.wc-block-featured-product.has-background-dim.has-background-dim-10:before{opacity:.1}.wc-block-featured-product.has-background-dim.has-background-dim-20:before{opacity:.2}.wc-block-featured-product.has-background-dim.has-background-dim-30:before{opacity:.3}.wc-block-featured-product.has-background-dim.has-background-dim-40:before{opacity:.4}.wc-block-featured-product.has-background-dim.has-background-dim-50:before{opacity:.5}.wc-block-featured-product.has-background-dim.has-background-dim-60:before{opacity:.6}.wc-block-featured-product.has-background-dim.has-background-dim-70:before{opacity:.7}.wc-block-featured-product.has-background-dim.has-background-dim-80:before{opacity:.8}.wc-block-featured-product.has-background-dim.has-background-dim-90:before{opacity:.9}.wc-block-featured-product.has-background-dim.has-background-dim-100:before{opacity:1}.wc-block-featured-product.alignleft,.wc-block-featured-product.alignright{max-width:305px;width:100%}.wc-block-featured-product:after{display:block;content:"";font-size:0;min-height:inherit}@supports ((position:-webkit-sticky) or (position:sticky)){.wc-block-featured-product:after{content:none}}.wc-block-featured-product.aligncenter,.wc-block-featured-product.alignleft,.wc-block-featured-product.alignright,.wc-block-product-search .wc-block-product-search__fields{display:-webkit-box;display:flex}.wc-block-product-search .wc-block-product-search__field{padding:6px 8px;line-height:1.8;-webkit-box-flex:1;flex-grow:1}.wc-block-product-search .wc-block-product-search__button{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;text-decoration:none;font-size:13px;margin:0 0 0 6px;border:none;cursor:pointer;background:none;padding:8px;color:#555d66;position:relative;overflow:hidden;border-radius:4px}.wc-block-product-search .wc-block-product-search__button svg{fill:currentColor;outline:none}.rtl .wc-block-product-search .wc-block-product-search__button svg{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.wc-block-product-search .wc-block-product-search__button:active{color:currentColor}.wc-block-product-search .wc-block-product-search__button:disabled,.wc-block-product-search .wc-block-product-search__button[aria-disabled=true]{cursor:default;opacity:.3}.wc-block-product-search .wc-block-product-search__button:focus:enabled{background-color:#fff;color:#191e23;box-shadow:inset 0 0 0 1px #6c7781,inset 0 0 0 2px #fff;outline:2px solid transparent;outline-offset:-2px}.wc-block-product-search .wc-block-product-search__button:not(:disabled):not([aria-disabled=true]):hover{background-color:#fff;color:#191e23;box-shadow:inset 0 0 0 1px #e2e4e7,inset 0 0 0 2px #fff,0 1px 1px rgba(25,30,35,.2)}.wc-block-product-search .wc-block-product-search__button:not(:disabled):not([aria-disabled=true]):active{outline:none;background-color:#fff;color:#191e23;box-shadow:inset 0 0 0 1px #ccd0d4,inset 0 0 0 2px #fff}.wc-block-product-search .wc-block-product-search__button:disabled:focus,.wc-block-product-search .wc-block-product-search__button[aria-disabled=true]:focus{box-shadow:none}.woocommerce-product-tags__operator .components-base-control__help{clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;width:1px;margin:-1px;overflow:hidden;overflow-wrap:normal!important;word-wrap:normal!important}.components-panel .woocommerce-product-tags__operator.components-base-control{margin-top:16px}.components-panel .woocommerce-product-tags__operator.components-base-control .components-select-control__input{margin-left:0;min-width:100%}.wc-block-error{display:-webkit-box;display:flex;background-color:#f3f3f4;border-left:4px solid #6d6d6d;padding:36px 16px;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}.wc-block-error__header{font-size:2em;font-weight:700;margin:0}.wc-block-error__message,.wc-block-error__text{margin:0}@media (min-width:481px){.wc-block-error{-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row}.wc-block-error__image+.wc-block-error__content{margin-left:16px}}.woocommerce-product-categories__operator .components-base-control__help{clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;width:1px;margin:-1px;overflow:hidden;overflow-wrap:normal!important;word-wrap:normal!important}.components-panel .woocommerce-product-categories__operator.components-base-control{margin-top:16px}.components-panel .woocommerce-product-categories__operator.components-base-control .components-select-control__input{margin-left:0;min-width:100%}.components-toggle-button-control .components-base-control__field{flex-wrap:wrap}.components-toggle-button-control .components-toggle-button-control__label{width:100%;margin-bottom:8px;display:block}.components-toggle-button-control .components-base-control__help{margin-top:0}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.wc-block-grid{text-align:center}.wc-block-grid__no-products{padding:40px;text-align:center;width:100%}.wc-block-grid__no-products .wc-block-grid__no-products-image{max-width:150px;margin:0 auto 1em;display:block}.wc-block-grid__no-products .wc-block-grid__no-products-title{display:block;margin:0;font-weight:700}.wc-block-grid__no-products .wc-block-grid__no-products-description{display:block;margin:.25em 0 1em}.wc-block-grid__products{display:-webkit-box;display:flex;flex-wrap:wrap;list-style:none;padding:0;margin:0 -8px 16px;background-clip:padding-box}.wc-block-grid__product{box-sizing:border-box;padding:0;margin:0;float:none;width:auto;position:relative;text-align:center;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:16px solid transparent}.entry-content .wc-block-grid__product-image,.wc-block-grid__product-image{text-decoration:none;display:block;position:relative}.entry-content .wc-block-grid__product-image a,.wc-block-grid__product-image a{text-decoration:none;border:0;outline:0;box-shadow:none}.entry-content .wc-block-grid__product-image .wc-block-grid__product-image__image,.wc-block-grid__product-image .wc-block-grid__product-image__image{vertical-align:middle;width:100%}.entry-content .wc-block-grid__product-image .wc-block-grid__product-image__image[hidden],.wc-block-grid__product-image .wc-block-grid__product-image__image[hidden]{display:none}.is-loading .entry-content .wc-block-grid__product-image .wc-block-grid__product-image__image,.is-loading .wc-block-grid__product-image .wc-block-grid__product-image__image{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none;height:0;padding-bottom:100%}.is-loading .entry-content .wc-block-grid__product-image .wc-block-grid__product-image__image:after,.is-loading .wc-block-grid__product-image .wc-block-grid__product-image__image:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.is-loading .entry-content .wc-block-grid__product-image .wc-block-grid__product-image__image,.is-loading .wc-block-grid__product-image .wc-block-grid__product-image__image{-webkit-animation:none;animation:none}}.edit-post-visual-editor .editor-block-list__block .wc-block-grid__product-title,.editor-styles-wrapper .wc-block-grid__product-title,.wc-block-grid__product-title{line-height:1.2em;font-weight:700;padding:0;color:inherit;font-size:inherit;display:block}.is-loading .edit-post-visual-editor .editor-block-list__block .wc-block-grid__product-title:before,.is-loading .editor-styles-wrapper .wc-block-grid__product-title:before,.is-loading .wc-block-grid__product-title:before{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none;content:".";display:inline-block;width:6em}.is-loading .edit-post-visual-editor .editor-block-list__block .wc-block-grid__product-title:before:after,.is-loading .editor-styles-wrapper .wc-block-grid__product-title:before:after,.is-loading .wc-block-grid__product-title:before:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.is-loading .edit-post-visual-editor .editor-block-list__block .wc-block-grid__product-title:before,.is-loading .editor-styles-wrapper .wc-block-grid__product-title:before,.is-loading .wc-block-grid__product-title:before{-webkit-animation:none;animation:none}}.wc-block-grid__product-price{display:block}.wc-block-grid__product-price .wc-block-grid__product-price__regular{font-size:.8em;line-height:1;color:#aaa;margin-top:-.25em;display:block}.wc-block-grid__product-price .wc-block-grid__product-price__value{letter-spacing:-1px;font-weight:600;display:block;font-size:1.25em;line-height:1.25;color:#000}.wc-block-grid__product-price .wc-block-grid__product-price__value span{white-space:nowrap}.is-loading .wc-block-grid__product-price .wc-block-grid__product-price__value:before{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none;content:".";display:inline-block;width:3em}.is-loading .wc-block-grid__product-price .wc-block-grid__product-price__value:before:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.is-loading .wc-block-grid__product-price .wc-block-grid__product-price__value:before{-webkit-animation:none;animation:none}}.wc-block-grid__product-add-to-cart{word-break:break-word;white-space:normal}.wc-block-grid__product-add-to-cart a,.wc-block-grid__product-add-to-cart button{word-break:break-word;white-space:normal;margin:0 auto!important;display:-webkit-inline-box;display:inline-flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;-webkit-box-pack:center;justify-content:center}.wc-block-grid__product-add-to-cart a.loading,.wc-block-grid__product-add-to-cart button.loading{opacity:.25}.wc-block-grid__product-add-to-cart a:after,.wc-block-grid__product-add-to-cart button:after{margin-left:.5em;display:inline-block}.wc-block-grid__product-add-to-cart a.added:after,.wc-block-grid__product-add-to-cart button.added:after{font-family:WooCommerce;content:"\e017"}.wc-block-grid__product-add-to-cart a.loading:after,.wc-block-grid__product-add-to-cart button.loading:after{font-family:WooCommerce;content:"\e031";-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite}.is-loading .wc-block-grid__product-add-to-cart a,.is-loading .wc-block-grid__product-add-to-cart button{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none;min-width:7em}.is-loading .wc-block-grid__product-add-to-cart a:after,.is-loading .wc-block-grid__product-add-to-cart button:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.is-loading .wc-block-grid__product-add-to-cart a,.is-loading .wc-block-grid__product-add-to-cart button{-webkit-animation:none;animation:none}}.wc-block-grid__product-rating{display:block}.wc-block-grid__product-rating .wc-block-grid__product-rating__stars{overflow:hidden;position:relative;width:5.3em;height:1.618em;line-height:1.618;font-size:1em;font-family:star;font-weight:400;display:-block;margin:0 auto;text-align:left}.wc-block-grid__product-rating .wc-block-grid__product-rating__stars:before{content:"\53\53\53\53\53";top:0;left:0;right:0;position:absolute;opacity:.5;color:#aaa}.wc-block-grid__product-rating .wc-block-grid__product-rating__stars span{overflow:hidden;top:0;left:0;right:0;position:absolute;padding-top:1.5em}.wc-block-grid__product-rating .wc-block-grid__product-rating__stars span:before{content:"\53\53\53\53\53";top:0;left:0;right:0;position:absolute;color:#000}.editor-styles-wrapper .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale,.wc-block-grid__product-onsale{border:1px solid #43454b;color:#43454b;background:#fff;padding:.202em .6180469716em;font-size:.875rem;text-align:center;text-transform:uppercase;font-weight:600;display:inline-block;width:auto;border-radius:3px;z-index:9;position:relative;margin:8px auto}.editor-styles-wrapper .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-image .wc-block-grid__product-onsale.wc-block-grid__product-onsale--alignleft,.wc-block-grid__product-image .wc-block-grid__product-onsale.wc-block-grid__product-onsale--alignleft{position:absolute;left:4px;top:4px;right:auto;margin:0}.editor-styles-wrapper .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-image .wc-block-grid__product-onsale.wc-block-grid__product-onsale--aligncenter,.wc-block-grid__product-image .wc-block-grid__product-onsale.wc-block-grid__product-onsale--aligncenter{position:absolute;top:4px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);margin:0}.editor-styles-wrapper .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-image .wc-block-grid__product-onsale.wc-block-grid__product-onsale--alignright,.wc-block-grid__product-image .wc-block-grid__product-onsale.wc-block-grid__product-onsale--alignright{position:absolute;right:4px;top:4px;left:auto;margin:0}.wc-block-grid__product .wc-block-grid__product-image,.wc-block-grid__product .wc-block-grid__product-price,.wc-block-grid__product .wc-block-grid__product-rating,.wc-block-grid__product .wc-block-grid__product-title{margin-top:0;margin-bottom:12px}.wc-block-grid.has-aligned-buttons .wc-block-grid__product{display:-webkit-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}.wc-block-grid.has-aligned-buttons .wc-block-grid__product-add-to-cart{margin-top:auto!important}.wc-block-grid.has-1-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 100%;max-width:100%}.wc-block-grid.has-2-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 50%;max-width:50%}.wc-block-grid.has-3-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 33.33333%;max-width:33.33333%}.wc-block-grid.has-4-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 25%;max-width:25%}.wc-block-grid.has-5-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 20%;max-width:20%}.wc-block-grid.has-6-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 16.66667%;max-width:16.66667%}.wc-block-grid.has-7-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 14.28571%;max-width:14.28571%}.wc-block-grid.has-8-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 12.5%;max-width:12.5%}.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product,.wc-block-grid.has-5-columns:not(.alignfull) .wc-block-grid__product,.wc-block-grid.has-6-columns:not(.alignfull) .wc-block-grid__product,.wc-block-grid.has-7-columns .wc-block-grid__product,.wc-block-grid.has-8-columns .wc-block-grid__product{font-size:.8em}@media (max-width:480px){.wc-block-grid.has-2-columns .wc-block-grid__products{display:block}.wc-block-grid.has-2-columns .wc-block-grid__product{margin-left:auto;margin-right:auto;-webkit-box-flex:1;flex:1 0 100%;max-width:100%;padding:0}.wc-block-grid.has-3-columns .wc-block-grid__products{display:block}.wc-block-grid.has-3-columns .wc-block-grid__product{margin-left:auto;margin-right:auto;-webkit-box-flex:1;flex:1 0 100%;max-width:100%;padding:0}.wc-block-grid.has-4-columns .wc-block-grid__products{display:block}.wc-block-grid.has-4-columns .wc-block-grid__product{margin-left:auto;margin-right:auto;-webkit-box-flex:1;flex:1 0 100%;max-width:100%;padding:0}.wc-block-grid.has-5-columns .wc-block-grid__products{display:block}.wc-block-grid.has-5-columns .wc-block-grid__product{margin-left:auto;margin-right:auto;-webkit-box-flex:1;flex:1 0 100%;max-width:100%;padding:0}.wc-block-grid.has-6-columns .wc-block-grid__products{display:block}.wc-block-grid.has-6-columns .wc-block-grid__product{margin-left:auto;margin-right:auto;-webkit-box-flex:1;flex:1 0 100%;max-width:100%;padding:0}.wc-block-grid.has-7-columns .wc-block-grid__products{display:block}.wc-block-grid.has-7-columns .wc-block-grid__product{margin-left:auto;margin-right:auto;-webkit-box-flex:1;flex:1 0 100%;max-width:100%;padding:0}.wc-block-grid.has-8-columns .wc-block-grid__products{display:block}.wc-block-grid.has-8-columns .wc-block-grid__product{margin-left:auto;margin-right:auto;-webkit-box-flex:1;flex:1 0 100%;max-width:100%;padding:0}.wc-block-grid .wc-block-grid__product-image img{width:100%}}@media (min-width:481px) and (max-width:600px){.wc-block-grid.has-2-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 50%;max-width:50%;padding:0;margin:0 0 24px}.wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(odd){padding-right:8px}.wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(2n){padding-left:8px}.wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(2n) .wc-block-grid__product-onsale{left:8px}.wc-block-grid.has-3-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 50%;max-width:50%;padding:0;margin:0 0 24px}.wc-block-grid.has-3-columns .wc-block-grid__product:nth-child(odd){padding-right:8px}.wc-block-grid.has-3-columns .wc-block-grid__product:nth-child(2n){padding-left:8px}.wc-block-grid.has-3-columns .wc-block-grid__product:nth-child(2n) .wc-block-grid__product-onsale{left:8px}.wc-block-grid.has-4-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 50%;max-width:50%;padding:0;margin:0 0 24px}.wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(odd){padding-right:8px}.wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(2n){padding-left:8px}.wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(2n) .wc-block-grid__product-onsale{left:8px}.wc-block-grid.has-5-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 50%;max-width:50%;padding:0;margin:0 0 24px}.wc-block-grid.has-5-columns .wc-block-grid__product:nth-child(odd){padding-right:8px}.wc-block-grid.has-5-columns .wc-block-grid__product:nth-child(2n){padding-left:8px}.wc-block-grid.has-5-columns .wc-block-grid__product:nth-child(2n) .wc-block-grid__product-onsale{left:8px}.wc-block-grid.has-6-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 50%;max-width:50%;padding:0;margin:0 0 24px}.wc-block-grid.has-6-columns .wc-block-grid__product:nth-child(odd){padding-right:8px}.wc-block-grid.has-6-columns .wc-block-grid__product:nth-child(2n){padding-left:8px}.wc-block-grid.has-6-columns .wc-block-grid__product:nth-child(2n) .wc-block-grid__product-onsale{left:8px}.wc-block-grid.has-7-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 50%;max-width:50%;padding:0;margin:0 0 24px}.wc-block-grid.has-7-columns .wc-block-grid__product:nth-child(odd){padding-right:8px}.wc-block-grid.has-7-columns .wc-block-grid__product:nth-child(2n){padding-left:8px}.wc-block-grid.has-7-columns .wc-block-grid__product:nth-child(2n) .wc-block-grid__product-onsale{left:8px}.wc-block-grid.has-8-columns .wc-block-grid__product{-webkit-box-flex:1;flex:1 0 50%;max-width:50%;padding:0;margin:0 0 24px}.wc-block-grid.has-8-columns .wc-block-grid__product:nth-child(odd){padding-right:8px}.wc-block-grid.has-8-columns .wc-block-grid__product:nth-child(2n){padding-left:8px}.wc-block-grid.has-8-columns .wc-block-grid__product:nth-child(2n) .wc-block-grid__product-onsale{left:8px}.wc-block-grid .wc-block-grid__product-image img{width:100%}}.theme-twentysixteen .wc-block-grid .price ins{color:#77a464}.theme-twentynineteen .wc-block-grid__product{font-size:.88889em}.theme-twentynineteen .wc-block-grid__product-onsale,.theme-twentynineteen .wc-block-grid__product-title{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif}.theme-twentynineteen .wc-block-grid__product-title:before{display:none}.theme-twentynineteen .wc-block-grid__product-onsale{line-height:1}.wc-block-product-sort-select{margin-bottom:24px;text-align:left}.wc-block-price-filter .wc-block-price-filter__range-input-wrapper{padding:0;border:0;outline:none;background:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;height:9px;clear:both;position:relative;box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);background:#e1e1e1;margin:15px 0}.wc-block-price-filter .wc-block-price-filter__range-input-wrapper .wc-block-price-filter__range-input-progress{height:9px;width:100%;position:absolute;left:0;top:0;--track-background:linear-gradient(90deg,transparent var(--low),var(--range-color) 0,var(--range-color) var(--high),transparent 0) no-repeat 0 100%/100% 100%;--range-color:#a8739d;background:var(--track-background)}.wc-block-price-filter .wc-block-price-filter__controls{display:-webkit-box;display:flex;margin:0 0 20px}.wc-block-price-filter .wc-block-price-filter__controls .wc-block-price-filter__amount{margin:0;border-radius:4px;width:auto;max-width:100px;min-width:0}.wc-block-price-filter .wc-block-price-filter__controls .wc-block-price-filter__amount.wc-block-price-filter__amount--min{margin-right:10px}.wc-block-price-filter .wc-block-price-filter__controls .wc-block-price-filter__amount.wc-block-price-filter__amount--max{margin-left:auto}.wc-block-price-filter.wc-block-price-filter--has-filter-button .wc-block-price-filter__controls{-webkit-box-pack:end;justify-content:flex-end}.wc-block-price-filter.wc-block-price-filter--has-filter-button .wc-block-price-filter__controls .wc-block-price-filter__amount.wc-block-price-filter__amount--max{margin-left:0;margin-right:10px}.wc-block-price-filter.wc-block-price-filter--has-filter-button .wc-block-price-filter__controls .wc-block-price-filter__button{margin-left:auto;white-space:nowrap}.wc-block-price-filter .wc-block-price-filter__range-input{margin:0;padding:0;border:0;outline:none;background:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;width:100%;height:0;display:block;position:relative;pointer-events:none;outline:none!important}.wc-block-price-filter .wc-block-price-filter__range-input::-webkit-slider-runnable-track{cursor:default;height:1px;outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}.wc-block-price-filter .wc-block-price-filter__range-input::-webkit-slider-thumb{background-color:transparent;background-position:0 0;width:26px;height:21px;border:0;padding:0;vertical-align:top;cursor:pointer;z-index:20;pointer-events:auto;background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='52' height='42'%3E%3Cdefs%3E%3Cpath id='a' d='M23.3176 7.9423l-8.4163-6.1432C13.1953.5706 11.2618-.0997 9.2146.0121h-.1137C4.2103.347.1159 4.368.0022 9.2827-.1115 14.644 4.2102 19 9.6696 19h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3Cpath id='b' d='M23.3176 7.9423l-8.4163-6.1432C13.1953.5706 11.2618-.0997 9.2146.0121h-.1137C4.2103.347.1159 4.368.0022 9.2827-.1115 14.644 4.2102 19 9.6696 19h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' stroke='%2395588A' d='M24.3176 8.9423l-8.4163-6.1432c-1.706-1.2285-3.6395-1.8988-5.6867-1.787h-.1137c-4.8906.335-8.985 4.356-9.0987 9.2706C.8885 15.644 5.2102 20 10.6696 20h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3Cpath stroke='%23B8B8B8' d='M9 6v9m3-9v9'/%3E%3Cg fill-rule='nonzero' transform='translate(1 22)'%3E%3Cuse fill='%23F8F3F7' stroke='%23FFF' stroke-opacity='.75' stroke-width='3' xlink:href='%23a'/%3E%3Cuse stroke='%2395588A' xlink:href='%23a'/%3E%3C/g%3E%3Cpath stroke='%2395588A' d='M9 27v9m3-9v9'/%3E%3Cg%3E%3Cpath fill='%23FFF' fill-rule='nonzero' stroke='%2395588A' d='M27.6824 8.9423l8.4163-6.1432c1.706-1.2285 3.6395-1.8988 5.6867-1.787h.1137c4.8906.335 8.985 4.356 9.0987 9.2706C51.1115 15.644 46.7898 20 41.3304 20h-.1137c-1.8197 0-3.6395-.6702-5.118-1.787l-8.4163-6.255c-.9099-.8935-.9099-2.2338 0-3.0157z'/%3E%3Cpath stroke='%23B8B8B8' d='M43 6v9m-3-9v9'/%3E%3C/g%3E%3Cg%3E%3Cg fill-rule='nonzero' transform='matrix(-1 0 0 1 51 22)'%3E%3Cuse fill='%23F8F3F7' stroke='%23FFF' stroke-opacity='.75' stroke-width='3' xlink:href='%23b'/%3E%3Cuse stroke='%2395588A' xlink:href='%23b'/%3E%3C/g%3E%3Cpath stroke='%2395588A' d='M43 27v9m-3-9v9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");-webkit-transition:-webkit-transform .2s ease-in-out;transition:-webkit-transform .2s ease-in-out;transition:transform .2s ease-in-out;transition:transform .2s ease-in-out,-webkit-transform .2s ease-in-out;-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:-6px 0 0}.wc-block-price-filter .wc-block-price-filter__range-input::-webkit-slider-thumb:hover{background-position-y:-21px;-webkit-filter:drop-shadow(3px 0 0 hsla(0,0%,100%,.75)) drop-shadow(-3px 0 0 hsla(0,0%,100%,.75));filter:drop-shadow(3px 0 0 rgba(255,255,255,.75)) drop-shadow(-3px 0 0 rgba(255,255,255,.75));-webkit-transform:scale(1.1);transform:scale(1.1)}.wc-block-price-filter .wc-block-price-filter__range-input::-webkit-slider-progress{margin:0;padding:0;border:0;outline:none;background:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none}.wc-block-price-filter .wc-block-price-filter__range-input::-moz-focus-outer{border:0}.wc-block-price-filter .wc-block-price-filter__range-input::-moz-range-track{cursor:default;height:1px;outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}.wc-block-price-filter .wc-block-price-filter__range-input::-moz-range-progress{margin:0;padding:0;border:0;outline:none;background:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none}.wc-block-price-filter .wc-block-price-filter__range-input::-moz-range-thumb{background-color:transparent;background-position:0 0;width:26px;height:21px;border:0;padding:0;margin:0;vertical-align:top;cursor:pointer;z-index:20;pointer-events:auto;background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='52' height='42'%3E%3Cdefs%3E%3Cpath id='a' d='M23.3176 7.9423l-8.4163-6.1432C13.1953.5706 11.2618-.0997 9.2146.0121h-.1137C4.2103.347.1159 4.368.0022 9.2827-.1115 14.644 4.2102 19 9.6696 19h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3Cpath id='b' d='M23.3176 7.9423l-8.4163-6.1432C13.1953.5706 11.2618-.0997 9.2146.0121h-.1137C4.2103.347.1159 4.368.0022 9.2827-.1115 14.644 4.2102 19 9.6696 19h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' stroke='%2395588A' d='M24.3176 8.9423l-8.4163-6.1432c-1.706-1.2285-3.6395-1.8988-5.6867-1.787h-.1137c-4.8906.335-8.985 4.356-9.0987 9.2706C.8885 15.644 5.2102 20 10.6696 20h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3Cpath stroke='%23B8B8B8' d='M9 6v9m3-9v9'/%3E%3Cg fill-rule='nonzero' transform='translate(1 22)'%3E%3Cuse fill='%23F8F3F7' stroke='%23FFF' stroke-opacity='.75' stroke-width='3' xlink:href='%23a'/%3E%3Cuse stroke='%2395588A' xlink:href='%23a'/%3E%3C/g%3E%3Cpath stroke='%2395588A' d='M9 27v9m3-9v9'/%3E%3Cg%3E%3Cpath fill='%23FFF' fill-rule='nonzero' stroke='%2395588A' d='M27.6824 8.9423l8.4163-6.1432c1.706-1.2285 3.6395-1.8988 5.6867-1.787h.1137c4.8906.335 8.985 4.356 9.0987 9.2706C51.1115 15.644 46.7898 20 41.3304 20h-.1137c-1.8197 0-3.6395-.6702-5.118-1.787l-8.4163-6.255c-.9099-.8935-.9099-2.2338 0-3.0157z'/%3E%3Cpath stroke='%23B8B8B8' d='M43 6v9m-3-9v9'/%3E%3C/g%3E%3Cg%3E%3Cg fill-rule='nonzero' transform='matrix(-1 0 0 1 51 22)'%3E%3Cuse fill='%23F8F3F7' stroke='%23FFF' stroke-opacity='.75' stroke-width='3' xlink:href='%23b'/%3E%3Cuse stroke='%2395588A' xlink:href='%23b'/%3E%3C/g%3E%3Cpath stroke='%2395588A' d='M43 27v9m-3-9v9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");-moz-transition:transform .2s ease-in-out;transition:transform .2s ease-in-out;-webkit-appearance:none;-moz-appearance:none;appearance:none}.wc-block-price-filter .wc-block-price-filter__range-input::-moz-range-thumb:hover{background-position-y:-21px;filter:drop-shadow(3px 0 0 rgba(255,255,255,.75)) drop-shadow(-3px 0 0 rgba(255,255,255,.75));transform:scale(1.1)}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-thumb{background-color:transparent;background-position:0 0;width:26px;height:21px;border:0;padding:0;margin:0;vertical-align:top;cursor:pointer;z-index:20;pointer-events:auto;background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='52' height='42'%3E%3Cdefs%3E%3Cpath id='a' d='M23.3176 7.9423l-8.4163-6.1432C13.1953.5706 11.2618-.0997 9.2146.0121h-.1137C4.2103.347.1159 4.368.0022 9.2827-.1115 14.644 4.2102 19 9.6696 19h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3Cpath id='b' d='M23.3176 7.9423l-8.4163-6.1432C13.1953.5706 11.2618-.0997 9.2146.0121h-.1137C4.2103.347.1159 4.368.0022 9.2827-.1115 14.644 4.2102 19 9.6696 19h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' stroke='%2395588A' d='M24.3176 8.9423l-8.4163-6.1432c-1.706-1.2285-3.6395-1.8988-5.6867-1.787h-.1137c-4.8906.335-8.985 4.356-9.0987 9.2706C.8885 15.644 5.2102 20 10.6696 20h.1137c1.8197 0 3.6395-.6702 5.118-1.787l8.4163-6.255c.9099-.8935.9099-2.2338 0-3.0157z'/%3E%3Cpath stroke='%23B8B8B8' d='M9 6v9m3-9v9'/%3E%3Cg fill-rule='nonzero' transform='translate(1 22)'%3E%3Cuse fill='%23F8F3F7' stroke='%23FFF' stroke-opacity='.75' stroke-width='3' xlink:href='%23a'/%3E%3Cuse stroke='%2395588A' xlink:href='%23a'/%3E%3C/g%3E%3Cpath stroke='%2395588A' d='M9 27v9m3-9v9'/%3E%3Cg%3E%3Cpath fill='%23FFF' fill-rule='nonzero' stroke='%2395588A' d='M27.6824 8.9423l8.4163-6.1432c1.706-1.2285 3.6395-1.8988 5.6867-1.787h.1137c4.8906.335 8.985 4.356 9.0987 9.2706C51.1115 15.644 46.7898 20 41.3304 20h-.1137c-1.8197 0-3.6395-.6702-5.118-1.787l-8.4163-6.255c-.9099-.8935-.9099-2.2338 0-3.0157z'/%3E%3Cpath stroke='%23B8B8B8' d='M43 6v9m-3-9v9'/%3E%3C/g%3E%3Cg%3E%3Cg fill-rule='nonzero' transform='matrix(-1 0 0 1 51 22)'%3E%3Cuse fill='%23F8F3F7' stroke='%23FFF' stroke-opacity='.75' stroke-width='3' xlink:href='%23b'/%3E%3Cuse stroke='%2395588A' xlink:href='%23b'/%3E%3C/g%3E%3Cpath stroke='%2395588A' d='M43 27v9m-3-9v9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");-ms-transition:transform .2s ease-in-out;transition:transform .2s ease-in-out;-webkit-appearance:none;-moz-appearance:none;appearance:none}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-thumb:hover{background-position-y:-21px;filter:drop-shadow(3px 0 0 rgba(255,255,255,.75)) drop-shadow(-3px 0 0 rgba(255,255,255,.75));transform:scale(1.1)}.wc-block-price-filter .wc-block-price-filter__range-input:focus::-webkit-slider-thumb{background-position-y:-21px;-webkit-filter:drop-shadow(3px 0 0 hsla(0,0%,100%,.75)) drop-shadow(-3px 0 0 hsla(0,0%,100%,.75));filter:drop-shadow(3px 0 0 rgba(255,255,255,.75)) drop-shadow(-3px 0 0 rgba(255,255,255,.75))}.wc-block-price-filter .wc-block-price-filter__range-input:focus::-moz-range-thumb{background-position-y:-21px;filter:drop-shadow(3px 0 0 rgba(255,255,255,.75)) drop-shadow(-3px 0 0 rgba(255,255,255,.75))}.wc-block-price-filter .wc-block-price-filter__range-input:focus::-ms-thumb{background-position-y:-21px;filter:drop-shadow(3px 0 0 rgba(255,255,255,.75)) drop-shadow(-3px 0 0 rgba(255,255,255,.75))}.wc-block-price-filter .wc-block-price-filter__range-input.wc-block-price-filter__range-input--min{z-index:21}.wc-block-price-filter .wc-block-price-filter__range-input.wc-block-price-filter__range-input--min::-webkit-slider-thumb{margin-left:-2px}.wc-block-price-filter .wc-block-price-filter__range-input.wc-block-price-filter__range-input--min::-moz-range-thumb{transform:translate(-2px,4px)}.wc-block-price-filter .wc-block-price-filter__range-input.wc-block-price-filter__range-input--max{z-index:20}.wc-block-price-filter .wc-block-price-filter__range-input.wc-block-price-filter__range-input--max::-webkit-slider-thumb{background-position-x:26px;margin-left:2px}.wc-block-price-filter .wc-block-price-filter__range-input.wc-block-price-filter__range-input--max::-moz-range-thumb{background-position-x:26px;transform:translate(2px,4px)}.wc-block-price-filter .wc-block-price-filter__range-input.wc-block-price-filter__range-input--max::-ms-thumb{background-position-x:26px}.wc-block-price-filter.is-disabled .wc-block-price-filter__amount,.wc-block-price-filter.is-disabled .wc-block-price-filter__button,.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper,.wc-block-price-filter.is-loading .wc-block-price-filter__amount,.wc-block-price-filter.is-loading .wc-block-price-filter__button,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none}.wc-block-price-filter.is-disabled .wc-block-price-filter__amount:after,.wc-block-price-filter.is-disabled .wc-block-price-filter__button:after,.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper:after,.wc-block-price-filter.is-loading .wc-block-price-filter__amount:after,.wc-block-price-filter.is-loading .wc-block-price-filter__button:after,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.wc-block-price-filter.is-disabled .wc-block-price-filter__amount,.wc-block-price-filter.is-disabled .wc-block-price-filter__button,.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper,.wc-block-price-filter.is-loading .wc-block-price-filter__amount,.wc-block-price-filter.is-loading .wc-block-price-filter__button,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper{-webkit-animation:none;animation:none}}.wc-block-price-filter.is-disabled:not(.is-loading) .wc-block-price-filter__amount,.wc-block-price-filter.is-disabled:not(.is-loading) .wc-block-price-filter__button,.wc-block-price-filter.is-disabled:not(.is-loading) .wc-block-price-filter__range-input-wrapper{-webkit-animation:none;animation:none}@media (-ms-high-contrast:active),(-ms-high-contrast:none){.wc-block-price-filter .wc-block-price-filter__range-input-wrapper{background:transparent;box-shadow:none;height:24px}.wc-block-price-filter .wc-block-price-filter__range-input-wrapper .wc-block-price-filter__range-input-progress{background:#a8739d;box-shadow:inset 0 0 0 1px #95588a;width:100%;top:7px}.wc-block-price-filter .wc-block-price-filter__range-input{height:24px;pointer-events:auto;position:absolute;left:0;top:0}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-track{background:transparent;border-color:transparent;border-width:7px 0;color:transparent}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-fill-lower{background:#e1e1e1;box-shadow:inset 0 0 0 1px #b8b8b8}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-fill-upper{background:transparent}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-tooltip{display:none}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-thumb{transform:translate(1px);pointer-events:auto}.wc-block-price-filter .wc-block-price-filter__range-input--max::-ms-fill-upper{background:#e1e1e1;box-shadow:inset 0 0 0 1px #b8b8b8}.wc-block-price-filter .wc-block-price-filter__range-input--max::-ms-fill-lower{background:transparent}.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none}.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper:after,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper:after{content:"\00a0"}}@media screen and (-ms-high-contrast:active) and (prefers-reduced-motion:reduce){.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper{-webkit-animation:none;animation:none}}@media (-ms-high-contrast:active),(-ms-high-contrast:none){.wc-block-price-filter.is-disabled:not(.is-loading) .wc-block-price-filter__range-input-wrapper{-webkit-animation:none;animation:none}}@supports (-ms-ime-align:auto){.wc-block-price-filter .wc-block-price-filter__range-input-wrapper{background:transparent;box-shadow:none;height:24px}.wc-block-price-filter .wc-block-price-filter__range-input-wrapper .wc-block-price-filter__range-input-progress{background:#a8739d;box-shadow:inset 0 0 0 1px #95588a;width:100%;top:7px}.wc-block-price-filter .wc-block-price-filter__range-input{height:24px;pointer-events:auto;position:absolute;left:0;top:0}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-track{background:transparent;border-color:transparent;border-width:7px 0;color:transparent}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-fill-lower{background:#e1e1e1;box-shadow:inset 0 0 0 1px #b8b8b8}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-fill-upper{background:transparent}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-tooltip{display:none}.wc-block-price-filter .wc-block-price-filter__range-input::-ms-thumb{transform:translate(1px);pointer-events:auto}.wc-block-price-filter .wc-block-price-filter__range-input--max::-ms-fill-upper{background:#e1e1e1;box-shadow:inset 0 0 0 1px #b8b8b8}.wc-block-price-filter .wc-block-price-filter__range-input--max::-ms-fill-lower{background:transparent}.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none}.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper:after,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.wc-block-price-filter.is-disabled .wc-block-price-filter__range-input-wrapper,.wc-block-price-filter.is-loading .wc-block-price-filter__range-input-wrapper{-webkit-animation:none;animation:none}}.wc-block-price-filter.is-disabled:not(.is-loading) .wc-block-price-filter__range-input-wrapper{-webkit-animation:none;animation:none}}.wc-block-attribute-filter .wc-block-attribute-filter-list{margin:0 0 16px}.wc-block-attribute-filter .wc-block-attribute-filter-list li{text-decoration:underline}.wc-block-attribute-filter .wc-block-attribute-filter-list li input,.wc-block-attribute-filter .wc-block-attribute-filter-list li label{cursor:pointer}.wc-block-attribute-filter .wc-block-attribute-filter-list .wc-block-attribute-filter-list-count{float:right}.wc-block-attribute-filter .wc-block-attribute-filter-list .wc-block-attribute-filter-list-count:before{content:" ("}.wc-block-attribute-filter .wc-block-attribute-filter-list .wc-block-attribute-filter-list-count:after{content:")"}.editor-styles-wrapper .wc-block-checkbox-list,.wc-block-checkbox-list{margin:0;padding:0;list-style:none outside}.editor-styles-wrapper .wc-block-checkbox-list li,.wc-block-checkbox-list li{margin:0 0 4px;padding:0;list-style:none outside}.editor-styles-wrapper .wc-block-checkbox-list li.show-less button,.editor-styles-wrapper .wc-block-checkbox-list li.show-more button,.wc-block-checkbox-list li.show-less button,.wc-block-checkbox-list li.show-more button{background:none;border:none;padding:0;text-decoration:underline;cursor:pointer}.editor-styles-wrapper .wc-block-checkbox-list.is-loading li,.wc-block-checkbox-list.is-loading li{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none}.editor-styles-wrapper .wc-block-checkbox-list.is-loading li:after,.wc-block-checkbox-list.is-loading li:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.editor-styles-wrapper .wc-block-checkbox-list.is-loading li,.wc-block-checkbox-list.is-loading li{-webkit-animation:none;animation:none}}.wc-block-active-filters{margin:0 0 16px;overflow:hidden}.wc-block-active-filters .wc-block-active-filters__clear-all{float:right;background:transparent none;border:none;padding:0;text-decoration:underline;cursor:pointer;font-size:1em}.wc-block-active-filters .wc-block-active-filters__clear-all:hover{background:transparent none}.wc-block-active-filters .wc-block-active-filters-list{margin:0 0 4px;list-style:none outside;clear:both}.wc-block-active-filters .wc-block-active-filters-list li{margin:0 0 4px;padding:0 16px 0 0;list-style:none outside;clear:both;position:relative}.wc-block-active-filters .wc-block-active-filters-list button{background:transparent;border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;height:0;padding:16px 0 0;width:16px;overflow:hidden;position:absolute;right:0;top:50%;margin:-8px 0 0}.wc-block-active-filters .wc-block-active-filters-list button:before{width:16px;height:16px;background:transparent url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2324292d'/%3E%3Cpath fill='%23fff' d='M4.5 6.887L6.887 4.5l7.033 7.034-2.386 2.386z'/%3E%3Cpath fill='%23fff' d='M11.533 4.5l2.387 2.386-7.034 7.034L4.5 11.533z'/%3E%3C/svg%3E") 50% no-repeat;display:block;content:"";position:absolute;top:0}.wc-block-active-filters .wc-block-active-filters-list.wc-block-active-filters-list--chips li{display:inline-block;background:#c4c4c4;border-radius:4px;padding:4px 8px;margin:0 6px 6px 0;color:#24292d}.wc-block-active-filters .wc-block-active-filters-list.wc-block-active-filters-list--chips li .wc-block-active-filters-list-item__type{display:none}.wc-block-active-filters .wc-block-active-filters-list.wc-block-active-filters-list--chips button{float:none;vertical-align:middle;margin:-2px 0 0 9px;height:0;padding:12px 0 0;width:12px;overflow:hidden;position:relative}.wc-block-active-filters .wc-block-active-filters-list.wc-block-active-filters-list--chips button:before{width:12px;height:12px;background:transparent url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2324292d' d='M7.033 0l1.414 1.414-7.033 7.034-1.415-1.415z'/%3E%3Cpath fill='%2324292d' d='M8.447 7.071L7.033 8.486 0 1.452 1.414.038z'/%3E%3C/svg%3E") 50% no-repeat;display:block;content:"";position:absolute;top:0}.wc-block-error-message{margin-bottom:16px;margin-top:8px}.wc-block-api-error .components-placeholder__fieldset{display:block}.wc-block-api-error .wc-block-error-message{margin-top:0}.wc-block-api-error .components-spinner{float:none}.woocommerce-search-product__item .woocommerce-search-list__item-name .description{display:block}.woocommerce-search-product__item.is-searching .woocommerce-search-list__item-prefix:after,.woocommerce-search-product__item.is-skip-level .woocommerce-search-list__item-prefix:after{content:":"}.woocommerce-search-product__item.is-not-active:active,.woocommerce-search-product__item.is-not-active:focus,.woocommerce-search-product__item.is-not-active:hover{background:#fff}.woocommerce-search-product__item.is-loading{-webkit-box-pack:center;justify-content:center}.woocommerce-search-product__item.is-loading .components-spinner{margin-bottom:12px}.woocommerce-search-product__item.depth-0.is-variable:after{margin-left:8px;content:"";height:24px;width:24px;background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="{$core-grey-dark-300}" /></svg>');background-repeat:no-repeat;background-position:100%;background-size:contain}.woocommerce-search-product__item.depth-0.is-variable[aria-expanded=true]:after{background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z" fill="{$core-grey-dark-300}" /></svg>')}.wc-block-review-sort-select{text-align:right}.wc-block-sort-select{margin-bottom:12px}.wc-block-sort-select__label{margin-right:12px;display:inline-block;font-weight:400}.editor-styles .wc-block-review-list,.wc-block-review-list{margin:0}.is-loading .wc-block-review-list-item__text{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none;display:block;width:60%}.is-loading .wc-block-review-list-item__text:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.is-loading .wc-block-review-list-item__text{-webkit-animation:none;animation:none}}.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__image{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none}.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__image:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__image{-webkit-animation:none;animation:none}}.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__author{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none;font-size:1em;width:80px}.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__author:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__author{-webkit-animation:none;animation:none}}.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__product,.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__rating .wc-block-review-list-item__rating__stars>span{display:none}.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__published-date{-webkit-animation:loading-fade 1.2s ease-in-out infinite;animation:loading-fade 1.2s ease-in-out infinite;background-color:#e2e4e7!important;color:transparent;border:0;box-shadow:none;height:1em;width:120px}.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__published-date:after{content:"\00a0"}@media screen and (prefers-reduced-motion:reduce){.is-loading .wc-block-review-list-item__info .wc-block-review-list-item__published-date{-webkit-animation:none;animation:none}}.editor-styles-wrapper .wc-block-review-list-item__item,.wc-block-review-list-item__item{margin:0 0 48px;list-style:none}.wc-block-review-list-item__info{display:-ms-grid;display:grid;-ms-grid-columns:1fr;grid-template-columns:1fr;margin-bottom:24px}.wc-block-review-list-item__meta{-ms-grid-column:1;grid-column:1;-ms-grid-row:1;grid-row:1}.has-image .wc-block-review-list-item__info{-ms-grid-columns:64px 1fr;grid-template-columns:64px 1fr}.has-image .wc-block-review-list-item__meta{-ms-grid-column:2;grid-column:2}.wc-block-review-list-item__image{height:48px;-ms-grid-column:1;grid-column:1;-ms-grid-row:1;-ms-grid-row-span:2;grid-row:1/3;width:48px;position:relative}.wc-block-review-list-item__image img{width:100%;height:100%;display:block}.wc-block-review-list-item__verified{width:21px;height:21px;text-indent:21px;margin:0;line-height:21px;overflow:hidden;position:absolute;right:-7px;bottom:-7px}.wc-block-review-list-item__verified:before{width:21px;height:21px;background:transparent url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="none"%3E%3Ccircle cx="10.5" cy="10.5" r="10.5" fill="%23fff"/%3E%3Cpath fill="%23008A21" fill-rule="evenodd" d="M2.1667 10.5003c0-4.6 3.7333-8.3333 8.3333-8.3333s8.3334 3.7333 8.3334 8.3333S15.1 18.8337 10.5 18.8337s-8.3333-3.7334-8.3333-8.3334zm2.5 0l4.1666 4.1667 7.5001-7.5-1.175-1.1833-6.325 6.325-2.9917-2.9834-1.175 1.175z" clip-rule="evenodd"/%3E%3Cmask id="a" width="17" height="17" x="2" y="2" maskUnits="userSpaceOnUse"%3E%3Cpath fill="%23fff" fill-rule="evenodd" d="M2.1667 10.5003c0-4.6 3.7333-8.3333 8.3333-8.3333s8.3334 3.7333 8.3334 8.3333S15.1 18.8337 10.5 18.8337s-8.3333-3.7334-8.3333-8.3334zm2.5 0l4.1666 4.1667 7.5001-7.5-1.175-1.1833-6.325 6.325-2.9917-2.9834-1.175 1.175z" clip-rule="evenodd"/%3E%3C/mask%3E%3Cg mask="url(%23a)"%3E%3Cpath fill="%23008A21" d="M.5.5h20v20H.5z"/%3E%3C/g%3E%3C/svg%3E') 50% no-repeat;display:block;content:""}.wc-block-review-list-item__meta{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-flow:row wrap}.wc-block-review-list-item__meta:after{-webkit-box-ordinal-group:4;order:3;content:"";flex-basis:100%}.wc-block-review-list-item__author,.wc-block-review-list-item__product{display:block;font-weight:700;-webkit-box-ordinal-group:2;order:1;margin-right:8px}.wc-block-review-list-item__product+.wc-block-review-list-item__author{font-weight:400;color:grey;-webkit-box-ordinal-group:5;order:4}.wc-block-review-list-item__published-date{color:grey;-webkit-box-ordinal-group:6;order:5}.wc-block-review-list-item__author+.wc-block-review-list-item__published-date:before{content:"";display:inline-block;margin-right:8px;border-right:1px solid #ddd;height:1em;vertical-align:middle}.wc-block-review-list-item__author:first-child+.wc-block-review-list-item__published-date:before,.wc-block-review-list-item__rating+.wc-block-review-list-item__author+.wc-block-review-list-item__published-date:before{display:none}.wc-block-review-list-item__rating{-webkit-box-ordinal-group:3;order:2}.wc-block-review-list-item__rating>.wc-block-review-list-item__rating__stars{display:inline-block;top:0;overflow:hidden;position:relative;height:1.618em;line-height:1.618;font-size:1em;width:5.3em;font-family:star;font-weight:400;vertical-align:top}.wc-block-review-list-item__rating>.wc-block-review-list-item__rating__stars:before{content:"\53\53\53\53\53";opacity:.25;float:left;top:0;left:0;position:absolute}.wc-block-review-list-item__rating>.wc-block-review-list-item__rating__stars span{overflow:hidden;float:left;top:0;left:0;position:absolute;padding-top:1.5em}.wc-block-review-list-item__rating>.wc-block-review-list-item__rating__stars span:before{content:"\53\53\53\53\53";top:0;position:absolute;left:0;color:#e6a237}.wc-block-load-more{text-align:center;width:100%}.wc-block-pagination{margin:0 auto 16px}.wc-block-pagination-ellipsis,.wc-block-pagination-page{color:#333;display:inline-block;font-size:1em;font-weight:400}.wc-block-pagination-page{border-color:transparent;padding:.3em .6em;min-width:2.2em}@media (max-width:782px){.wc-block-pagination-page{padding:.1em .2em;min-width:1.6em}}.wc-block-pagination-page:not(.toggle){background-color:transparent}.wc-block-pagination-ellipsis{padding:.3em}@media (max-width:782px){.wc-block-pagination-ellipsis{padding:.1em}}.wc-block-pagination-page--active[disabled]{color:#333;font-weight:700;opacity:1!important}.wc-block-pagination-page--active[disabled]:focus,.wc-block-pagination-page--active[disabled]:hover{background-color:inherit;color:#333;opacity:1!important}@-webkit-keyframes loading-fade{0%{opacity:.7}50%{opacity:1}to{opacity:.7}}@keyframes loading-fade{0%{opacity:.7}50%{opacity:1}to{opacity:.7}}.with-scroll-to-top__scroll-point{position:relative;top:-36px}div.wpcf7 .screen-reader-response{position:absolute;overflow:hidden;clip:rect(1px, 1px, 1px, 1px);height:1px;width:1px;margin:0;padding:0;border:0;}
div.wpcf7-response-output{margin:2em 0.5em 1em;padding:0.2em 1em;border:2px solid #ff0000;}
div.wpcf7-mail-sent-ok{border:2px solid #398f14;}
div.wpcf7-mail-sent-ng,
div.wpcf7-aborted{border:2px solid #ff0000;}
div.wpcf7-spam-blocked{border:2px solid #ffa500;}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing{border:2px solid #f7e700;}
.wpcf7-form-control-wrap{position:relative;}
span.wpcf7-not-valid-tip{color:#f00;font-size:1em;font-weight:normal;display:block;}
.use-floating-validation-tip span.wpcf7-not-valid-tip{position:absolute;top:20%;left:20%;z-index:100;border:1px solid #ff0000;background:#fff;padding:.2em .8em;}
span.wpcf7-list-item{display:inline-block;margin:0 0 0 1em;}
span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after{content:" ";}
.wpcf7-display-none{display:none;}
div.wpcf7 .ajax-loader{visibility:hidden;display:inline-block;background-image:url(//richcom.wpdemo.test/wp-content/plugins/contact-form-7/images/ajax-loader.gif);width:16px;height:16px;border:none;padding:0;margin:0 0 0 4px;vertical-align:middle;}
div.wpcf7 .ajax-loader.is-active{visibility:visible;}
div.wpcf7 div.ajax-error{display:none;}
div.wpcf7 .placeheld{color:#888;}
div.wpcf7 input[type="file"]{cursor:pointer;}
div.wpcf7 input[type="file"]:disabled{cursor:default;}
div.wpcf7 .wpcf7-submit:disabled {
cursor: not-allowed;
}