/*bootstrap 4*/
.d-flex{
    display: flex !important;
}

.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}

.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}

.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}

.pt-2, .py-2 {
    padding-top: .5rem!important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.pl-2, .px-2 {
    padding-left: .5rem!important;
}
.pr-2, .px-2 {
    padding-right: .5rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.mt-0, .my-0 {
    margin-top: 0!important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.mt-5,.my-5{
    margin-top:3rem!important
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}

.bg-white {
    background-color: #fff!important;
}

.d-lg-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.w-100 {
    width: 100%!important;
}

.text-left {
    text-align: left!important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

@media (min-width: 768px){
    .mt-md-0, .my-md-0 {
        margin-top: 0!important;
    }
}

@media (min-width: 992px){
    .d-lg-none {
        display: none !important;
    }
}

@media (min-width: 576px){
    .d-sm-table-cell {
        display: table-cell !important;
    }
}


/*END: bootstrap 4*/