/* Reset CSS Cart */
/* Shopping cart - Cart table details */

.shop_table{
    background: #fff;
    border-collapse: inherit;
}

.shop_table thead {
    color: #424242;
}

.cart-container .header-cart {
    padding: 10px 10px;
    background: #fff;
}

.cart-container .title-cart span {
    font-size: .9rem;
    color: #5f5f5f;
}

.cart-container .header-cart .title-cart h3 {
    font-size: 1.1rem;
}

.shop_table th.product-quantity {
    min-width: 120px;
}

.cart-container{
    padding: 15px 0;
    overflow: auto;
}

.cart_totals .delivery_fee, #order_review .delivery_fee{
    display: none;
}

.shop_table tbody .product-name a,
.woocommerce-checkout-review-order tbody .product-name .name,
.woocommerce-order-details .product-name .name{
    font-weight: 500;
}

.shop_table tbody .product-name .mobile-price {
    padding-top: 5px;
}

.shop_table .total {
    color: #222;
}

.shop_table tbody .product-thumbnail {
    width: 120px;
}

.coupon .button{
    font-weight: 500;
}

.shop_table .actions button[name="update_cart"]{
    font-weight: 500;
}

.variation .variation-row{
    line-height: 1.3rem;
}
/* Shopping cart - Cart totals sumary */
.cart_totals th, .woocommerce-checkout-review-order th{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cart_totals .shop_table th, .woocommerce-checkout-review-order .shop_table th{
    padding-left: .75rem;
    padding-right: 5px;
    border-width: 1px;
}

.cart_totals .shop_table td, .woocommerce-checkout-review-order .shop_table td{
    padding-left: 0;
    border-width: 1px;
}

/* Quantity button general */
.cart-container .product-quantity .qty{
    background: #f7f7f5;
}

.cart-container .quantity input[type="number"]{
    max-width: 40px;
    width: 40px;
    border: 1px solid #ddd;
}

.cart-container .product-quantity{
    text-align: center;
}

.cart-container .product-quantity input{
    float: left;
    max-height: 25px;
    min-height: unset;
    line-height: 30px;
}
.cart-container .quantity .minus, .cart-container .quantity .plus{
    float: left;
    line-height: 25px;
    max-height: 25px;
    font-size: 10px;
    background: transparent;
}

.cart-container .quantity .minus:hover, .cart-container .quantity .plus:hover{
    cursor: pointer;
}

/**/
table.cart td.product-remove a.remove{
    text-align: right;
    color: #333;
    border: none;
    height: inherit;
    max-width: 20px;
    font-size: 1.1rem !important;
    line-height: 1.1rem !important;
    position: initial;
}

.shop_table thead tr th{
    padding: 1rem 0;
    border-top: 0;
    border-bottom-width: 1px;
    vertical-align: middle;
}

.shop_table.table-bordered{
    margin-bottom: 0;
}

.shop_table .update_cart_row .actions{
    padding: 10px;
}

.cart-collaterals .cart_totals .wc-proceed-to-checkout{
    background: #fff;
    margin: 0;
}

.cart_totals .table_middle th, .woocommerce-checkout-review-order .table_middle th, .order_details .table_middle th{
    color: #666;
    width: 65%;
    font-size: 1.05rem;
}

.shop_table .cart-discount td .amount{
    color: red;
}

.cart-discount .code{
    color: #00a000;
    font-weight: 500;
}

.cart-discount {
    background-color: rgba(179, 226, 133, 0.2);
}

.shop_table .cart-discount th{
    letter-spacing: -1px;
}

.shop_table .cart-discount td{
    color: red;
}

.return-to-shop .wc-backward{
    color: #fff;
}

.shop_table .delivery_fee td{
    font-size: .95em;
    font-weight: 500;
}

.message-container .restore-item{
    font-weight: bold;
    text-decoration: underline;
}

.shop_table .product-thumbnail img{
    max-width: 90px;
}

.cart_totals.calculated_shipping{
    border: solid 2px #60c300;
}

.cart-collaterals .cart_totals{
    border: solid 2px #60c300;
}

.screen-reader-text {
    position: absolute!important;
    width: 1px;
    height: 0;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal!important;
    overflow: hidden;
}

@media only screen and (max-width: 991px){
    .woocommerce-cart-form .cart-collaterals{
        margin-top: .5rem;
    }
}

@media only screen and (max-width: 767px){
    .shop_table .cart_item .product-quantity{
        padding: 0;
    }

    .shop_table .product-thumbnail{
        width: 70px;
    }

    .shop_table tbody td.product-name{
        padding-left: 0;
    }

    .cart-container {
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
    }
    .cart-container .step_bar{
        margin-top: 10px;
    }

    .shop_table .product-thumbnail {
        width: 70px;
    }

    .cart-container {
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
    }
}

@media only screen and (max-width: 424px){
    .shop_table tbody .product-thumbnail {
        width: 80px;
    }

    .shop_table .product-remove{
        padding-left: 0px !important;
        padding-right: 5px !important;
    }

    .cart-container{
        padding-left: 0;
        padding-right: 0;
    }

    .shop_table .product-thumbnail img {
        max-width: 70px;
    }

    .cart-container .step_bar{
        zoom: .7;
    }
}

@media only screen and (min-width: 992px){
    .col1{
        padding-right: 10px;
    }
    .col2{
        padding-left: 10px;
    }
    .shop_table .product-remove {
        min-width: 40px;
    }
    .shop_table thead tr th{
        white-space: nowrap;
    }

    .shop_table .product-thumbnail{
        min-width: 120px;
    }

}

/* BEGIN: Mini cart*/
.mkdf-sc-dropdown .mkdf-sc-dropdown-inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 274px;
    padding: 38px 33px 34px 38px;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-items {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-inner {
    padding: 15px 10px;
    width: 280px;
    position: absolute;
    right: 0;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item:first-child {
    margin-top: 0;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 20px;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item-image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 75px;
    height: 83px;
    margin-right: 14px;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item-image a, .mkdf-sc-dropdown .mkdf-sc-dropdown-item-image img {
    display: block;
    height: 100%;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item-image img {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3px;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item-content {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding-right: 20px;
    top: -3px;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item-title {
    font-size: 16px;
    line-height: 1.188em;
    color: #4a4a4a;
    margin: 0;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item-price {
    font-weight: 900;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 19px;
    color: #f04336;
    margin: 2px 0 0;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item-quantity {
    margin: 1px 0 0;
    color: #424242;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-item-remove {
    position: absolute;
    top: -1px;
    right: 0;
    font-size: 20px;
    line-height: 1;
}

a.remove.mkdf-sc-dropdown-item-remove {
    line-height: unset !important;
    font-size: 15px !important;
}

a.remove.mkdf-sc-dropdown-item-remove i{
    color: red;
}
.mkdf-sc-dropdown .mkdf-sc-dropdown-subtotal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-subtotal h6.mkdf-sc-dropdown-total {
    font-family: open sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -1px;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-subtotal h6.mkdf-sc-dropdown-total {
    text-transform: unset;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-subtotal .mkdf-sc-dropdown-total-amount {
    font-weight: 900;
    color: #424242;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-subtotal>* {
    margin: 0;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-button-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
    text-align: right;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-button-holder a:first-child {
    margin-right: 5px;
}

.mkdf-btn.mkdf-btn-simple .mkdf-btn-text {
    vertical-align: middle;
    z-index: 5;
    padding-right: 3px;
}

.mkdf-sc-dropdown .mkdf-sc-dropdown-button-holder a:last-child {
    float: right;
}

.mkdf-btn.mkdf-btn-simple {
    background: #59b210;
    color: #fff;
    font-size: 14px;
    border: 0;
    vertical-align: middle;
    font-weight: 500;
}


/* END: Mini cart*/

/*
* BEGIN: STEP BAR
*/
.cart-container article{
    overflow-x: hidden;
}
.cart-container .step_bar{
    white-space: nowrap;
}

.cart-container .step_bar a.step_current {
    color: #60c300;
    font-weight: 500;
}

.cart-container .step_bar i{
    padding: 0 10px;
    color: #60c300;
    font-weight: 500;
}/*END: STEP BAR*/


/*
* BEGIN: CART EMPTY
*/
.cart-empty{
    margin-top: 15px;
    margin-bottom: 30px;
    background: #fff;
    font-weight: 500;
}

.cart-empty-img{
    max-width: 150px;
}

.cart-empty strong{
    font-weight: normal;
}/*END: CART EMPTY*/
