body{
    overflow: hidden;
}
a{
    color: #575454;
}

#body{
    min-height: 450px;
}

.cart-container .step_bar {
    border: solid 1px #ddd;
}

.cart-container{
    padding-left: 0;
    padding-right: 0;
}

.jssor_0{
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    overflow: hidden;
}
#menusite{
    padding: 0;
}

#menusite .navbar-toggler i{
    color: #fff;
    font-size: 20px;
}

#menusite ul{
    min-width: 250px;
}
#menusite .navbar-nav .nav-link{
    color: #fff;
    font-weight: 500;
}

#menusite .dropdown-menu  a:hover{
    background: #4CAF50!important;
    color: #fff!important;
    padding-left: 25px!important;
}

#menusite .dropdown-menu  a:focus{

}

  #menusite .dropdown-item{
    color: #fff;
}

#menusite .navbar-toggler{
    padding: 6px 10px;
}

#menusite .navbar-toggler[aria-expanded='true'] .fa-bars{
    display: none;
}

#menusite .navbar-toggler[aria-expanded='false']  .fa-times{
    display: none;
}
#menusite .nav-item.active .nav-link{
    background: linear-gradient(to bottom, #6BBC41 0, #46d858 100%)!important;
}

#menusite .dropdown-menu>a {
    line-height: 35px !important;
    padding: 0 15px !important;
    transition: all .3s ease-in;
}

#menusite .dropdown-menu> a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, .5);
}

#menusite .dropdown-menu> a:last-child {
    border: 0;
}

@media (max-width:991px) {
    #menusite .dropdown-menu{
        margin-left: 25px;
    }
}


.panel {
    margin-bottom: 30px;
}

.footer .panel-body a:hover{
    color: #f62d3e;
}

.wpb_map_wraper iframe {
    width: 100%;
    min-height: 300px;
}

.jssorl-009-spin{
    display: none;
}

#jssor_1 .images img{
    height: auto !important;
}

.product-main .related .flickity-prev-next-button .arrow{
    color: green ;
}
.product-main .related .flickity-prev-next-button:hover .arrow {
    fill: #337e42;
}

.slick-initialized .slick-slide{
    outline: 0 !important;
}

@media only screen and (min-width: 480px) {
    .slick-slider .slick-track, .slick-slider .slick-track .slick-slide{
        width: 100% !important;
    }
}

.slick-initialized .slick-slide img{
    outline: 0 !important;
    cursor: pointer;
}

.block_news .post-item a h5:hover{
    color: #21b7d1;
}
.block_news .post-item a{
    color: #575454;
}
.block_news .post-item a:hover .post-meta, .block_news .post-item a:hover .from_the_blog_excerpt{
    color: #575454 !important;
}

.headerSearch button.btn-success{
    background-color: #28a745;
}

.product-footer .tab-panels{
    border-top-color: #28a745 !important;
    border-top-width: 2px !important
}

.product-footer .additional_information_tab{
    display: none;
}

#btn-search-form{
    border-color: #FF6990 !important;
}
