.product-price ins{
    text-decoration: none;
}

.product-price del{
    color: #888;
}

.shop-page-heading .woocommerce-ordering .select2-container--default .select2-selection--single {
    background-color: #fff;
    padding: 0 .75rem;
}

.shop-page-heading .woocommerce-ordering .select2-container--default .select2-selection--single{
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shop-page-heading .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #333;
}
.shop-page-heading .select2-dropdown.select2-dropdown--below{
    background-color: #fff;
}
.shop-page-heading .select2-container--default{
    width: 80px;
    max-width: 150px;
    margin: 0;
}

.woocommerce-page .select2-container--default .select2-results__option[aria-selected=true]{
    color: #00a000
}

.shop-page-heading .select2-container .select2-selection{
    border: solid 1px #ddd;
}

.woocommerce-page .select2-container--default .select2-results__options{
    padding-left: .75rem  !important;
    padding-right: .75rem  !important;
    border: solid 1px #ddd  !important;
    margin: 0 !important;
    border-top: 0 !important;
}

.select2-container--default .select2-selection--single{
    border-color: #ccc !important;
}

.woocommerce-page .select2-container--default .select2-dropdown{
    border: 0 !important;
}

.select2-dropdown .select2-search--dropdown{
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

.select2-selection__placeholder{
    color: #a5a5a5 !important;
}

.form-row .select2-container{
    margin-bottom: .5em;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus{
    border-color: #21b7d1 !important;
    box-shadow: none;
}

.select2-container--default .select2-results__option--highlighted{
    color: green !important;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true]{
    background-color: transparent !important;
}

body .select2-container--default .select2-results__option {
    padding: 5px 0;
    font-size: 15px;
    line-height: 15px;
}

/*
*
*/

.widget_price_filter .ui-slider .ui-slider-handle{
    width: 15px;
    height: 13px;
    top: -4px;
    border-radius: 0%;

}

.widget_price_filter .ui-slider .ui-slider-handle{
    background-color: #fff;
    border: solid 2px #f04336;
}

.widget_price_filter .ui-slider .ui-slider-range{
    background-color: #449d44;
    opacity: .7;
    cursor: pointer;
}

.widget_price_filter .price_slider_amount .button{
    float: right;
    margin-right: 0;
    background: #fff;
    color: #17a2b8;
    border: solid 1px #17a2b8;
}

.widget_price_filter .price_slider_amount .button:hover{
    box-shadow: none;
    background: #17a2b8;
    color: #fff;
}

.widget.woocommerce.widget_price_filter .price_slider_amount .price_label{
    float: left;
}

.widget_price_filter .price_slider_amount{
    position: relative;
}

.widget_price_filter .price_slider_amount .button{
    position: absolute;
    right: -15px;
}

.nav-pagination>li>.current, .nav-pagination>li>span:hover, .nav-pagination>li>a:hover {
    border-color: #17a2b8;
    background-color: #17a2b8;
    color: #FFF;
}

.nav-pagination>li>span, .nav-pagination>li>a{
    border: 2px solid #17a2b8;
    color: #17a2b8 ;
}

.nav-pagination .page-number{
    color: #17a2b8;
}

.product-main .tooltip{
    position: relative;
}

.product-main .share-icons a, .product-main .image-tools a{
    text-align: center;
}

.shop-container .shop_attributes{
    width: auto;
}

.product-info .price-wrapper .price del{
    color: #bebebe;
    vertical-align: text-bottom;
    font-size: 1rem;
}

.price del{
    color: #bebebe;
}

.product-main .product-footer .price del{
    color: #bebebe;
}

.product-info .price-wrapper .price ins{
    color: red;
    vertical-align: middle;
}

.product-info .social-icons{
    margin-bottom: .75rem;
}

.product-footer .container{

}

.product-thumbnails img{
    max-width: 100%;
    width: unset;
    max-height: 400px;
    opacity: 1;
}

.product-gallery-slider img{
    max-width: 100%;
    width: unset;
}

.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image{
    text-align: left;
}

.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image a{
    display: block;
}

.woocommerce-product-gallery__wrapper .slide img{
    visibility: hidden;
    max-width: 100%;
    height: auto;
}

.woocommerce-product-gallery__wrapper .slide.is-selected img{
    visibility: visible;
    pointer-events: none;
}

.product-thumbnails a:hover, .product-thumbnails .is-nav-selected a{
    border-color: #449d44;
}

.product-footer .woocommerce-tabs{
    border: 0;
    padding-top: 0;
}

.product-footer .product-section{
    border-top: 0;
}

.product-main .product-images .badge, .product-footer .badge{
    display: table;
    padding: inherit;
    font-size: inherit;
}

.product-main .single_variation_wrap{
    margin-bottom: .75rem;
}

/*LEFT SIDE BAR*/
.mkdf-sidebar .widget.widget_product_categories{
    background-color: #f7f7f5;
    padding: 37px 15px 33px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mkdf-sidebar .widget .mkdf-widget-title-holder{
    position: relative;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    display: inline-block;
    padding: 6px 15px 9px 11px;
    margin-bottom: 20px;
}
/*shop detail*/

.product-footer .woocommerce-tabs{
    background: #fff;
}
.woocommerce-tabs .panel{
    margin-bottom: 0;
    box-shadow: none;
}

.product-footer .entry-content p {
    margin-bottom: .5rem;
    margin-top: 0;
}

.product-footer .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.product-footer  .nav>li>a:focus, .nav>li>a:hover{
    background: transparent;
}

.product-images .image-tools {
    display: none;
}

.gallery-item{
    position: relative;
    margin: 0;
    padding: 0 15px 30px;
    width: 100%;
}

.product-main {
    padding: 0px 0;
}

.product-main .product-info .single_add_to_cart_button:hover{
    color: #fff;
}

.product-main .product-info{
    padding-bottom: 0;
}

.pswp__button--arrow--left, .pswp__button--arrow--right{
    border: 0 !important;
    box-shadow: none !important;
}

.product-gallery-slider .slide .easyzoom-flyout img {
    max-width: 600px !important;
    width: 600px !important;
}

.product-images .badge{
    background: unset !important;
}

.product-main .nav-line>li.active>a:before{
    background-color: transparent;
}

.product-small .grid-tools a{
    background: #d26e4b;
}

.product-small .grid-tools a:hover{
    background: #d26e4b;
}

.title_bg_line{
    position: relative;
}
.title_bg_line:before{
    content: "";
    width: 100%;
    height: 3px;
    background: transparent url(../img/line.png) center;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
}

.title_bg_line:after {
    content: "";
    width: 20%;
    border-top: 3px solid #FF6990;
    height: 3px;
    position: absolute;
    top: 30px;
    background: #fff;
    left: 0px;
    z-index: 1;
}

.single-product .product-info .price del{
}

.single-product .product-info .price .sale-off{
    margin-left: 5px;
    padding: 6px;
    vertical-align: middle;
}

#quantity_detail .card-body{
    padding: 15px 10px;
    background: #a5a5a50d;
}

#quantity_detail .card-body .quantity_text{
    vertical-align: sub;
    vertical-align: -webkit-baseline-middle;
}

.woobt-wrap .woobt-hide .woo-quantity{
    opacity: .5;
    color: #666 !important;
}

.woobt-wrap .woo-quantity{
    color: #4CAF50;
}

.woobt-products .woobt-product .woobt-thumb {
    width: 60px;
}

.woobt-products .woobt-product .woobt-thumb img {
    width: 50px;
    height: auto;
    max-height: 70px;
}

#buy_now_detail_button:hover{
    color: #fff;
}

.woobt_total .amount{
    color: red;
    font-weight: 600;
}

.text_support code{
    font-size: .9rem;
    border-color: #eee;
}

.related_badge{
    margin-top: 0;
}

.related_badge .on-sale{
    background: red;
    padding: 10px 5px;
    line-height: 1px;
}

.product-main .social-icons{
    float: left;
    margin: 0;
}

.product-main .social-icons a{
    margin-right: 7px;
}

#main-message{
    background: rgba(0,0,0,.7);
    color: #fff;
    border: 1px solid #333;
    padding: 15px 0;
    font-size: 120%;
    position: fixed;
    text-align: center;
    top: 50%;
    left: calc(50% - 300px);
    transform: translateX(50%);
    width: 300px;
    z-index: 10000;
    display: none;
}

#main-message .add_to_cart_message{
    font-size: 30px;
    background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/*.woocommerce-variation.single_variation{
    display: none !important;
}*/

.variations .reset_variations{
    display: none;
}

#add_to_cart_detail_button:hover{
    color:#fff;
}

.variation_options .variable-item:hover, .variation_options .variable-item:focus{
    outline: 0 !important;
}

.variations td.label{
    width: 120px;
    color: #333;
}

.variations td {
    padding: .5em 0;
}

.product-footer .nav-outline>li.active>a{
    padding: 5px 20px;
    line-height: 1em;
}

.product-small .variations_form{
    display: none;
}
/*end: shop detail*/
/*Begin: Shop Page*/
.archive .product-small .product-thumb{
    position: relative;
}
.product-small .sale-off {
    background: #f62d3e;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #fff;
    line-height: 1px;
    padding: 10px 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.product-small:hover .image a:before{
    opacity: .2;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    left: 0;
    z-index: 9;
    background: #fff;
}
/**/

.price_slider_wrapper{
    padding-right: 15px;
}
/**/
@media (max-width: 549px){
    .small-nav-collapse>li {
        width: auto;
    }
}

