.metismenu li .fa.arrow:before{
    content: " \f107 ";
}

.metismenu li.active .fa.arrow:before{
    content: " \f106 ";
}

.metismenu li .collapse{
    display: none !important;
}

.metismenu li.active .collapse{
    display: block !important;
}

/*.metismenu li .collapsing{
    display: none!important;
}*/

.metismenu li.active .collapsing{
    display: block !important;
}
