.menu-item a img, img.menu-image-title-after, img.menu-image-title-before, img.menu-image-title-above, img.menu-image-title-below , .menu-image-hover-wrapper .menu-image-title-above{border:none;box-shadow:none;vertical-align:middle;width:auto;display:inline;}
.menu-image-hover-wrapper img.hovered-image,
.menu-item:hover .menu-image-hover-wrapper img.menu-image{opacity:0;transition:opacity 0.25s ease-in-out 0s;}
.menu-item:hover img.hovered-image{opacity:1;}
.menu-image-title-after.menu-image-not-hovered img,
.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper, .menu-image-title-before.menu-image-title{padding-right:10px;}
.menu-image-title-before.menu-image-not-hovered img,
.menu-image-hovered.menu-image-title-before .menu-image-hover-wrapper, .menu-image-title-after.menu-image-title{padding-left:10px;}
.menu-image-title.menu-image-title-above, .menu-image-title.menu-image-title-below{text-align:center;display:block;}
.menu-image-title-above.menu-image-not-hovered > img,
.menu-image-hovered.menu-image-title-above .menu-image-hover-wrapper, .menu-image-title-above .menu-image-hover-wrapper{display:block;padding-top:10px;margin:0 auto !important;}
.menu-image-title-below.menu-image-not-hovered > img,
.menu-image-hovered.menu-image-title-below .menu-image-hover-wrapper, .menu-image-title-below .menu-image-hover-wrapper{display:block;padding-bottom:10px;margin:0 auto !important;}
.menu-image-title-hide .menu-image-title, .menu-image-title-hide.menu-image-title{display:none;}
#et-top-navigation .nav li.menu-item, .navigation-top .main-navigation li {
display: inline-flex;
}