
.bg-scroll {
    margin-top: 20px;
    overflow: hidden;
    border: solid 1px #ebebeb;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.cart .cart-thead div {
    font-weight: 400;
    float: left;
    padding: 9px 0px;
    background: #f7f7f7;
    color: #636363;
    text-align: center;
    border-right: #ebebeb 1px solid;
    font-size: 14px;
}

.cart .cart-thead {
    font-weight: bold;
    font-size: 13px;
    clear: both;
    width: 100%;
    border: 1px solid #ebebeb;
    border-right: none;
    border-left: none;
    float: left;
    min-width: 600px;
}

.cart div.a-center {
    text-align: center;
}

.cart-tbody {
    width: 100%;
    float: left;
}

.cart-tbody .item-cart {
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    float: left;
}

.cart .cart-tbody .item-cart div {
    float: left;
    line-height: 20px;
    vertical-align: top;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-right: solid 1px #ebebeb;
}

.bg-scroll .cart-tbody .item-cart div a.remove-item {
    width: 22px;
    height: 26px;
    display: block;
    margin: 100% 20%;
}

.cart-tbody .item-cart div .product-name {
    margin: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 24px;
}

.cart-tbody .item-cart div .product-name a{
    font-weight: bold;
}

.cart-tbody .text-muted{
    font-size: 14px;
}
.cart-tbody .image{
    margin: 0;
}

.cart-tbody .item-cart .product-image {
    display: block;
    height: auto;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}

.item-cart .image .product-image img {
    max-width: 100%;
    height: auto;
}


.product-image img {
    text-align: center;
}

.cart-tbody .item-cart div .price {
    font-size: 14px;
    font-weight: bold;
    line-height: 6;
    color: #dc3333;
}

.cart-tbody .item-cart div .input_qty_pr {
    height: auto;
    border-right: none;
    width: 100%;
}

.cart-tbody .input_qty_pr input{
    padding: 6px 12px;
}

.header-cart .title-cart h3 {
    font-size: 14px;
    font-weight: bold;
    color: #474c5f;
    margin-top: 0px;
}

.title-cart .text-xs-left{
    font-weight: bold;
}

@media screen and (max-width: 767px){
    .cart-mobile {
        padding: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 767px){
    .min768 {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .max767 {
        display: none;
    }
}


@media (max-width: 767px){
    .title-product-cart-mobile a {
        word-break: break-word;
        font-size: 14px;
        letter-spacing: 0px;
    }
}

@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

@media (min-width: 1024px){
    .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
}

@media (max-width: 767px){
    .title-cart p {
        font-size: 12px;
        color: #9c9c9c;
    }
}

@media screen and (max-width: 375px){
    .item-product .title-product-cart-mobile {
        max-width: 150px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px){
    .item-product .title-product-cart-mobile {
        max-width: 250px;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px){
    .item-product .title-product-cart-mobile {
        max-width: 250px;
    }
}

#total2{
    font-weight: bold;
}

@media (max-width: 767px){
    .title-cart a {
        color: #f62d3e;
        font-size: 15px;
    }

    .title-cart h3 {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.checkout .btn, .checkout input[type="submit"] {
    border: none;
}

.cart-mobile .title-cart{
    margin-bottom: 10px;
}
.cart-mobile .price, .totals_price{
    color: #f62d3e;
    font-weight: bold;
}

.totals_price_mobile, .totals_price{
    font-weight: bold;
}

.checkout input{
    padding: 5px 5px;
}

.cart_checkout #check{
    margin-top: 0;
}



.cart_empty{
    font-size: 13px;
    font-weight: bold;
}

.cart_checkout .form-horizontal .control-label{
    text-align: left;
}

.cart_checkout .error{
    font-size: 11px;
}

