.header-cart-content .content-product-list {
    min-height: 90px;
}

.header-cart-content .product-info-name{
    font-weight: bold;
    font-size: 13px;
}
.content-product-list .item-product {
    padding: 15px 15px;
    border-bottom: solid 1px #ebebeb;
    overflow: hidden;
}

@media (max-width: 767px){
    .content-product-list .item-product {
        padding: 8px 0 0 0 ;
    }
}

.item-product-cart-mobile {
   /* max-width: 75px!important;*/
    margin-right: 10px;
}

.item-product-cart-mobile img {
    max-width: 115px;
    border-radius: 4px;
}

.header-cart {
    padding: 10px 0px 10px;
    border-bottom: solid 1px #ebebeb;
}
.item-product-cart-mobile, .title-product-cart-mobile, .select-item-qty-mobile {
    float: left;
}

.title-product-cart-mobile{
    max-width: 150px;
}
.title-product-cart-mobile p {
    line-height: 1;
    color: #898989;
}

.select-item-qty-mobile {
    float: right;
    text-align: center;
    font-size: 13px;
}

.select-item-qty-mobile a {
    line-height: 3;
    color: #363636;
}

.header-cart-price {
    padding: 20px 0px;
}

.select-item-qty-mobile {
    float: right;
    text-align: center;
}

.select-item-qty-mobile {
    float: right;
    text-align: center;
}

.select-item-qty-mobile .txt_center input {
    height: 25px;
    width: 50px;
    text-align: center;
    margin: 0px;
    line-height: 24px;
    float: left;
    display: inline-block;
}

.title-product-cart-mobile a {
    word-break: break-word;
    font-weight: bold;

}

.title-product-cart-mobile h3{
    margin: 0px;
    line-height: 1;
    margin-bottom: 5px;
}

.check-out-2{
    padding: 10px 10px;
    background: #a5a5a50d;
}

.check-out-2 .quantity{
    font-size: 12px;
    color: #707070;
}

.check-out-2 .price{
    color: #f62d3e;
    font-weight: bold;
}


/**/

.check-out-2 .product-thumbnail {
    width: 70px;
    height: 50px;
    border-radius: 8px;
    background: #fff;
    position: relative;
}

.check-out-2 .product:first-child td {
    padding-top: 0;
}

.check-out-2 .product-info-name, .check-out-2 .product-info-description {
    display: block;
}

.check-out-2 .product:first-child td {
    padding-top: 0;
}

.check-out-2 .product-price {
    white-space: nowrap;
}

.check-out-2 .product-thumbnail__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}

.check-out-2 .product-thumbnail__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.check-out-2 .product-thumbnail__quantity {
    font-size: 0.78em;
    white-space: nowrap;
    padding: 0 0.62em;
    border-radius: 2em;
    background-color: #5a96c8;
    color: #fff;
    position: absolute;
    right: -0.5em;
    top: -0.4em;
    z-index: 1;
}

.check-out-2 .product-info-name, .check-out-2 .product-info-description {
    display: block;
}

.check-out-2 .product-table {
    margin: 12px 0;
    width: 100%;
    line-height: 1.42857143em;
}

.check-out-2 .product td{
    padding-left: 10px;
    padding-top: 1em;
}

.check-out-2 .product-price{
    padding-left: 5px !important;
}

.check-out-2 td:first-child, .check-out-2 th:first-child {
    padding-left: 0;
    text-align: left;
}

.check-out-2 .price3{
    border-top: 1px solid #e7e7e7;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.cart_checkout .alert, .step_bar {
    padding: 0 10px;
}