#jssor_1{
    margin:0 auto;
    top:0px;
    left:0px;
    width:870px;
    height:350px;
    visibility:hidden;
}

#jssor_1 .images{
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:870px;
    height:350px;
    overflow:hidden;
}

.jssorl-009-spin{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top:-19px;
    position:relative;
    top:50%;
    width:38px;
    height:38px;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 053 css*/
.jssorb053 .i {
    position:absolute;
    cursor:pointer;
    width:16px;
    height:16px;
}

.jssorb053 .i .co {
    fill: #fff;
    opacity: .3;
}

.jssorb053 .iav .co {
    fill: #5ae928;
    opacity: 1;
}

.jssorb053 .iav .ci {
    fill: #fff;
    stroke-width: 0;
}

.jssorb053 .i:hover .ci {
    fill: #fff;
}

.jssorb053 .i:hover .co {
    fill: #ff4e3f;
    opacity: 1;
}

.jssorb053{
    position:absolute;
    bottom:12px;
    right:12px;
}

.jssorb053 svg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*jssor slider arrow skin 093 css*/
.jssora093 {
    display: block;
    position: absolute;
    opacity: .8;
    cursor: pointer;
}

.jssora093 svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jssora093[data-u="arrowleft"]{
    width:45px;
    height:45px;
    top:0px;
    left:10px;
}

.jssora093[data-u="arrowright"]{
    width:45px;
    height:45px;
    top:0px;
    right:10px;
}

.jssora093:hover{
    opacity: 1;
}
.jssora093 .c {
    fill: #000;
    fill-opacity: 0.4;
}

.jssora093 .a {
    fill: #ddd;
    fill-opacity: 1;
}