.aside-item {
    margin-bottom: 30px;
    clear: left;
}

.aside-item .title-head span {
    color: #fff;
    display: block;
    padding: 10px 10px 10px 45px;
}

.aside-item .title-head {
    margin: 0px;
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: block;
}

.aside-item .title-head span:before {
    content: "\f0c9";
    position: absolute;
    font: normal normal normal 15px/1 FontAwesome;
    width: 100%;
    height: auto;
    top: 12px;
    left: 20px;
}

.aside-item .aside-title {
    border-bottom: 1px solid #ebebeb;
    background: #f62d3e;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.aside-item .aside-title h2 {
    font-size: 21px;
    margin: 0;
}

.aside-item .title-head {
    margin: 0px;
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: block;
}

.aside-item .title-head span {
    display: block;
    padding: 10px 10px 10px 45px;
}

.aside-item .title-head span a{
    color: #fff;
}

.sidebar-category .aside-content {
    margin-top: 0;
}

.sidebar-category .aside-content .nav-category .navbar-pills {
    padding: 0;
    margin-top: 0px;
    background: #fff;
    z-index: 999;
}

.sidebar-category .aside-content .nav-item {
    position: relative;
    clear: left;
    font-size: 1em;
    padding: 13px 0;
    border-bottom: 1px solid #ebebeb;
}

.sidebar-category .aside-content .nav-item:last-child {
    border-bottom: none;
}

.sidebar-category .aside-content .nav-item a {
    font-size: 14px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #474c5f;
    font-weight: 400;
    padding-left: 30px !important;
}

.aside-item.sidebar-category .nav-item a .count_x {
    color: #acacac;
}

.sidebar-category .aside-content .nav-item .dropdown-menu {
    position: static;
    width: 100%;
    border: 0;
    padding-left: 0px;
    box-shadow: none;
    margin-top: 16px;
    padding: 0px;
}

.sidebar-category .aside-content .nav-item.lv2 {
    padding: 10px 0 10px 0px;
}

.sidebar-category .aside-content .nav-item.lv2 a {
    padding-left: 45px !important;
    padding-right: 30px;
    padding-top: 0;
}

.sidebar-category .aside-content .nav-item a:hover,.sidebar-category .aside-content .nav-item a:focus {
    color: #f62d3e;
    background: transparent !important;
    background-color: transparent !important;
}

.aside-item.sidebar-category .nav-item:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 22px;
    left: 17px;
    background: #f62d3e;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sidebar-category .aside-content .nav-item.active>.fa {
    color: #f62d3e;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
}

.aside-item.sidebar-category .nav-item .fa {
    position: absolute;
    right: 0px;
    top: 10px;
}

.aside-item.sidebar-category .nav-item .fa {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
}

.aside-item .nav>li>a {
    padding: 0;
}

.sidebar-category .aside-content .nav-item.active>.dropdown-menu {
    display: block;
}

.sidebar-category .aside-content .nav-item ul>li:before {
    top: 17px;
    left: 30px;
}

.aside-item .aside-content {
    margin-top: 0px;
    border-top: none !important;
    border: 1px solid #ebebeb;
}
