.item_small:first-child .product-mini-item {
    padding-top: 0px;
}

.product-mini-item {
    padding: 15px 10px 15px 0px;
    border-bottom: 1px solid #ebebeb;
}

.product-mini-item .product-img {
    width: 100px;
    margin-right: 10px;
    float: left;
}

.product-mini-item .product-info {
    width: calc(100% - 110px);
    float: right;
}

.product-mini-item .product-info h3 {
    margin: 0;
    font-size: 14px;
}

.product-mini-item .product-info h3 a {
    color: #4CAF50;
    font-size: 13px;
}

.product-mini-item .product-info .price-box {
    border: none;
    margin-top: 7px;
}

.product-mini-item .price {
    display: inline-block;
}

.product-mini-item .product-price {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #f62d3e;
}

.product-mini-item .sale-price {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 5px;
    color: #acacac;
}

.product-mini-item .price{
    height: inherit !important;
    margin-top: 0 !important;
}

.product-mini-item .product-info h3 a:hover {
    color: #f62d3e;
}

.product-mini-item a:hover {
    color: #f62d3e;
    text-decoration: none;
    cursor: pointer;
}