.product-box .product-thumbnail>a {
    width: 100%;
    text-align: center;
    position: relative
}

@media (max-width:375px) {
    .related-product .owl_item_product .product-thumbnail .image_link {
        height: 170px!important;
        max-height: 170px!important
    }
}

.product-box .product-thumbnail>a.image_link:before,
.products-view-list .product-box .product-thumbnail.image_link:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    left: 0;
    z-index: 9;
    background: #fff
}

.product-box:hover .product-thumbnail .image_link:before {
    opacity: .2
}

@media (min-width:1200px) {
    .product-box .product-thumbnail .image_link {
        height: auto !important
    }
}

@media (max-width:991px) {
    .product-box .product-thumbnail .image_link {
        height: auto!important
    }
    .homepage-section .panel-custom.row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .flex-row .flex-row-items {
        padding-left: 8px;
        padding-right: 8px
    }
}

.product-box .product-thumbnail .image_link img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.product-box-1 .product-thumbnail .image_link {
    height: 180px!important
}

@media (max-width:374px) {
    .product-box-1 .product-thumbnail .image_link {
        height: 190px
    }
}