.wraper {
    width: 100%
}


@media (max-width:992px) {
    .body-bg,
    .container {
        width: 100%;
        padding: 0 5px
    }
    #header .logo {
        padding: 10px
    }
    #menu-site-default .navbar-right {
        display: none
    }
    .column-margin-left {
        margin-left: 0!important
    }
}

@media (max-width:767px) {


    .nav>li>a{
        display: inline-block;
    }

    .nav>li>a .caret{
        float: right;
    }


    .breadcrumbs_ a,
    .show-subs-breadcrumbs {
        padding: .2em .1em;
        font-size: 9px
    }
    .body-bg {
        padding-top: 65px !important
    }
    #menusite {
        position: fixed;
        top: 10px;
        left: 5px;
        z-index: 9999
    }
    #header .logo {
        visibility: hidden
    }
    .header-nav {
        text-align: center;
        height: 65px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #F8F6ED;
        border-bottom: solid 2px #6BBC41
    }
    #statics-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
    #statics-top .index-cart {
        position: fixed;
        top: 12px;
        right: 15px;
        height: 31px;
        line-height: 31px
    }
    #statics-top .index-cart a {
        padding: 0 10px
    }
    #statics-top .index-cart a .cart-right {
        height: 20px;
        width: 20px;
        line-height: 20px
    }

    .homepage-section .panel-custom.row{
        margin-left: -3px !important;
        margin-right: -3px !important;
    }
    .flex-row .flex-row-items {
        padding-left: 3px!important;
        padding-right: 3px!important
    }
    .block_news .panel-body .row{
        margin: 0;
    }
    .block_news .post-item{
        padding-right: 3px!important;
        padding-left: 3px!important;
    }
    #customcontent_home1 {
        margin-top: 5px
    }
    #header {
        display: block!important;
        padding-bottom: 0;
        padding-top: 0
    }
    .span6 {
        zoom: .6;
        min-width: 170px!important;
        padding-left: 0;
        padding-right: 0
    }
    .body-bg,
    .container {
        width: 100%
    }
    .box-shadow {
        box-shadow: none;
        -webkit-box-shadow: none
    }
    .contactDefault {
        position: relative
    }
    .contactDefault,
    .personalArea,
    .social-icons {
        float: right;
        margin-right: 10px;
        margin-left: 0
    }
    .contactDefault .content,
    .social-icons .content {
        display: none
    }
    .contactList li {
        display: block
    }
    .contactList li .fa,
    .contactList li [class*=" icon-"],
    .contactList li [class^=icon-] {
        width: 20px!important
    }
    .hidden-ss-block,
    .hidden-ss-inline,
    .hidden-ss-inline-block {
        display: none!important
    }
    #menusite .dropdown-submenu>a:after,
    .third-nav .current-time {
        display: none
    }
    .second-nav .bg {
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px
    }
    #menusite .navbar-default {
        background-color: #6BBC41!important;
        border-color: #428BCA!important;
        padding: 0;
        padding-left: 10px;
    }
    #menusite .navbar-default .navbar-nav>li {
        margin-left: 0!important;
        width: 250px
    }
    #menusite .navbar-default .navbar-nav>li:first-child {
        margin-left: 0!important
    }
    #menusite .navbar-default .navbar-nav>li:last-child {
        margin-right: 0!important
    }
    #menusite .navbar-default .navbar-nav>li>a {
        color: #fff!important
    }
    #menusite .navbar-default .navbar-nav>.open>a,
    #menusite .navbar-default .navbar-nav>.open>a:focus,
    #menusite .navbar-default .navbar-nav>.open>a:hover,
    #menusite .navbar-default .navbar-nav>li>a:focus,
    #menusite .navbar-default .navbar-nav>li>a:hover {
        background: #6BBC41;
        color: #fff!important
    }
    #menusite .navbar-default .navbar-nav>.active>a,
    #menusite .navbar-default .navbar-nav>.active>a:focus,
    #menusite .navbar-default .navbar-nav>.active>a:hover {
        color: #fff!important
    }
    #menusite .navbar-nav {
        margin: 0 0 10px!important
    }
    #menusite .navbar-collapse {
        padding-left: 0!important;
        padding-right: 0!important
    }
    #menusite .navbar-toggle {
        border-color: transparent transparent #6BBC41 #6BBC41!important;
        background-color: #6BBC41!important;
        text-align: right;
    }
    #menusite .dropdown-submenu a,
    #menusite .navbar-nav .dropdown-mobile {
        border-top-width: 1px!important;
        border-top-style: solid!important;
        border-top-color: green!important
    }
    #menusite .dropdown-submenu {
        margin: 0;
        padding: 0
    }
    #menusite .dropdown-submenu li>ul>li {
        margin-left: 30px
    }
    #menusite .dropdown-submenu a {
        line-height: 33px;
        background-color: #6BBC41;
        padding-left: 15px!important;
        padding-right: 15px!important;
        color: #fff
    }
    #menusite .dropdown-submenu li a {
        color: #fff!important
    }
    #menusite .navbar-nav>li>a {
        line-height: 15px;
        padding-top: 15px;
        padding-bottom: 15px
    }
    .pro_default_temp .product_info {
        margin-top: 15px
    }
}

@media (max-width:499px) {
    .nv-infodie {
        width: 100%
    }
    #header .logo img {
        max-height: 40px;
        width: auto
    }
    .visible-ss-block {
        display: block!important
    }
    .visible-ss-inline {
        display: inline!important
    }
    .visible-ss-inline-block {
        display: inline-block!important
    }
    .hidden-ss-block,
    .hidden-ss-inline,
    .hidden-ss-inline-block {
        display: none!important
    }
    #footer-tip,
    #tip {
        max-width: 100%;
        margin-right: 0!important
    }
    .guestBlock {
        width: 100%
    }
}

@media (min-width:500px) and (max-width:991px) {
    #footer .menu li {
        width: 32%
    }
    #footer .menu li:nth-child(3n+2) {
        padding-right: 8px;
        padding-left: 7px
    }
    #footer .menu li:nth-child(3n),
    #footer .menu li:nth-child(3n+1) {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:500px) {
    .nv-infodie {
        width: 500px;
        left: 50%;
        margin-left: -250px
    }
}

@media (min-height:500px) {
    .body-bg,
    .container {
        width: 100%
    }
    .nv-infodie {
        height: 500px;
        top: 50%;
        margin-top: -250px
    }
}

@media (min-width:768px) {
    .contact_form {
        padding-left: 15px!important
    }
    .wraper {
        width: 100%;
        max-width: 97%
    }
    .hidden-ss-block {
        display: block!important
    }
    .hidden-ss-inline {
        display: inline!important
    }
    .hidden-ss-inline-block {
        display: inline-block!important
    }
    .news_1 .td-module-thumb {
        min-height: 141px
    }
    .flex-row {
        margin-left: -10px
    }
    #search_xs,
    .header-nav .index-cart {
        display: none
    }
    #go-top {
        bottom: 5px!important
    }
}

@media (min-width:992px) {
    .body-bg,
    .container,
    .wraper {
        width: 100%
    }
    .wraper {
        max-width: 95%
    }
    nav>.container>.row {
        margin-left: 0;
        margin-right: 0
    }
    .co-1 {
        padding-left: 15px!important
    }
    .co-2 {
        padding-right: 15px!important
    }
}

@media (min-width:1200px) {
    .wraper {
        width: 1190px;
        max-width: 100%
    }
    nav>.container>.row {
        margin-left: -5px;
        margin-right: -5px
    }
    .cart_checkout .col-lg-8 {
        padding-right: 10px
    }
}