.module_service_details {
    margin-bottom: 30px;
}
.module_service_details .wrap_module_service {
    overflow: hidden;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #f62d3e;
}

.module_service_details .wrap_module_service .item_service {
    padding: 0px 15px;
    border-bottom: solid 1px #e5e5e5;
}

.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service {
    position: relative;
    padding: 20px 0px 20px 55px;
}

.module_service_details .wrap_module_service .item_service:nth-child(1) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/284/162/themes/633824/assets/shiper.png?1521005735589);
}
.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service:before {
    content: "";
    width: 35px;
    height: 35px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 27px;
}

.module_service_details .wrap_module_service .item_service:nth-child(2) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/284/162/themes/633824/assets/change.png?1521005735589);
}

.module_service_details .wrap_module_service .item_service:nth-child(3) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/284/162/themes/633824/assets/pay.png?1521005735589);
}

.module_service_details .wrap_module_service .item_service:nth-child(4) .wrap_item_ .content_service:before {
    background-image: url(//bizweb.dktcdn.net/100/284/162/themes/633824/assets/phone.png?1521005735589);
}

.module_service_details .wrap_module_service .item_service:nth-child(4) .wrap_item_ .content_service span, .module_service_details .wrap_module_service .item_service:nth-child(4) .wrap_item_ .content_service a {
    color: #f62d3e;
    font-size: 16px;
    font-weight: bold;
}