body{font-family:arial, Sans-serif;}
.description-top.marquee{height:500px !important;overflow:hidden;}
.dropdown-toggle::after{display:none;}
#logo{width:100% !important;}
#logo .item{position:relative;padding-top:0;padding-bottom:0;}
#logo .item:first-child{margin-top:-13px;}
#logo .item:last-child{margin-right:0;}
#logo a{display:block;height:100%;min-height:80px;}
#logo img{max-height:65px !important;max-width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
#top .head-social a{color:#222;}
#top .btn-link, #top-links li, #top-links a{color:#555;}
#top{background-color:#fff;border-bottom:solid 1px #f1f1f1;}
.cate-menu li a i{margin-top:7px;}
#cat-text{position:relative;}
#cat-text .cate-menu{position:absolute;display:none;}
#cat-text .cate-menu .enangle{margin-right:0;margin-left:0;}
.horizontal-menu > .navbar button i{color:#fff;}
#mySidenav .close-nav-2 a{color:#fff;}
#mySidenav .navbar-collapse{height:unset !important;display:block !important;}
#mySidenav .dropdown-menu{margin-left:0 !important;}
#mySidenav .navbar-nav{margin-left:0;margin-right:0;}
.bg_heading{background-size:contain !important;background-repeat:no-repeat;max-height:350px;text-align:center;vertical-align:middle;}
.bg_heading img{max-height:350px;}
.open .cate-menu{display:block !important;}
.cate-menu nav{border-top-right-radius:0;border-top-left-radius:0;padding:.5rem .5rem;}
.navbar-ex1-collapse .nav{display:block;padding-left:0;padding-right:0;}
.navbar-ex1-collapse .nav>li{margin:unset;width:100%;}
.navbar-ex1-collapse .nav>li a{padding-left:0;}
.head-social>li{padding:0 !important;margin-bottom:0;}
.cate-menu{padding:0;min-height:unset;border-radius:0;}
.cate-menu .navbar-toggle{min-height:unset;}
.cate-menu .navbar-toggle i{color:#333;}
#top-links{display:block;}
#top-links li{margin-bottom:0;}
#mySidenav .dropdown-inner li a{padding-left:20px;}
#mySidenav .navbar-nav li img{max-height:25px;margin-right:5px;}
.close-nav-2{background-color:#bfbfbf !important;}
#cate-menu .navbar-ex1-collapse{padding-left:10px;padding-right:10px;}
.banner-sticky-top{background:#fcdc4d;}
.middle-footer .btn:active{background:transparent !important;}
.middle-footer .active>.toggle{transform:unset;}
.bct_heading{margin-top:10px;}
header:not(.entry-header):not(.page-title){background-color:#fff;position:relative;padding:20px 0;}
.logo-slider .owl-carousel, .logo-slider{background-color:#f4f4f4;}
.pro-bg .nav-tabs>li>a{background:unset;font-weight:unset;}
.pro-bg .nav{width:unset;}
.pro-bg h2{width:unset;}
.pro-bg .nav-tabs{margin-right:90px !important;}
.cate-menu.nav > li a i{position:absolute;right:10px;top:calc(50% - 10px);float:unset;}
.cate-menu .nav > li a{text-transform:uppercase;}
.product-thumb:hover .pcart{bottom:10px;}
.pcart{line-height:40px;margin-left:auto !important;margin-right:auto !important;}
.product-thumb:hover .pcart.loading{position:absolute !important;}
.pcart.loading{position:absolute !important;bottom:10px !important;}
.mkdf-sc-dropdown .mkdf-sc-dropdown-inner{margin-top:-20px;}
#cart a.remove, #cart a.icon-remove{border:none !important;}
#cart .ct a{color:#333;}
#cart .tot{letter-spacing:normal;padding-left:5px;}
.text-right .button:last-of-type, .text-center .button:last-of-type{margin-right:auto !important;}
.text-center .button:first-of-type{margin-left:auto !important;}
.product-layout .price del{font-weight:normal !important;}
.product-layout .price ins{font-weight:bold!important;text-decoration:none;color:red!important;}
.product-layout .amount{color:red;font-weight:bold;}
.product-layout .price del .amount{color:#333!important;font-weight:normal;}
.product-thumb{overflow:unset;}
.stmenu ul{display:inline-block;}
.stmenu form{margin-bottom:0;}
#search{margin-top:0;}
.search_form{margin-top:auto;margin-bottom:auto;margin-left:auto;}
.search_form_xs{margin-top:15px;padding-bottom:0;max-width:250px;}
.search_form_xs .btn-lg i{margin:0 12px;}
.search_form_xs form{margin-bottom:0;}
.search_form_xs{margin-right:auto;margin-left:unset;}
#search .input-lg{height:35px;}
#search .btn-lg{line-height:5px;padding:6px 0px;max-height:35px;background:#59b210;border:solid 1px #34a034;border-left:0 !important;border-top-right-radius:5px;border-bottom-right-radius:5px;}
#cat-text-heading a{white-space:nowrap;}
#search .btn-lg:hover{background:#34a034;border:solid 1px #34a034;color:#fff;}
#menu1 .manun{display:flex;}
#cart{padding-bottom:10px;margin-top:15px;}
#cart a.dropdown-toggle{background-color:transparent;border-color:transparent;margin-top:-10px;color:#fff;padding:0;}
#cart .cart-icon{text-align:center;}
#cart .dropdown-menu li > div{min-width:unset;padding:unset;}
#cart .dropdown-menu{padding:0;background:transparent;border:none;margin:0;}
.product-grid .product-thumb{margin-bottom:10px;padding-bottom:0;height:100%;}
.yith-wcwl-wishlistexistsbrowse i{color:#59b210;}
.pwish{color:#59b210;;}
.nav-tabs > li.active > a{font-weight:bold;}
.pro-bg .product-layout{position:relative;}
.yith-wcwl-add-button.show{height:0;}
.chinhsach{margin-top:50px;width:100% !important;}
.cs_item{text-align:center;background:#59b210;margin-bottom:5px;border-radius:5px;color:#fff;display:block;padding:20px 10px;}
.cs_item i{font-size:18px;}
.cs_item:hover, .cs_item:focus{color:yellow !important;}
.logo-slider{margin-top:20px;}
.translate_btn{padding-left:20px !important;}
.translate_btn a:before{margin:0 !important;}
.middle-footer{width:100%;}
#aboutf .menu{padding-left:20px;}
#aboutf .menu li{list-style:circle;}
.inspire-newsletter img{padding-bottom:10px;padding-top:10px;border-bottom:solid 1px #333;}
#aboutf a{font-size:14px;}
#column-right{margin-top:0;}
.xs-fab img{width:100%;max-width:250px;}
.pro-bg h2{font-family:unset;}
.middle-footer .xs-fab{padding-left:5px;padding-right:5px;overflow:hidden;}
.inspire-newsletter h2{margin-top:0 !important;}
#cart .ct{top:0;}
.cart-container .step_bar{position:relative;}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style]{}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style]{width:100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style]{}
footer h5{margin-bottom:20px;}
#place_order{border-bottom:0;}
.wc-proceed-to-checkout .button.checkout-button, button[name="woocommerce_checkout_place_order"]{border-bottom:0;}
#menu1 li{margin-bottom:0;}
#menu .navbar-toggle{margin:0;}
#shop-sidebar .widget{padding:15px;background:#fff;}
.pcart{margin-right:auto !important;margin-left:auto !important;}
.widget_layered_nav_filters a{margin-bottom:5px;}
.badge-frame .badge-inner, .badge-outline .badge-inner{color:#59b210;}
.product-main{padding:0px 0;}
.badge-container .badge{background:transparent;}
.product-images .is-larger{font-size:unset;}
.product-images .image-tools{display:none;}
.product-footer .woocommerce-tabs{background:#fff;}
.product-footer .container{width:unset;}
.product-footer .woocommerce-Tabs-panel{border:none;box-shadow:none;}
.product-footer .entry-content{margin-bottom:0;}
.product-footer .entry-content p{margin-bottom:0;margin-top:0;}
.product-footer .shop_attributes{margin-bottom:0;}
.product-footer .woocommerce-Tabs-panel th, .product-footer .woocommerce-Tabs-panel td{border-bottom:0;}
.product-footer .tab-panels{margin-left:10px;margin-right:10px;}
.woocommerce-product-attributes .woocommerce-product-attributes-item__value{padding-left:10px;}
.woocommerce-product-attributes .woocommerce-product-attributes-item__label{font-weight:bold;}
.product-info .product-short-description{display:none;}
.product-quick-view-container .reset_variations, .reset_variations{display:none;}
.product-quick-view-container .product-gallery.col{padding:30px !important;}
.grid-tools a{background-color:#59b210;}
.product-page-price{color:red;}
.box-image .quick-view{color:#fff !important;}
.pro-bg .product-small{margin-bottom:20px;}
.product-info .variations .label{font-size:inherit;font-weight:normal;display:table-cell;text-align:left;padding:inherit;}
.blog-wrapper{background:#fff;}
.foot-power .copy{color:#fff;}
.entry-image{text-align:center;}
.entry-image img{max-width:100%;width:auto;}
.entry-meta .byline{display:none;}
.blog-share .tooltip{position:unset;text-align:center;}
.archive-page-header{background:#28a74561 !important;margin-top:15px;padding:30px 0;}
.archive-page-header .page-title{margin:0;}
.archive-page-header .col{padding-bottom:0;}
.sticky{position:fixed;top:0;width:100%;z-index:99999999;}
.wpcf7 .wpcf7-not-valid-tip{background:#fff;margin-top:5px;border-radius:5px;}
.wpcf7 .wpcf7-not-valid-tip:after{border-bottom-color:#fff;}
.wpb_map_wraper iframe{width:100%;min-height:300px;}
footer.entry-meta{background:#fff;}
.product-gallery-slider .slide .easyzoom-flyout img{max-width:600px !important;width:600px !important;}
#slideshow0 .owl-item{max-height:550px;overflow:hidden;}
.clear{clear:both;}
.flickity-slider>div:not(.col) a img{min-height:150px;}
.logo-slider{margin-top:0;}
.page-wrapper{padding-top:0;padding-bottom:0;}
.orderby{min-width:150px;}
.shop-container .pro-bg{margin-top:0;}
.pro-bg .product-layout.col-xs-12{padding:0 7px;}
h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a{font-family:inherit !important;}
.wc_payment_method label{font-weight:bold;font-size:14px;}
.wc_payment_method .payment_box{font-size:14px;}
.error-404 .col{flex-basis:unset;max-width:unset;}
.error-404 .row{margin-left:0 !important;margin-right:0 !important;}
.product-layout .salepro, .badge-circle .badge-inner{color:#fff;background:red;border-radius:10px;padding:2px 5px;top:5px;left:5px;font-size:14px;line-height:14px;font-weight:normal;}
.text2line{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.product-small .pcart{padding:0;}
.badge-container .badge-circle{width:unset;height:unset;}
.badge-container{margin-top:5px;}
.box-text .product-title a{font-weight:600;}
.price-wrapper .amount{color:red;}
.blog-wrapper .post-item .box{border:solid 1px #ddd;border-radius:5px;margin-top:20px;}
#comments{display:none;}
.lcp_catlist{list-style:none;}
.lcp_catlist .lcp_thumbnail{max-width:70px;}
.lcp_catlist a{margin-right:10px;}
.block_tophits{margin:0;padding:0;list-style:none;}
.block_tophits li{margin-bottom:8px;padding-bottom:8px;border-bottom:dashed 1px #ddd;}
.block_tophits li a{padding-top:5px;padding-bottom:5px;color:#575454;font-weight:bold;}
.block_tophits img{margin-right:8px;max-width:80px !important;}
.block_tophits .show{display:block !important;}
.block_tophits .lcp_thumbnail{float:left;}
.block_tophits .img-thumbnail{background-color:#cccccc;border:none;border-radius:3px;max-width:100%;padding:0;}
.tophits_date .fa{font-size:12px;}
.tophits_date{color:#acacac;font-size:12px;margin-top:5px;padding-right:8px;}
.clearfix{clear:both;}
.block_tophits li{overflow:hidden;}
.hitstotal{color:#acacac;font-size:12px;margin-top:5px;padding-right:8px;}
.hitstotal .fa{font-size:12px;}
.comment{color:#acacac;font-size:12px;margin-top:5px;}
.comment .fa{font-size:12px;}
.summary{color:#898989;margin-top:5px;}
.entry-meta a{color:#17a2b8;}
.stmenu a{text-transform:capitalize;letter-spacing:0;}
.page-contact .wp-block-image img{max-width:650px;}
@media (max-width: 991px) and (min-width: 768px){}
@media (max-width: 576px){
.product-main .large-6{flex-basis:unset;padding-bottom:0;}
}
@media (max-width: 767px){
.middle-footer .btn-primary{top:0px;}
.mcart{top:unset;width:150px;}
.cate-menu{top:20px;}
#cart #cart-total{text-align:left;}
#cart{}
.product-grid .pcart, .product-grid .pcom{display:none;}
#menu .navbar-header{border:solid 1px #34a034;border-radius:3px;background:#59b210;}
}
@media (min-width: 768px){
.col-md-3, .col-md-6{flex:unset;max-width:unset;}
header{line-height:unset;}
.product-layout .button-group{height:0;}
.cate-menu .nav > li > a{padding:30px 5px;}
}
@media (min-width: 576px){
.middle-footer .col-sm-3{flex:unset;max-width:unset;}
#top-links{flex:unset;max-width:unset;}
} .fb-customerchat span iframe{right:0pt !important;bottom:45pt!important;width:280pt !important;}
.fb_customer_chat_bubble_pop_in{bottom:41pt !important;right:2pt!important;}
.fb-customerchat span .fb_customer_chat_bounce_in_v2_mobile_chat_started{max-height:80% !important;bottom:5pt !important;top:unset !important;max-width:300px !important;}
@media (max-width:375px) {
.fb-customerchat span .fb_customer_chat_bounce_in_v2_mobile_chat_started{width:80% !important;}
}
.fb_mobile_overlay_active{visibility:visible!important;}
.faa-shake.animated,
.faa-shake.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-shake{-webkit-animation:wrench 2.5s ease infinite;animation:wrench 2.5s ease infinite;}
@-webkit-keyframes wrench {
0%{-webkit-transform:rotate(-12deg);transform:rotate(-12deg);}
8%{-webkit-transform:rotate(12deg);transform:rotate(12deg);}
10%{-webkit-transform:rotate(24deg);transform:rotate(24deg);}
18%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg);}
20%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg);}
28%{-webkit-transform:rotate(24deg);transform:rotate(24deg);}
30%{-webkit-transform:rotate(24deg);transform:rotate(24deg);}
38%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg);}
40%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg);}
48%{-webkit-transform:rotate(24deg);transform:rotate(24deg);}
50%{-webkit-transform:rotate(24deg);transform:rotate(24deg);}
58%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg);}
60%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg);}
68%{-webkit-transform:rotate(24deg);transform:rotate(24deg);}
75%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@keyframes wrench {
0%{-webkit-transform:rotate(-12deg);-ms-transform:rotate(-12deg);transform:rotate(-12deg);}
8%{-webkit-transform:rotate(12deg);-ms-transform:rotate(12deg);transform:rotate(12deg);}
10%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg);}
18%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg);}
20%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg);}
28%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg);}
30%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg);}
38%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg);}
40%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg);}
48%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg);}
50%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg);}
58%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg);}
60%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg);}
68%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg);}
75%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
}
.faa-wrench.animated,
.faa-wrench.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-wrench{-webkit-animation:wrench 2.5s ease infinite;animation:wrench 2.5s ease infinite;transform-origin-x:90%;transform-origin-y:35%;transform-origin-z:initial;}
@-webkit-keyframes flash {
0%,
100%,
50%{opacity:1}
25%,
75%{opacity:0}
}
@keyframes flash {
0%,
100%,
50%{opacity:1}
25%,
75%{opacity:0}
}
.faa-flash.animated,
.faa-flash.animated-hover:hover,
.faa-parent.animated-hover:hover>.faa-flash{-webkit-animation:flash 2s ease infinite;animation:flash 2s ease infinite}
.faa-flash.animated-hover.faa-fast:hover,
.faa-flash.animated.faa-fast,
.faa-parent.animated-hover:hover>.faa-flash.faa-fast{-webkit-animation:flash 1s ease infinite;animation:flash 1s ease infinite}
.faa-flash.animated-hover.faa-slow:hover,
.faa-flash.animated.faa-slow,
.faa-parent.animated-hover:hover>.faa-flash.faa-slow{-webkit-animation:flash 3s ease infinite;animation:flash 3s ease infinite}
@media (min-width: 576px) and (max-width: 767px){
#content.col-sm-8{flex:unset;max-width:unset;}
}
@media (min-width: 768px) and (max-width: 991px){
.col-sm-8{flex:66.66666667%;max-width:66.66666667%;}
}
@media (min-width: 992px){
#content.col-sm-8{flex:unset;max-width:unset;}
.pro-bg .product-layout.col-xs-12{padding:0 10px;}
}
@media (max-width: 425px){
.pro-bg .product-layout{max-width:100%!important;width:100% !important;flex-basis:unset;}
}
@media (max-width: 599px){
.fbanner .col-xs-4{width:100%;}
.fbanner img{margin:0 auto;}
.chinhsach [class*="col-"]{width:100%;}
}
@media only screen and (max-width: 680px){
th.product-stock-status, .woocommerce-wishlist table.wishlist_table tbody tr td.product-stock-status{display:none;}
}
@media only screen and (max-width: 767px){
.col-xs-12{flex:0 0 100%;max-width:100%;}
#cart .tot{font-size:10px;}
.mcart{top:unset;bottom:15px;right:0;padding-bottom:0;}
} @media only screen and (max-width: 425px){
#logo img{
max-width: 100%;
}
#logo .item{
padding-left: 5px;
padding-right: 5px;
}
}