.block_tophits {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block_tophits li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: dashed 1px #ddd;
}

.block_tophits li a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #575454;
    font-weight: bold;
}

.block_tophits img {
    margin-right: 8px;
}

.block_tophits .img-thumbnail {
    background-color: #cccccc;
    border: none;
    border-radius: 3px;
    max-width: 100%;
    padding: 0;
}

.date .fa{
    font-size: 12px;
}

.date{
    color: #acacac;
    font-size: 12px;
    margin-top: 5px;
    padding-right: 8px;
}

.hitstotal{
    color: #acacac;
    font-size: 12px;
    margin-top: 5px;
    padding-right: 8px;
}
.hitstotal .fa{
    font-size: 12px;
}

.comment{
    color: #acacac;
    font-size: 12px;
    margin-top: 5px;
}
.comment .fa{
    font-size: 12px;
}

.summary{
    color: #898989;
    margin-top: 5px;
}

