.delivery {
    background: #a5a5a50d
}

#go-top,
.align-center,
.navbar-toggle {
    text-align: center
}

.navbar-toggle {
    font-size: 20px;
    border: none;
    float: inherit;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
    color: #fff;
    width: 100%
}

#shoping-cart-icon a {
    background: linear-gradient(to bottom, #82b2dc 0, #46d858 100%)!important;
    padding-right: 17px;
    padding-left: 17px
}

.navbar-toggle:before {
    content: "\f0c9";
    font-family: FontAwesome;
    margin-right: 10px
}

/*.navbar-right,
.row {
    margin: 0
}*/

.navbar-toggle[aria-expanded=true]:before {
    content: "\f00d";
    font-family: FontAwesome
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: green
}

#shoping-cart-icon i {
    color: #fff
}

#shoping-cart-icon span {
    position: absolute;
    top: 4px;
    left: 34px;
    padding: 2px 4px;
    background-color: red;
    color: #fff;
    font-size: 10px;
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    font-weight: 700
}

.navbar-header [class*=col-] {
    padding-right: 0;
    padding-left: 0
}

#menusite {
    background-color: #6BBC41!important;
    border-radius: 4px
}

#menusite .dropdown-menu {
    border: 0!important;
    border-top: 1px solid #fff;
    z-index: 9999;
    min-width: 200px;
}

#menusite .dropdown-menu li a:hover {
    background: #4CAF50!important;
    color: #fff!important;
    padding-left: 25px!important
}

#header .logo {
    position: relative;
    margin: 0;
    padding: 0
}

.logo-xs {
    width: 100%;
    max-width: 75px;
    height: auto
}

.flex {
    display: flex
}

.contact .nv-block-banners {
    margin-bottom: 0
}

@media (max-width:767px) {
    #header .logo {
        text-align: center
    }
}

@media (min-width:767px) {
    #header .contact .nv-block-banners {
        float: right
    }
}

.fix-more-padding {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.metismenu {
    background: 0 0;
    border: none;
    border-radius: 4px;
    box-shadow: none
}

.left {
    float: left
}

.right {
    float: right
}

.unselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.vd_red {
    color: #d41212
}

.vd_green {
    color: #50C300
}

.vd_primary {
    color: #004d85
}

.vd_pink {
    color: #9f224e
}

.homepage-section .panel-body {
    padding: 0 0 20px
}

.container {
    padding-left: 0;
    padding-right: 0
}

.metismenu .sidebar-nav {
    background: #6BBC41!important
}

.metismenu .sidebar-nav ul a:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f0da';
    margin-left: 7px;
    margin-right: 7px
}

.bold,
.entry-date {
    font-weight: 700
}

.block-title {
    border-bottom: #4CAF50 solid 2px;
    margin-top: 10px
}

.block-title span {
    line-height: 17px;
    display: inline-block;
    padding: 7px 12px 4px;
    background-color: #4CAF50;
    color: #fff
}

.metismenu .sidebar-nav ul ul a,
.metismenu .sidebar-nav ul ul a:active,
.metismenu .sidebar-nav ul ul a:focus,
.metismenu .sidebar-nav ul ul a:hover {
    background-color: #4CAF50!important
}

.block-title a {
    padding: 0!important;
    color: #fff
}

.td_block_inner {
    padding: 11px 0
}

.news_1 .td-module-thumb {
    max-height: 141px;
    overflow: hidden
}

.news_1 .td-module-title {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 6px
}

.news_1 .td-module-title a {
    color: inherit
}

.td-module-meta-info {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px
}

.td-excerpt {
    font-size: 12px
}

.news_1 {
    padding: 5px 7px 10px
}

img {
    max-width: 100%;
    height: auto
}

.block_tophits {
    margin: 0;
    padding: 0
}

.block_tophits img {
    margin-right: 8px
}

.block_tophits li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: dashed 1px #ddd
}

.block_tophits li a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4CAF50;
    font-weight: 700
}

.block_cart ul {
    -webkit-padding-start: 0
}

.block_cart .quantity {
    color: #707070
}

.block_cart .remove_cart {
    margin-left: 20px;
    border-radius: 3px;
    padding: 1px 2px;
    color: #FA3E3E
}

.remove_cart:hover {
    color: #fff!important
}

#go-top,
#search_xs {
    position: fixed;
    right: 5px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    color: #fff;
    z-index: 9999
}

.block_cart .product-price {
    margin-top: 5px
}

.icon_mg {
    margin-right: 5px
}

.navbar {
    margin-bottom: 0!important
}

.metismenu .sidebar-nav ul ul a {
    padding: 10px 30px
}

.delivery .nv-block-banners {
    background: 0 0;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-bottom: 0;
}

#go-top {
    display: none;
    font-size: 20px;
    bottom: 46px;
    width: 36px;
    background-color: #FF6990;
}

@media (min-width:768px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        max-width: 1190px
    }
    .sticky,
    .sticky .navbar-default {
        border-radius: 0!important
    }
}

#idmodals .modal-header {
    padding: 5px 10px 0 0;
    background: 0 0;
    border: none
}

#idmodals .modal-body {
    padding: 0 10px 10px;
    text-align: center
}

#idmodals .modal-body img {
    margin: auto
}

#body .co-1 {
    min-height: 300px
}

button,
input,
a,
select {
    outline: 0!important
}

.keywords {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px
}

.bottom_bar {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: right;
    cursor: pointer;
    z-index: 9999
}

#search_xs {
    font-size: 16px;
    bottom: 5px;
    width: 36px;
    text-align: center;
    background-color: #4CAF50
}

.caret{
    position: absolute;
    right: 8px;
    top: 19px;
    color: #fff;
}

#category .page-header h1{
    margin-bottom: 15px;
}

.font14{
    font-size: 14px;
}

/**/
