.block-title {
    border-bottom: #4CAF50 solid 2px;
    margin-top: 10px;
}

.block-title a {
    padding: 0px !important;
    color: #fff;
}

.block-title span {
    line-height: 17px;
    display: inline-block;
    padding: 7px 12px 4px 12px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.td_block_inner {
    padding: 11px 0;
}
