.row.row-noGutter-2 {
    margin-left: 0px;
    margin-right: 0px;
}

.heading {
    display: block;
    text-align: left !important;
    position: relative;
    padding: 0 0px 20px 0;
}

.heading h2 {
    padding: 0;
    font-weight: 400;
    display: inline-block;
}

.heading h2:before {
    content: "";
    width: 100%;
    height: 3px;
    background: transparent url(../../images/line.png?1521005735589) center;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
}

.heading h2:after {
    content: "";
    width: 20%;
    border-top: 3px solid #4CAF50;
    height: 3px;
    position: absolute;
    top: 40px;
    background: #fff;
    left: 0px;
    z-index: 1;
}

.title-head {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 9px;
    color: #2e3553;
    text-decoration: none;
}

.tab_link_modules .tabs-content {
    margin-top: 25px;
}

.content-tab-proindex {
    padding-top: 15px
}

.content-tab-proindex .wrap_item_list .wrp_item_small {
    margin-bottom: 15px;
}

.product-box {
    max-width: 280px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 15px 10px -15px #ccc;
}

.product-box {
    text-align: left;
    background: transparent;
    position: relative;
}

.product-box .product-thumbnail {
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #fff;
}

@media (min-width: 1200px){
    .product-box .product-thumbnail .image_link.display_flex {
        height: 180px !important;
    }
}

 .product-box .product-thumbnail .image_link.display_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 195px;
}

.product-box .product-thumbnail>a {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}

.summary_grid {
    height: 85px;
    text-align: left;
    visibility: hidden;
    text-decoration: none;
    position: absolute;
    top: 0;
    padding: 15px 20px;
    overflow: hidden;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #161a2b;
    opacity: 0.8;
    line-height: 1.7;
}

.summary_grid .rte {
    color: #fff;
    height: 89px;
    overflow: hidden;
    display: block;
}

.product-action-grid {
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 70%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -os-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    text-align: center;
    visibility: hidden;
    text-decoration: none;
}

.product-action-grid {
    display: block;
    text-align: center;
    margin-bottom: 0px;
}

.product-action-grid .button_wh_40.btn-cart {
    background: #f62d3e;
    padding: 0 15px;
}

.product-action-grid .button_wh_40 {
    box-shadow: none;
    border-radius: 3px;
    outline: none;
    border-style: none;
    background-color: #ccc;
    color: #fff;
    display: inline-block;
    margin: 0px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
}

.product-action-grid .button_wh_40.btn_view {
    padding: 0 15px;
    background: #f62d3e;
}

 .product-info.effect {
    z-index: 11;
    /*background: #fff;*/
}

 /*.pd{
    padding: 0 5px;
}*/

 /*.pd .product-info{
    padding: 2px;
}*/

 .pd .price-box{
    margin-top: 5px;
    color: #666666;
     font-size: 13px;
}
.product-box .product-info {
    overflow: hidden;
    z-index: 10;
    width: 100%;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    float: left;
}


.product-box .product-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;


}

.product-box .product-action-grid {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.product-box .product-thumbnail:hover .summary_grid {
    visibility: visible;
}

.product-box .product-thumbnail:hover .product-action-grid {
    visibility: visible;
}

@media (max-width: 767px){
    .hidden-xs {
        display: none!important;
    }
}

@media (max-width: 1199px){
    .product-action-grid {
        display: none !important;
    }
}

/*.product-price {
    color: #f62d3e;
    font-weight: bold;
}*/
.product-box .product-price {
    font-size: 15px;
    line-height: 26px;
    display: inline-block;
    font-weight: 700;
    /*margin-right: 5px;*/
}

.product-box .sale-off {
    background: #FF6990;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #fff;
    line-height: 1px;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.product-box .product-price-old {
    text-decoration: line-through;
    font-size: 12px;
    color: #888;
    line-height: 26px;
    font-weight: 400;
    margin-right: 10px;
}

.product-box .product-name a {
    text-decoration: none;
}

.block_news .product-name a {
    color: #a42b31;
}

@media (max-width: 767px){
     .product-box .product-thumbnail .image_link.display_flex {
        height: auto !important;
    }
}

.product-box{
    cursor: pointer;
    width: 100%;
    background: #a5a5a507;
}
.product-box .product-name {
    margin-top: 10px;
    line-height: 1.4;
}

.price-box .old-price {
    display: inline-block;
}

.price-box .special-price {
    display: inline-block;
}

.homepage-section .head{
    margin-top: 10px;
    margin-bottom: 15px;
    background: #a5a5a50d;
}

/*.homepage-section .panel-custom{
    width: 100%;
    float: left;
}*/

.homepage-section h2 {
    position: relative;
    height: 39px;
    overflow: hidden;
}

.homepage-section h2 span, .homepage-section h4 span{
    float: left;
    position: relative;
    font-size: 14px;
    padding: 10px 25px 10px 25px;
    color: #fff !important;
    background-color: #4CAF50;
}

.homepage-section h2 a{
    color: #fff;
    font-size: 14px !important;
}

.homepage-section h2 span1::after{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-left: 20px solid #4CAF50;
    border-top: 30px solid transparent;
    top: 0px;
    right: -10px;
}

.homepage-section h2 span1::before{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-left: 20px solid #4CAF50;
    border-bottom: 30px solid transparent;
    top: 0px;
    right: -10px;
}

.footer .panel-body {
    padding: 10px 15px;
}

.footer-session h4 span{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}