.slider-nav .item img,
img {
    max-width: 100%
}

.pro_default_temp .product_info .sale-off {
    background: #f62d3e;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    margin-left: 10px;
    font-size: 12px
}

.pro_default_temp .product-summary .rte {
    font-size: 14px;
    color: #707070;
    line-height: 24px
}

.pro_default_temp .discounts_money {
    color: #acacac;
    margin-left: 10px
}

/*.pro_default_temp .product-info {
    margin-top: 5px
}*/

.pro_default_temp .product-box .product-name a:hover {
    color: #f62d3e
}

.pro_default_temp .title_description {
    font-weight: 700
}

.pro_default_temp .title_product {
    font-size: 16px;
    color: #0101a9;
    text-transform: uppercase;
    margin-bottom: 15px
}

.pro_default_temp .money {
    font-size: 16px
}

.pro_default_temp #pnum {
    padding: 6px 12px;
    width: 80px;
    box-shadow: none;
}

.pro_default_temp .social_icon a {
    padding-left: 6px;
    padding-right: 6px
}

.pro_default_temp .img-thumbnail {
    border: none;
    padding: 0
}

.slider-for {
    overflow: hidden
}

img {
    height: auto
}

.slider-nav {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.slider-nav .slick-track {
    height: 50px
}

.slick-prev {
    left: -25px;
    color: green!important
}

.slick-next {
    right: -20px;
    color: green!important
}

.slider-nav .item {
    max-width: 87px;
    outline: 0;
    margin-right: 10px
}

.slider-nav .slick-current img {
    border: 2px solid green
}

.slick-slide img {
    display: inline
}

.slick-wrap {
    max-width: 360px;
    margin: auto
}

.slick-slider img {
    width: 100%
}

.slider-for .item {
    outline: 0!important
}

.pro_default_temp .tab-content {
    padding: 10px;
    border: 1px solid #ebebeb;
    background: #fff
}

.pro_default_temp .tab-content img {
    display: block;
    margin: auto
}

.pro_default_temp .product_info {
    list-style: none;
    -webkit-padding-start: 0
}

.pro_default_temp .product_info ul li {
    margin-bottom: 0
}

.pro_default_temp .product_info hr {
    margin-bottom: 15px;
    margin-top: 15px
}

.pro_default_temp .product_info ul {
    padding: 0
}

@media screen and (max-width:52.375em) {
    .pro_default_temp .tabs .nav a span {
        display: block!important
    }
}

.pro_default_temp .nav-tabs {
    border: none
}

.pro_default_temp .tabs .nav li {
    margin: 0!important;
    padding-right: 1px;
    border: 0!important;
    box-shadow: none!important
}

.tabs .nav li.active a {
    padding: 0;
    color: #333!important;
    font-weight: 700
}

.tabs .nav li.active a span {
    padding-bottom: 3px
}

.product-box .nav-tabs>li>a {
    margin-right: 0;
    background: #474c5f;
    color: #fff!important
}

.product-box .nav>li>a:focus,
.product-box .nav>li>a:hover {
    background: #474c5f;
    color: #fff
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
    outline: 0;
    color: #777;
    margin: 0;
    background: #fff;
    border: 1px solid #ddd
}

.tabs .panel {
    border: none;
    box-shadow: none
}

.tabs .panel .panel-body {
    padding: 0
}

#rate_list .row {
    margin-left: -5px;
    margin-right: -5px;
    border-bottom: 1px solid #ddd
}

.form-review .review_row {
    border: 0!important
}

#category .page-header h1 {
    font-size: 18px;
    font-weight: 700
}

.page-header h1 {
    margin: 0;
    padding: 0
}

.clear {
    clear: both
}

option {
    font-weight: 400;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0 2px 1px
}

select.input-sm {
    line-height: inherit
}

.sort .control-label {
    margin-right: 10px;
    display: inline
}

#sort {
    width: 150px;
    display: inline
}

.form-control {
    height: 30px
}

@media (min-width:1024px) {
    .search_h {
        min-height: 266px
    }
}

.search_h {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    align-items: center
}

.search_h .product-box {
    flex: 1 0 auto;
    flex-direction: column
}

.well {
    border: none;
    padding: 10px;
    background: #a5a5a50d;
    box-shadow: none;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 15px
}

@media (max-width:767px) {
    .news_column .panel-body,
    .panel-default .panel-body,
    .pro_default_temp .tab-content {
        padding: 5px!important
    }
}

@media (min-width:768px) {
    #category .sort {
        margin-top: -45px;
        float: right
    }
    .pro_default_temp .product_info {
        padding-left: 10px;
        padding-right: 10px
    }
}

.modal-dialog .modal-title {
    float: left
}

.pro_default_temp .tabs .nav li.active:before,
.tabs .nav li.active:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: 0 0!important
}

.pro_default_temp .social_icon a:hover,
.social_icon a:focus {
    text-decoration: none!important
}

.pro_default_temp .alert h4 {
    margin-top: 10px
}

.pro_default_temp .social_icon a:hover {
    color: #f62d3e;
    text-decoration: none;
    cursor: pointer
}

.pro_default_temp .social_icon a {
    color: #575454;
    text-decoration: none;
    background: 0 0
}

.pro_default_temp .social_icon {
    padding-bottom: 15px
}

.callorder {
    display: inline-block;
    text-align: center;
    font-size: 14px
}

.callorder .code {
    padding: 9px 15px;
    background: #5cb85c;
    color: #fff;
    font-size: 100%;
    border-radius: 4px
}

.btn-order {
    text-transform: uppercase;
    background: #e5101d;
    font-weight: 700;
    border: none;
    line-height: 1.4;
    vertical-align: inherit;
    padding: 8px 35px
}

.detail_pro_number {
    margin-top: 5px
}

.pro_default_temp h2,
.pro_default_temp h3,
.pro_default_temp h4 {
    line-height: 1.8;
    margin-bottom: 5px;
}

.pro_default_temp figure {
    float: inherit;
}

/*.pro_default_temp img {
    margin-bottom: 10px !important;
}*/

.pro_default_temp .product_info ul {
    list-style: none;
}

.pro_default_temp .tab-content ul {
    padding-inline-start: 15px;
}