.woocommerce-wishlist .wishlist-title{display:block;}
.woocommerce-checkout-review-order-table .cart_item th, .woocommerce-order-details .order_item th{text-transform:inherit;}
.wc-proceed-to-checkout .button.checkout-button, button[name="woocommerce_checkout_place_order"]{padding:7px 30px;}
.woocommerce-checkout-review-order-table tbody tr th,
.woocommerce-checkout-review-order-table tfoot tr th,
.woocommerce-table--order-details tfoot tr th{font-weight:normal;}
.woocommerce-checkout-review-order-table tbody{border-bottom:solid 1px #ccc;}
#customer_details .col{padding-bottom:0;}
.woocommerce-billing-fields{border:none;padding:0;}
.woocommerce-billing-fields label, .woocommerce-additional-fields label{font-weight:500;font-size:inherit;}
form.checkout h3{padding-top:0;color:#424242;}
#payment .place-order{padding:0;margin-top:10px;display:flex;}
.table_list_product th, .table_list_product td{border-top:0;}
.table_list_product .cart_item .product-name img{max-width:60px;}
.table_list_product .cart_item .product-name .amount{font-size:inherit;}
.woocommerce-billing-fields p{margin-bottom:1rem;}
.woocommerce-billing-fields .form-row label{margin-bottom:.3rem;}
.woocommerce-form-coupon-toggle span{font-style:italic;font-weight:normal;}
.woocommerce-form-coupon-toggle .showcoupon{font-weight:500;color:#17a2b8;}
.woocommerce-form-coupon{margin-bottom:0;margin-top:15px;}
.woocommerce-form-coupon p{margin-bottom:0;}
.woocommerce-checkout-review-order{border:solid 2px #60c300;}
.checkout_coupon input[name='coupon_code']{max-width:250px;}
.checkout_coupon_section{margin-bottom:15px;}
.checkout_coupon_section .woocommerce-error{margin-bottom:15px;margin-top:15px;}
.checkout_coupon_section .woocommerce-message{margin-bottom:15px;margin-top:15px;padding:10px 10px;}
ul.order_details li strong{font-weight:normal;}
.order_details:before, .order_details:after{background:-webkit-linear-gradient(transparent 0,transparent 0),-webkit-linear-gradient(135deg,#fff 33.33%,transparent 33.33%),-webkit-linear-gradient(45deg,#fff 33.33%,transparent 33.33%);}
.order_details{background:#fff;}
ul.order_details li{margin-bottom:0.75rem;font-weight:500;}
.shop_table.order_details thead{border-bottom:3px solid #eee;}
.shop_table.order_details .product-total{text-align:right;}
.woocommerce-order-overview__total .amount{color:red;}
.woocommerce-order-details tbody th{letter-spacing:0;}
.custom-control-label{cursor:pointer;}
.custom-control-input:checked~.custom-control-label::before{background-color:#00a000!important;border-color:#00a000!important;box-shadow:none;}
.custom-control-input:not(:disabled):active~.custom-control-label::before{background-color:#00a000 !important;border-color:#00a000!important;}
.woocommerce-checkout-payment .wc_payment_method{margin-bottom:.75rem;}
.woocommerce-checkout-payment .wc_payment_method:last-child{margin-bottom:0;}
.woocommerce-checkout-payment .wc_payment_method:last-child p{margin-bottom:0;}
.payment_methods li+li{padding-top:7px;border-top:1px dotted #ddd;}
#billing_address_2_field>label{
display: block;
}