{* BEGIN: main *}

{* BEGIN: loop *}

<rs-slide data-key="rs-{$BANNER.src_full}" data-title="Slide" data-thumb="" data-anim="ei:d;eo:d;s:d;r:default;t:papercut;sl:d;">
    <img loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201101%20531'%3E%3C/svg%3E" title="slider-13" width="1101" height="531" data-bg="f:auto;" class="rev-slidebg" data-no-retina data-lazy-src="{$BANNER.src_full}">
    <noscript><img loading="lazy" src="{$BANNER.src_full}" title="slider-13" width="1101" height="531" data-bg="f:auto;" class="rev-slidebg" data-no-retina></noscript>
</rs-slide>

{* BEGIN: loop *}

{* END: main *}