{*
* REQUIRED class to update cart number
* class .cart_refragment  -> .cart_count
*}

{* BEGIN: main *}
<a href="{$LINK}" title="{$TITLE}">
	<i class="fa fa-shopping-basket"></i> <span class="hidden-xs">{$TEXT}</span>
	<div class="cart-right cart_refragment">
		<span class="count_item_pr cart_count"></span>
	</div>
</a>

{* END: main *}


