{* BEGIN: main *}
{* BEGIN: top_menu *}
<div class="col-xs-4 ">
        <a class="cs_item" href="{$TOP_MENU->url}" target="_blank" title="{$TOP_MENU->description}">
            <i class="{$TOP_MENU->classes}"></i> {$TOP_MENU->title_clean}
        </a>
</div>
{* END: top_menu *}
{* END: main *}