{* BEGIN: main *}
    {* BEGIN: top_menu *}
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="{$TOP_MENU->url}">{$TOP_MENU->title}</a>
    </li>
    {* END: top_menu *}
{* END: main *}