{* BEGIN: main *}
<a href="{$home_url}" title="{$site_title}" rel="home">
    <img src="{$logo_src}" class="image wp-image-4563  attachment-full size-full" alt="{$site_title}" style="width: {$logo_width}px"/>
</a>
{* END: main *}
