{* BEGIN: main *}
<a href="{$home_url}" title="{$site_title}" rel="home">
    <img src="{$logo_src}" class="logo-xs d-inline-block d-md-none" alt="{$site_title}" data-aos="zoom-in" data-aos-duration="1000" width="132" height="105" />
</a>
{* END: main *}
